<html>
<head>
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<STYLE TYPE="text/css">
	table	{ font-size: 12px; }
	a:hover { color: red;}
	a		{ font-size: 12px; }
	form	{ font-size: 12px; }
	div	{ font-size: 12px; }
	img	{ vertical-align: middle;}
	.size1	{ font-size: 8px }
	.size2	{ font-size: 10px }
	.size3	{ font-size: 12px }
	.size4	{ font-size: 14px }
	.size5	{ font-size: 18px }
	.size6	{ font-size: 20px }
	.size7	{ font-size: 24px }
	.menu	{
		BACKGROUND: #F5F5DC;
		BORDER-RIGHT: #8C7633 2px solid;
		COLOR: #000000;
		PADDING-LEFT: 2px;
	}
</STYLE>
<title>$COPYRIGHT$</title>
</head>

<body bgcolor="#FFFFFF" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">

<table border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="100%" bgcolor="#FFCC66" class="menu">
      <p align="center" class="size4"><font color="#555533">MP Form Mail CGI<br>       
      Professional版<br>
      管理メニュー</font>
      <hr>
      <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=top" target="main">Top</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=syscheck" target="main">システム診断</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=conf1" target="main">基本設定</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=conf2" target="main">機能設定</a></td>      
        </tr>
        <tr>
          <td width="100%" height="11"><font color="#555533">■</font> <a href="admin.cgi?action=itemlist" target="main">項目設定</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=checklist" target="main">再入力設定</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=maileditor" target="main">メール編集</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=replyeditor" target="main">返信メール編集</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=confirmeditor" target="main">確認画面編集</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=thankseditor" target="main">完了画面編集</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=erroreditor" target="main">エラー画面編集</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="admin.cgi?action=logadmin" target="main">ログ管理</a></td>      
        </tr>
        <tr>
          <td width="100%" height="12"></td>    
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font>   <a href="admin.cgi?action=passchangeform" target="main">パスワード変更</a></td>    
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font>  <a href="admin.cgi?action=logout" target="main">ログアウト</a></td>    
        </tr>
      </table>
      <hr>
      <font color="#555533">
      Online Document</font>      
      <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="http://www.futomi.com/library/manual/mpmailp/index.html" target="_blank">マニュアル</a></td>     
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font> <a href="http://www.futomi.com/library/faq/index.html" target="_blank">FAQ</a></td>     
        </tr>
        <tr>
          <td width="100%" height="12"><font color="#555533">■</font>  <a href="http://www.futomi.com/library/mpmailp.html" target="_blank">最新版</a></td>    
        </tr>
      </table>
      <hr>
      $COPYRIGHT1$
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>
<br>
</body>
</html>


