<html>
<head>
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<title>futomi's CGI Cafe - MP Form Mail CGI Professional Edition</title>
<STYLE TYPE="text/css">
table  { font-size: 12px; }
a:hover { color: red;}
a    { font-size: 12px; }
form  { font-size: 12px; }
p    { font-size: 12px; }
</STYLE>

</head>

<body>

  <center>
  <p>　</p>
  <table border="0" width="400" cellpadding="10">
    <tr>
      <td bgcolor="#f5f5dc">ユーザー名、パスワードを変更いたしました。新しいユーザー名とパスワードを使って、再度、ログオンして下さい。</td>
    </tr>
  </table>
  <br>
  <a href="admin.cgi" target="_top">ログオン画面へ</a>
  <hr>
  $COPYRIGHT2$</center> 

</body>

</html>
