@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2015
*   PROPOLIFE
*
*   news.css
*
--------------------------------------------------------------------------------*/
#topic_path{
    margin-bottom: 35px;
}

#contents{
    padding-bottom: 238px;
    background-image:url(../images/news/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#section_title h2{
    padding: 0 30px !important;
    text-align: center;
    line-height: 1em;
    position: relative;
}

#section_title h2 img{
    width: 100%;
    max-width: 402px;
    height: auto;
    position: relative;
    z-index: 1;
}

#section_title .ruby{ margin: 14px 0 10px 0; font-size: 18px;}
@media screen and (max-width: 768px){ #section_title .ruby{ margin: 15px 0; font-size: 16px;} }
@media screen and (max-width: 480px){ #section_title .ruby{ margin: 10px 0; font-size: 11px;} }

#section_estate{
    max-width: 880px;
    margin: 0 auto;
    letter-spacing: 0;
}

#section_estate dl{
    margin: 0 0 10px 0;
    overflow: hidden;
}

#section_estate dt{
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #222;
    line-height: 1em;
}

#section_estate .ico_new{
    padding: 4px 12px 4px 13px;
    margin: 0 10px 0 0;
    font-size: 13px;
    background-color: #f20000;
    color: #fff;
    letter-spacing: .005em;
}

.for_ie #section_estate .ico_new{
    padding-top: 1px;
    padding-bottom: 1px;
}

#section_estate dd{
    margin: 0 0 25px 0;
}

/* -------------------------------------------------------
*
    for 768px;
*
------------------------------------------------------- */
@media screen and (max-width: 768px) {
    
#contents{
    padding-bottom: 190px;
    background-image:url(../images/news/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 160px;
}

#section_estate dd{
    line-height: 1.8em;
    margin: 0 0 30px 0;
}

}


/* -------------------------------------------------------
*
    for 480px;
*
------------------------------------------------------- */
@media screen and (max-width: 480px) {
    
#section_estate .ico_new{
    padding: 3px 9px 3px 10px;
    margin: 0 10px 0 0;
    font-size: 11px;
    background-color: #f20000;
    color: #fff;
    letter-spacing: .005em;
}

}