<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nakanotetsugakudo/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nakanotetsugakudo/wordpress/index.php [L]
</IfModule>
