@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.headLine02 {
	margin-bottom: 82px;
}

#about {
	margin: 0 auto;
	width: 890px;
}



@media all and (min-width: 0px) and (max-width: 640px) {
	.headLine02 {
		margin-bottom: 50px;
	}
	
	#about {
		width: auto;
	}
}