@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.headLine02 {
	margin-bottom: 80px;
}

#officer {
	margin: 0 auto;
	width: 896px;
}

#main .h4Ttl {
	margin-bottom: 27px;
	font-size: 2rem;
}

.comTable {
	margin-bottom: 55px;
}

.comTable th {
	padding: 12px 10px 8px 22px;
}

.comTable td {
	padding: 12px 10px 8px 40px;
}



@media all and (min-width: 0px) and (max-width: 640px) {
	
	#officer {
		width: auto;
	}
		
	#pagePath {
		margin-bottom: 35px;
	}
	
	.headLine02 {
		margin-bottom: 50px;
	}
	
	#main .h4Ttl {
		margin-bottom: 21px;
		font-size: 1.3rem;
	}
	
	.comTable {
		margin-bottom: 30px;
	}
	
	.comTable th {
		padding: 14px 10px;
		width: 36%;
	}
	
	.comTable td {
		padding: 14px 5px 14px 14px;
		width: 64%;
	}
}