@media (min-width: 1200px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 823px) {
	
}
@media (max-width: 812px) {
	
}

@media (max-width: 800px) {
	
}

@media (max-width: 768px) {
	header {
		text-align: center;
		padding: 15px 0;
	}
	.section_top h1 {
		font-size: 26px;
		line-height: 1.5em;
	}
	.section_top .lead, .section_consultation .lead {
		font-size: 16px;
	}
	.main_title {
		font-size: 22px;
		line-height: 1.5em;
	}
	.title {
		font-size: 20px;
	}
	.contruction_item {
		margin-bottom: 30px;
	}
	.contruction_item h2 {
		min-height: auto;
		margin-bottom: 10px;
	}
	.section_consultation h3 {
		font-size: 20px;
	}
	.box_location_item {
		padding: 0;
		min-height: auto;
	}
	.box_location_item.no_border::after {
		display: none;
	}
	.box_thanks {
		width: 100%;
		margin-top: 0;
	}
	.contruction_item_img, .contruction_item_img img {
		height: 259px;
	}
	.w_gotocontact {
		text-align: center;
		margin-top: 15px;
	}
	.box_pattern {
		margin-bottom: 15px;
	}
}

@media (max-width: 736px) {

}
@media (min-width: 576px) {
	
}
@media (max-width: 568px) {
	
}
@media (max-width: 414px) {
	.section_top .top_bg{
		background-image: url('../images/1x/top.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 200px;
	}
	.section_top .top_bg img{display: none;}
	.section_top h1 {font-size: 19px;}
	.section_top .lead {font-size: 13px;}
	.section_consultation .lead {font-size: 14px;}
	.contruction_item h2 {font-size: 15px;}
	.form-check {text-align: center;}
	.btnSubmit.next {width: 150px; margin: 30px 5px;}
	br.sp-break{content: normal}
	br.sp-break:after{content: none}
	footer{
	  font-size: 9pt;
	}
}
@media (max-width: 375px) {
	
}
@media (max-width: 360px) {
	
}

@media (max-width: 320px) {
	
}

@supports (-webkit-overflow-scrolling: touch) {
    
}

@supports not (-webkit-overflow-scrolling: touch) {
  	/* CSS for other than iOS devices */ 
  	
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	
}