body p, body li  { font-size:11px; line-height:1.6; font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

#pageHeader h2 { font-size:10px; font-weight:bold; color:#800000; margin-top:65px; }

#logo { margin-top:18px; }
#navcontainer ul li { font-weight:bold; font-size:12px; }

p.checked { background-repeat:no-repeat; padding-left:32px; padding-top:1px; line-height:2em; font-size:14px;  }

#main_contents h1 { font-size:14px; font-weight:bold; border:1px solid #922E41; border-left:4px solid #922E41; width:283px; padding:1px 0px 4px 7px; margin-bottom:8px; letter-spacing:normal; }

#sidebar h1 { font-size:14px; font-weight:bold; border:1px solid #922E41; border-left:4px solid #922E41; width:225px; padding:1px 0px 4px 7px; margin-left:-12px; margin-bottom:8px; letter-spacing:0.1em; }
#sidebar p { margin-left:-10px; }

h3.item_category { height:33px; background-image:url(http://www.oki-ig.com/images/leaves.png); background-repeat:no-repeat; background-position:0px 3px; font-size:1.4em; font-weight:bold; padding-left:45px; padding-top:2px; margin-top:20px; margin-bottom:15px; }

p.our_items { height:33px; background-image:url(http://www.oki-ig.com/images/our_items.gif); background-repeat:no-repeat; background-position:0px 3px; font-size:11px; font-weight:normal; padding-left:72px; padding-top:5px; margin-top:20px; margin-bottom:15px; }

#footer .container p a { font-size:10px; }
#rw_email_contact { color:#922E41;font-weight:bold; text-decoration:none }
#rw_email_contact:hover { color:#fff;font-weight:bold; text-decoration:underline }
.image-lower { line-height:16px; }
.image-lower img { vertical-align:middle; }

.table295 { width:295px; }
.table295 ul, .table295 li { margin: 0px; padding: 0px; }
.table295 ul li { display:inline; float:left; height:20px; }
.table295 ul .r1t { font-size:10px; font-weight:bold; width:91px; border:1px gray solid; border-right:1px #fff solid; padding-top:4px; padding-bottom:4px; background-color:#ccc; text-align:center;  float:left; }
.table295 ul .r2t { font-size:10px; font-weight:bold; width:100px; border:1px gray solid; border-right:1px #fff solid; border-left:1px #fff solid; padding-top:4px; padding-bottom:4px; background-color:#ccc; text-align:center;  float:left; margin-left:-1px; }
.table295 ul .r3t { font-size:10px; font-weight:bold; width:100px; border:1px gray solid; border-left:1px #fff solid; padding-top:4px; padding-bottom:4px; background-color:#ccc; text-align:center; margin-left:-1px; }
.table295 ul .r1m { font-size:10px; font-weight:bold; width:91px; border:1px gray solid; padding-top:4px; padding-bottom:4px; background-color:#ccc; text-align:center; float:left; margin-top:-1px; }
.table295 ul .r2m { font-size:10px; font-weight:normal; width:100px; border:1px gray solid;  border-left:1px #fff solid; border-left:1px #fff solid; padding-top:4px; padding-bottom:4px; background-color:#fff; text-align:center; float:left; margin-left:-1px; margin-top:-1px; }
.table295 ul .r3m { font-size:10px; font-weight:normal; width:100px; border:1px gray solid;  border-left:1px lightgray solid;  padding-top:4px; padding-bottom:4px; background-color:#fff; text-align:center; margin-left:-1px; margin-top:-1px; }

.unit_tag {color:#fff; background-color:gray; padding:2px 4px; }

/* ************************************************ 
 *	Social Box
 * ************************************************ */
.socialBox { width:820px; margin:0px 15px 27px; }
.socialBox ul { margin: 0px; padding: 0px; }
.socialBox li { margin: 0px; padding: 0px; }
.socialBox ul li { display: inline; float: left; margin-right: 10px; margin-bottom: 3px; }
