@media (min-width: 1200px) {
	.container {
		max-width: 894px;
	}
}

@media (max-width: 1024px) {
	.success-submit {
	    width: 70%;
	}
}

@media (max-width: 812px) {
	
}

@media (max-width: 800px) {

}

@media (max-width: 768px) {
	
	.header-intro {text-align: center;}
    .header-logo {display: block; margin: 0 auto;}
    .header-contact {float: left; margin-top: 58px;}
    .header-phone {float: right; margin-top: 40px;}

	/* top */
	.logo {
		display: block;
	}
	.job {
		line-height: 1.5em;
		font-size: 0.75em;
	}
	.nav-tabs {
		display: block;
	}
	.nav-tabs .nav-link {
		width: 50%;
		display: block;
		float: left;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs .nav-link:nth-child(1), .nav-tabs .nav-link:nth-child(3) {
		border-right: 0;
	}
	.nav-tabs .nav-link:last-child {
		width: 100%;
	}


	/* .section_top */
	.section_top {
		margin-top: 30px;
	}

	/* Footer */
	footer ul li a {
		padding-left: 10px;
		padding-right: 10px;
		font-size: .7em;
	}
	.copyright {
		font-size: .7em;
	}


	/* form */
	.section_content_top ul.list li {
		font-size: .8em;
	}
	.label_sub {
		font-size: .7em;
	}
	.frm_general label {
		font-size: .7em;
	}
	.section_content_top {
		padding: 30px 0;
	}
	.section_content_top h1, .section_content_body h2, .section_content_top h2 {
		font-size: 1.3em;
	}
	.section_content_top h2 {
		margin-top: 15px;
	}
	.steps {
		margin: 30px 0;
	}
	.section_content_body {
		padding: 30px 0;
	}
	.frm_general_content {
		width: 93%;
	}

	.flex-fill {
		flex: inherit !important;
	}
	.btnAgree {
		width: 90%;
		font-size: .9em;
	}
	.frm_general .form-group {
		margin-bottom: 15px;
	}
	.data-confirm .form-group {
	    margin-bottom: 0;
	}
	.primary_policy {
		font-size: .6em;
	}
	

	.section_thankspage ul {
		width: 100%;
		overflow: hidden;
	}
	.section_thankspage ul li {
		margin-right: 20px;
		width: 24%;
	}
	.section_thankspage ul li a {
		padding: 10px 0 10px 10px;
		font-size: .8em;
	}
	.section_thankspage ul li a::after {
		border-width: 22px;
		margin-top: -22px;
	}
	.box_thanks_content h2 {
		font-size: 1.5em;
	}
	.box_thanks_content h3 {
		font-size: 1.3em;
	}
	.box_thanks_content {
		padding: 15px;
	}
	.box_thanks_content p {
		font-size: .8em;
	}
	
	.success-submit {
	    width: 80%;
	}

	.frm-confirm .btn {
		width: 80%
	}

}

@media (min-width: 768px) {

}
@media (max-width: 736px) {
	
}

@media (max-width: 667px) {
	
}

@media screen and (max-width: 520px){
    .cancellation .content p {font-size: 19pt;}
}


@media (max-width: 425px) {
	.frm-confirm .btn {
		width: 100%
	}
}

@media (max-width: 414px) {
	.banner-content {right: inherit; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;}
    .banner-content h3 {font-size: 18pt}
    .intro p {font-size: 17px;}
    .news .content {padding: 20px;}
    .job {text-align: center;}
    .logo {text-align: center;}
    .header_contact {float: none; clear: both; margin-top: 25px;}
    .header_left {float: left; margin-top: 20px; width: 45%;}
    .header_right {float: right; width: 50%;}

    .block-title {margin: 15px auto 12px;}

    .company-info table th, .recruit table th {
        width: 100px;
        font-size: 13px;
    }

    .company-info table td, .recruit table td {
        font-size: 13px;
    }

    .company-info .social .instagram-page img {
        width: 100%;
        height: auto;
    }
    .recruit .content span {font-size: 11pt;}

    .cancellation .content {margin: 20px auto 40px;}

    .btnAgree {width: 100%;}

    .btnAgree .i_rightwhite.rotate {top: 33%;}
	
	.success-submit {width: 95%; font-size: 11pt;}

    footer ul li a { padding: 0 0.6rem; font-size: 11px; font-weight: bold;}
    .copyright {font-weight: bold;}
}

@media (max-width: 375px) {
  	.header-contact a {width: 165px; font-size: 11pt;}
    .banner-content h3 {font-size: 18pt;}

    .btnAgree .i_rightwhite.rotate {top: 30%;}
    .btnAgree.cfr:first-child {padding-right: 0;}
    .btnAgree.cfr:last-child {padding-left: 0;}

    footer ul li a {padding: 0 0.4rem; font-size: 11px;}

    .btnAuto {
    	font-size: .75rem;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: block;
    }
}



@media not all and (min-resolution:.001dpcm) { 
    
}

@supports (-webkit-overflow-scrolling: touch) {
    
}

@supports not (-webkit-overflow-scrolling: touch) {
  
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	/* body {
		font-family: 'Noto Sans JP', '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ, sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans JP', '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;} */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		font-family: 'Noto Sans JP', '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ, sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans JP', '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;}
}