@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2015
*   PROPOLIFE
*
*   buy.css
*
--------------------------------------------------------------------------------*/


.container .page_content .content.buy {
    background-color: #eee;
    padding: 20px 0;
}

.container .page_content .content.buy ol, ul{
    list-style: none;
}

.container .page_content .content.buy h2{

}

.container .page_content .content.buy #topic_path{
    margin-bottom: 15px;
}

.container .page_content .content.buy #section_title{
    clear: both;
    text-align: center;
    position: relative;
}

.container .page_content .content.buy #section_title h2{
    background: none;
    border:none;
    padding: 0 0 3px;
    margin: 0 0 25px 0;
    /*padding: 0 50px !important;*/
    text-align: center;
    line-height: 1em;
    position: relative;
}

.container .page_content .content.buy #section_title h2 img{
    width: 100%;
    max-width: 513px;
    height: auto;
    position: relative;
    z-index: 1;
}

.container .page_content .content.buy #section_title .ruby{ margin: 14px 0 15px 0; font-size: 20px;}
@media screen and (max-width: 768px){ .container .page_content .content.buy #section_title .ruby{ margin: 15px 0; font-size: 16px;} }
@media screen and (max-width: 480px){ .container .page_content .content.buy #section_title .ruby{ margin: 10px 0; font-size: 11px;} }

.container .page_content .content.buy #section_title .line{
    width: 247px;
    height: 6px;
    margin: 0 auto 60px auto;
    background-color: #fff;
}

.container .page_content .content.buy #contents_inner {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', '游ゴシック','YuGothic', Meiryo,メイリオ,sans-serif;
    /*padding: 0 30px;*/
}

/* ---------- #section_telephone ---------- */
.container .page_content .content.buy .section_telephone{
    max-width: 880px;
    margin: 0 auto 75px auto;
    text-align: center;
    overflow: hidden;
}

.container .page_content .content.buy .section_telephone h3{
    padding: 0 0 25px 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .06em;
    border-bottom: 1px solid #a0a0a0;
    line-height: 1em;
}

.container .page_content .content.buy .section_telephone .telephone_list{
    padding: 30px 0 7px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #a0a0a0;
    overflow: hidden;
}

.container .page_content .content.buy .section_telephone ul{
    width: 770px;
    display: inline-block;
    margin: 0 -30px 0 0;
}

.container .page_content .content.buy .section_telephone li{
    width: 340px;
    margin: 0 0 7px 0;
    float: left;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.container .page_content .content.buy .section_telephone li h4{
    color: #771116;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .065em;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
}

.container .page_content .content.buy .section_telephone li p{
    margin: 0 0 0 -5px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: .065em;
    display: inline-block;
    vertical-align: top;
}

.container .page_content .content.buy .sp .section_telephone li p{
    border-bottom: 1px solid #000;
}

.container .page_content .content.buy .sp .section_telephone li p a{
    text-decoration: none;
}

.container .page_content .content.buy .sp .section_telephone li p a:hover{
    color: #777;
}

.container .page_content .content.buy .section_telephone .hours{
    clear: both;
    margin: 0 0 21px 0;
    padding: 0 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .065em;
    border-bottom: 1px solid #a0a0a0;
}

.container .page_content .content.buy .section_telephone .btn_request{
    width: 380px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    border: 3px solid #1f1f1f;
    text-align: center;
    font-family:'游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    transition: background .1s ease;
}

.container .page_content .content.buy .section_telephone .btn_request a{
    width: 380px;
    padding: 19px 0;
    text-decoration: none;
    display: block;
}

.container .page_content .content.buy .section_telephone .btn_request a:visited,
.container .page_content .content.buy .section_telephone .btn_request a:link{
    color: #000;
    text-decoration: none;
}

.container .page_content .content.buy .section_telephone .btn_request:hover{
    background-color: #f5f5f5;
}

.container .page_content .content.buy .section_telephone .txt{
    margin: 85px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .06em;
    white-space: nowrap;
}


/* ---------- #section_buy ---------- */
.container .page_content .content.buy #section_buy{
    margin: 0 auto;
}

.container .page_content .content.buy #purchase_list{
    width: 100%;
    max-width: 880px;
    margin: 0 auto 100px auto;
    text-align: center;
}

.container .page_content .content.buy #purchase_list ul{
    width: 100%;
    letter-spacing: -.40em;
    overflow: hidden;
    padding: 0;
}

.container .page_content .content.buy #purchase_list li{
    width: 33%;
    float: left;
    letter-spacing: 0;
    vertical-align: top;
}

.container .page_content .content.buy #purchase_list li .bg01 p{ background-color: #f8f8f8;}
.container .page_content .content.buy #purchase_list li .bg02 p{ background-color: #fff;}

.container .page_content .content.buy #purchase_list li h3{
    width: 292px;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
    background-color: #771116;
    font-size: 21px;
    line-height: 1.2em;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-right: 1px solid #fff;
}

.container .page_content .content.buy #purchase_list li.border_none h3{
    border: none;
}

.container .page_content .content.buy #purchase_list li p{
    height: 130px;
    padding: 0 10px;
    display: table;
    vertical-align: middle;
    font-size: 16px;
}

.container .page_content .content.buy #purchase_list li span{
    width: 292px;
    display: table-cell;
    vertical-align: middle;
}

.container .page_content .content.buy #point{
    clear: both;
    text-align: center;
    margin: 0 0 120px 0;
}

.container .page_content .content.buy #point h3{
    margin: 0 0 50px 0;
    font-size: 34px;
    font-weight: bold;
}

.container .page_content .content.buy #point ul{
    width: auto;
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .container .page_content .content.buy #point ul{
        width: 420px;
        padding: 0 0 0 20px;
        margin: 0 0 -20px 0;
    }

    .container .page_content .content.buy #point li{
        height: 210px;
    }
}

.container .page_content .content.buy #point li{
    width: 190px;
    margin: 0 20px 0 0;
    float: left;
}

.container .page_content .content.buy #point li:last-child{
    margin: 0;
}

.container .page_content .content.buy #purchase_area{
    clear: both;
    text-align: center;
    margin: 0 0 135px 0;
}

.container .page_content .content.buy #purchase_area .pc{ display: block;}
.container .page_content .content.buy #purchase_area .sp{ display: none;}

.container .page_content .content.buy #purchase_area h3{
    margin: 0 0 25px 0;
    font-size: 34px;
    font-weight: bold;
}

.container .page_content .content.buy #purchase_area .area{
    margin: 0 0 40px 0;
    font-size: 18px;
}

.container .page_content .content.buy #purchase_area .map{
    max-width: 1200px;
    margin: 0 auto;
}

.container .page_content .content.buy #purchase_area .map img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container .page_content .content.buy #estate_list{
    max-width: 880px;
    margin: 0 auto 70px auto;
    text-align: center;
}

.container .page_content .content.buy #estate_list h3{
    margin: 0 0 30px 0;
    font-size: 34px;
    font-weight: bold;
    line-height: 1em;
}

.container .page_content .content.buy #estate_list ul{
    margin: 0 0 0 -20px;
    display: inline-block;
    overflow: hidden;
    letter-spacing: -.40em;
    padding: 0;
}

.container .page_content .content.buy #estate_list li{
    width: 205px;
    display: inline-block;
    margin: 0 0 40px 20px;
    text-align: left;
    letter-spacing: normal;
    vertical-align: top;
}

.container .page_content .content.buy #estate_list li .pic{
    margin: 0 0 15px 0;
}

.container .page_content .content.buy #estate_list li h4{
    height: 50px;
    margin: 0 0 5px 0;
    display: table;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: .165em;
}

.container .page_content .content.buy #estate_list li h4 span{
    display: table-cell;
    vertical-align: top;
}

.container .page_content .content.buy #estate_list li p{
    font-size: 12px;
    line-height: 1.3em;
    letter-spacing: .1em;
}


 -------------------------------------------------------
*
    for 900px;
*
-------------------------------------------------------
@media screen and (max-width: 900px) {

.container .page_content .content.buy #purchase_list li p{
    font-size: 14px;
    padding: 0;
}

}

/* -------------------------------------------------------
*
    for 820px;
*
------------------------------------------------------- */
@media screen and (max-width: 820px) {
.container .page_content .content.buy .section_telephone .telephone_list{
    margin: 0 0 7px 0;
}

.container .page_content .content.buy .section_telephone ul{
    width: inherit;
    padding: 0;
    margin: 0;
}

.container .page_content .content.buy .section_telephone li{
    width: 100%;
    margin: 0 0 20px 0;
    float: none;
    text-align: center;
}
}

/* -------------------------------------------------------
*
    for 768px;
*
------------------------------------------------------- */
@media screen and (max-width: 768px) {

#contents{
    padding-left: 0;
    padding-right: 0;
}

.container .page_content .content.buy #section_title h2{
    padding: 0 15px;
}

.container .page_content .content.buy #topic_path{
    padding-left: 15px;
    padding-right: 15px;
}

.container .page_content .content.buy .section_telephone{
    max-width: inherit;
    margin: -10px 0 65px 0;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
}

.container .page_content .content.buy .section_telephone.btm{
    margin: 0 0 25px 0;
    padding-top: 70px;
    background-color: #e3e3e3;
}

.container .page_content .content.buy .section_telephone h3{
    padding: 0 0 25px 0;
    line-height: 1em;
    white-space: nowrap;
}

.container .page_content .content.buy .section_telephone .txt{
    margin: 70px 0 80px 0;
}

@media screen and (max-width: 520px) {
.container .page_content .content.buy .section_telephone h3{
    font-size: 24px;
}

.container .page_content .content.buy .section_telephone .txt{
    font-size: 20px !important;
}

}

.container .page_content .content.buy #purchase_list{
    margin: 0 0 90px 0;
}

.container .page_content .content.buy #purchase_list li{
    width: 50%;
    display: inline-block;
}

.container .page_content .content.buy #purchase_list li .bg01.sp_bg p{ background-color: #fff;}
.container .page_content .content.buy #purchase_list li .bg02.sp_bg p{ background-color: #f8f8f8;}

.container .page_content .content.buy #purchase_list li h3{
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #771116;
    font-size: 16px;
}

.container .page_content .content.buy #purchase_list li h3 span{
    width: 400px;
    height: 90px;
    display: table-cell;
    border-right: 1px solid #fff;
}

.container .page_content .content.buy #purchase_list .sp_border_none h3 span{ border: none;}


.container .page_content .content.buy #purchase_list li span{
    width: 400px;
    display: table-cell;
    vertical-align: middle;
}

.container .page_content .content.buy #point{
    margin-bottom: 50px;
}

.container .page_content .content.buy #point h3{
    font-size: 28px;
}

.container .page_content .content.buy #point ul{
    width: 420px;
    display: inline-block;
    overflow: hidden;
}

.container .page_content .content.buy #point li{
    width: 190px;
    margin: 0 20px 0 0;
}

.container .page_content .content.buy #purchase_area{
    padding: 70px 0 100px 0;
    margin-bottom: 80px;
    background-color: #e3e3e3;
}

.container .page_content .content.buy #purchase_area .map{
    padding: 0 30px;
}
.container .page_content .content.buy #purchase_area .pc{ display: none;}
.container .page_content .content.buy #purchase_area .sp{ display: block;}


.container .page_content .content.buy #estate_list{
    margin-bottom: 10px;
}

}


/* -------------------------------------------------------
*
    for 480px;
*
------------------------------------------------------- */
@media screen and (max-width: 480px) {


.container .page_content .content.buy #section_title h2{
    margin-bottom: 0;
    padding: 0 30px;
}

.container .page_content .content.buy #section_title .line{
    width: 120px;
    height: 3px;
    margin: 0 auto 30px auto;
    background-color: #fff;
}

.container .page_content .content.buy .section_telephone{
    margin: 10px 0 33px 0;
}

.container .page_content .content.buy .section_telephone.btm{
    padding-top: 35px;
    margin: 0 0 20px 0;
    background-color: #e3e3e3;
}

.container .page_content .content.buy .section_telephone h3{
    margin: 0 0  0;
    padding: 0 0 14px 0;
    font-size: 17px;
    line-height: 1em;
}

.container .page_content .content.buy .section_telephone .telephone_list{
        padding: 17px 0 0 0;
    }

.container .page_content .content.buy .section_telephone ul{
    margin: 0 0 7px 0;
}

.container .page_content .content.buy .section_telephone li{
    margin: 0 0 11px 0;
}

.container .page_content .content.buy .section_telephone li h4{
    font-size: 10px;
}

.container .page_content .content.buy .section_telephone li p{
    font-size: 15px;
    border-bottom: 1px solid #000;
}

.container .page_content .content.buy .section_telephone .hours{
    margin: 0 0 13px 0;
    padding: 0 0 8px 0;
    font-size: 8px;
}

.container .page_content .content.buy .section_telephone .btn_request{
    width: 200px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #1f1f1f;
    font-size: 11px;
}

.container .page_content .content.buy .section_telephone .btn_request a{
    width: 200px;
    padding: 11px 0;
}

.container .page_content .content.buy .section_telephone .txt{
    margin: 35px 0 40px 0;
    font-size: 14px !important;
}

.container .page_content .content.buy #purchase_list{
    margin: 0 0 40px 0;
}

.container .page_content .content.buy #purchase_list li h3{
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #771116;
    font-size: 11px;
}

.container .page_content .content.buy #purchase_list li h3 span{
    width: 400px;
    height: 45px;
    display: table-cell;
    border-right: 1px solid #fff;
}

.container .page_content .content.buy #purchase_list li p{
    height: 75px;
    font-size: 9px;
    padding: 0 15px;
    display: table;
    vertical-align: middle;
}

.container .page_content .content.buy #point{
    margin: 0 0 15px 0;
}

.container .page_content .content.buy #point h3{
    margin: 0 0 22px 0;
    font-size: 18px;
    font-weight: bold;
}

.container .page_content .content.buy #point ul{
    width: 280px;
    margin: 0 ;
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

.container .page_content .content.buy #point li{
    width: 130px;
    height: auto;
    margin: 0 10px 10px 0;
}

.container .page_content .content.buy #point li img{
    width: 130px;
    height: auto;
}

.container .page_content .content.buy #purchase_area{
    clear: both;
    text-align: center;
    padding: 35px 0 45px 0;
    margin: 0 0 35px 0;
    background-color: #e3e3e3;
}

.container .page_content .content.buy #purchase_area h3{
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.container .page_content .content.buy #purchase_area .area{
    margin: 0 0 30px 0;
    font-size: 12px;
    letter-spacing: 0;
}

.container .page_content .content.buy #estate_list{
    margin: 0;
    text-align: center;
}

.container .page_content .content.buy #estate_list h3{
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.container .page_content .content.buy #estate_list ul{
    margin: 0 0 -10px -10px;
    display: inline-block;
    overflow: hidden;
    letter-spacing: -.40em;
    padding: 0;
}

.container .page_content .content.buy #estate_list li{
    width: 140px;
    display: inline-block;
    margin: 0 0 20px 10px;
    text-align: left;
    letter-spacing: normal;
}

.container .page_content .content.buy #estate_list li .pic{
    margin: 0 0 10px 0;
}

.container .page_content .content.buy #estate_list li .pic img{
    width: 100%;
    height: auto;
}

.container .page_content .content.buy #estate_list li h4{
    height: 30px;
    margin: -5px 0 5px 0;
    display: table;
    font-size: 10px;
    letter-spacing: .165em;
}

.container .page_content .content.buy #estate_list li h4 span{
    display: table-cell;
    vertical-align: middle;
}

.container .page_content .content.buy #estate_list li p{
    font-size: 9px;
    line-height: 1.3em;
    letter-spacing: 0;
}


}
