@media screen and (max-width: 420px){
	ul.list_interest {
		padding: 0;
	}

	ul.list_interest li {
		width: 100%;
	}

	.rireki_yamada {
    	position: static; 
  	}
  	.keireki_yamada {
    	position: static; 
  	}
}