@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /concept/
*   concept.css
*
--------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) {

/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 100px;}
/* ------------------------------------------------------- */

#page_concept{
    padding: 0 0 315px 0;
    margin: 0 0 -20px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11em;
    letter-spacing: .12em;
    background-image:url(../images/concept/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#page_concept .copy{
    margin: 0 0 45px 0;
    font-size: 26px;
    line-height: 1.69em;
}

}