@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /news/
*   news.css
*
--------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) {
    
/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ min-height: 900px; padding-bottom: 60px;}
/* ------------------------------------------------------- */

#menu_archives{
    width: 420px;
    margin: 0 0 80px 0;
    display: inline-block;
    position: relative;
}

#menu_archives .current{
    width: 420px;
    height: 50px;
    text-align: center;
    visibility: hidden;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: table;
    position: relative;
}

#menu_archives .current span.inner{
    width: 420px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

#menu_archives .current span.arrow{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #777;
    position: absolute;
    top: 0;
    right: 0;
    transition: background .1s ease;
}

#menu_archives .current span.arrow:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image:url(../images/parts_menu_archives_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
}

#menu_archives .current.on span.arrow:after{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

#menu_archives ul{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
}

#menu_archives li{
    width: 420px;
    height: 50px;
    text-align: center;
    background-color: #ece9e4;
    font-size: 18px;
    font-weight: bold;
    display: table;
    transition: background .1s ease;
}

#menu_archives li a{
    width: 420px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

#menu_archives li.bg{ background-color: #c8c3b7;}
#menu_archives li:hover{ background-color: #b7b1a2;}


/*
*
    #page_news
*
*/

#page_news ul{
    margin: 0 0 -15px 0;
}

#page_news li{
    clear: both;
    text-align: left;
    margin: 0 0 70px 0;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.71em;
}

#page_news .post_head{
    padding: 0 8px 14px 8px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #fff;
}

#page_news .post_head .date{
    margin: 0 2px 0 0;
    display: inline-block;
    vertical-align: middle;
}

#page_news .post_head .category{
    display: inline-block;
    vertical-align: middle;
}

#page_news .post_head .category p{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    height: 24px;
    padding: 0 9px;
    line-height: 24px;
    margin: 0 10px 0 0;
    letter-spacing: .08em;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    float: left;
}

#page_news .post_head .category p.new_graduate{ background-color: #114d77;}
#page_news .post_head .category p.career{ background-color: #147a16;}
#page_news .post_head .category p.common{ background-color: #d5a421;}
#page_news .post_head .category p.ico_new{ background-color: #771116;}

#page_news .post_body{
    clear: both;
    overflow: hidden;
    padding: 0 8px;
}

#page_news .post_body h4{
    margin: 0 0 8px 0;
    font-size: 18px;
    letter-spacing: .09em;
    font-weight: bold;
    line-height: 1.71em;
}

#page_news .post_body h4 .pdf{
    margin: 0 0 0 10px;
}

#page_news .post_body h4 .pdf img{
    width: 24px;
    height: auto;
    vertical-align: middle;
}

#page_news .post_content{
    width: auto;
}

#page_news .post_content p{ margin: 0 0 25px 0;}
#page_news .post_content p:last-child{ margin: 0;}

#page_news .post_content img{
    clear: both;
    width: 326px;
    margin: 5px 0 5px 25px;
    height: auto;
    float: right;
}

}