@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Serif JP Medium'), local('NotoSerifJP-Medium'), url(s/notoserifjp/v7/xn77YHs72GKoTvER4Gn3b5eMZCqNdkEVUQ.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Noto Serif JP SemiBold'), local('NotoSerifJP-SemiBold'), url(s/notoserifjp/v7/xn77YHs72GKoTvER4Gn3b5eMZAaKdkEVUQ.otf) format('opentype');
}
