@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cinzel Regular'), local('Cinzel-Regular'), url(s/cinzel/v9/8vIJ7ww63mVu7gt79mT-.ttf) format('truetype');
}
