
/************************************************/
/*        フォームメール用スタイルシート        */
/************************************************/

}


/* ------ タイトル ------ */
.title {
	background-color: #22ac38;
	text-decoration: normal;
	font-weight: bold;
        font-size: 11pt;
        color: #FFFFFF;
        line-height: 25px;
	padding-left: 0.5em;
}


/* ------ メッセージ ------ */
.msg_head {
	color: #22ac38;             /* 文字色 */
	text-align: center;           /* 配置 */
}

.msg_foot {
	color: #22ac38;             /* 文字色 */
	text-align: center;         /* 配置 */
}


/* ------ テーブル ------ */
table {
	border-style: none;
	width: 500px;
}

table th {                          
	background-color: #22ac38;  /* 背景色 */
	color: #ffffff;             /* 文字色 */
	font-size: 13px;             /* 文字サイズ */
	text-align: left;           /* 配置 */
	border-style: none;
	white-space: nowrap;
	padding: 5px;
}

table td {
	background-color: #eeeeee;  /* 背景色 */
	color: #000000;             /* 文字色 */
	text-align: left;           /* 配置 */
	border-style: none;
	white-space: nowrap;
	padding: 5px;
}


/* ------ ボタン ------ */
.submit {
	text-align: center;         /* 配置 */
}


