@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2015
*   PROPOLIFE
*
*   antisocial.css
*
--------------------------------------------------------------------------------*/
#topic_path{
    margin-bottom: 35px;
}

#contents{
    padding-bottom: 180px;
    background-image:url(../images/antisocial/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#section_title h2{
    padding: 0 30px !important;
    text-align: center;
    line-height: 1em;
    position: relative;
}

#section_title h2 img{
    width: 100%;
    max-width: 349px;
    height: auto;
    position: relative;
    z-index: 1;
}

#section_title .ruby{ margin: 14px 0 10px 0; font-size: 18px;}
@media screen and (max-width: 768px){ #section_title .ruby{ margin: 15px 0; font-size: 16px;} }
@media screen and (max-width: 480px){ #section_title .ruby{ margin: 10px 0; font-size: 11px;} }

#section_title .line{
    margin-bottom: 80px;
}

#section_antisocial{
    max-width: 660px;
    margin: 0 auto;
}

#section_antisocial p{
    margin: 0 0 30px 0;
    text-justfy: inter-ideograph;
    text-align: justify;
}

#section_antisocial p.first{
    margin: 0 0 55px 0;
}

/* -------------------------------------------------------
*
    for 768px;
*
------------------------------------------------------- */
@media screen and (max-width: 768px) {

#contents{
    padding-bottom: 110px;
    background-image:url(../images/antisocial/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 155px;
}

#section_antisocial p{
    margin: 0 0 25px 0;
}

#section_antisocial p.first{
    margin: 0 0 40px 0;
}

#section_title .line{
    margin-bottom: 20px;
}

}