ul#pulldown-menu,
ul#pulldown-menu li,
ul#pulldown-menu li ul,
ul#pulldown-menu li ul li {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	list-style-type: none;
	zoom: 1;
}

ul#pulldown-menu a {
	color: #21409A;
	text-decoration: none;
	vertical-align: middle;
}
ul#pulldown-menu a:link,
ul#pulldown-menu a:visited {
	background-repeat: repeat-x;
}
ul#pulldown-menu a:hover,
ul#pulldown-menu a:active {
	color: #FFFFFF;
	background-color: #21409A;
}



ul#pulldown-menu li {
	position: relative;
	font-weight: bold;
	line-height: 3em;
	float: left;
	background-color: #FFF;
}


ul#pulldown-menu li a {
	display: block;
	width: 135px;
	height: 45px;
	text-align: center;
}

ul#pulldown-menu li ul li {
	float: none;
	margin: 0;
	font-weight: bold;
	background-color: #FC0;
	-moz-binding: 125;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
}



ul#pulldown-menu li ul,
ul#pulldown-menu li ul li ul {
display: none;
}

ul#pulldown-menu li:hover ul {
display: block;
position: absolute;
z-index: 100;
}

* html ul#pulldown-menu li:hover ul {
vertical-align: bottom;
}

ul#pulldown-menu li:hover ul li ul {
display: none;
}

ul#pulldown-menu li ul li:hover ul {
display: block;
position: absolute;
top: 0;
left: 10em;
z-index: 200;
}



#gmenu{
	margin-right: 40px;
	margin-left: 40px;
	}


#gmenu ul{

	}

#gmenu ul li{
	list-style-image: url(../images/bg_arrow.gif);
	color: #3668B1;
	font-weight: normal;

	}

	#gmenu ul li a{
	list-style-image: url(../images/list.jpg);
	}


#gmenu table tr{


	}


#gmenu table td{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

	}

/*************
影付きのボックス、紙が浮いた感じ
*************/

ul.box {    margin: 0;    padding: 0;    clear: both;    overflow: hidden; } ul.box li {    list-style-type: none;    margin: 0 20px 30px 0;    padding: 0;    width: 168px;    height: 150px;    border: 1px solid #efefef;    position: relative;    float: left;    background: #ffffff; /* old browsers */    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; } ul.box li:after {    z-index: -1;    position: absolute;    background: transparent;    width: 70%;    height: 55%;    content: '';    right: 10px;    bottom: 10px;    transform: skew(15deg) rotate(6deg);    -webkit-transform: skew(15deg) rotate(6deg);    -moz-transform: skew(15deg) rotate(6deg);    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); } ul.box li:before {    z-index: -2;    position: absolute;    background: transparent;    width: 70%;    height: 55%;    content: '';    left: 10px;    bottom: 10px;    transform: skew(-15deg) rotate(-6deg);    -webkit-transform: skew(-15deg) rotate(-6deg);    -moz-transform: skew(-15deg) rotate(-6deg);    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); }

ul#pulldown-menu .menu-reform {
	width: 240px;
}

ul#pulldown-menu .menu-reform a{
	width: 240px;
}