@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /newgraduate/
*   /career/
*
*   recruit.css
*
--------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) {
/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 200px;}
.img_btm_animal{
    width: 250px;
    height: 305px;
    background-image:url(../images/recruit/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -40px;
    right: 120px;
}
/* ------------------------------------------------------- */

#page_recruit{
    margin: 40px 0 0 0;
    text-align: left;
}

#page_recruit .top_text{
    margin: -15px 0 35px 0;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: .05em;
}

#page_recruit a{
    color: #771116;
}

#page_recruit .recruit_table{
    width: 100%;
    margin: 0 0 70px 0;
    line-height: 1.71em;
    font-size: 14px;
}

#page_recruit .recruit_table th{
    width: 180px;
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .09em;
    box-sizing: border-box;
    border: 1px solid #c8c3b7;
    background-color: #ece9e4;
}

#page_recruit .recruit_table td{
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #c8c3b7;
    background-color: #fff;
}

#page_recruit .entry_desc{
    margin: 0 0 25px 0;
}

#page_recruit .recruit_table .btn_entry{
    margin: 0 0 30px 0;
    text-align: center;
}

#page_recruit .entry_address{
    margin: 0 0 5px 0;
    font-weight: bold;
}

#page_recruit .entry_caution{
    font-size: 12px;
    line-height: 1.5em;
}

/* ---------------------------------------- */

#menu_archives{
    width: 420px;
    margin: 0;
    display: inline-block;
    position: relative;
}

#menu_archives .current{
    width: 420px;
    height: 50px;
    text-align: center;
    visibility: hidden;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: table;
    position: relative;
}

#menu_archives .current span.inner{
    width: 420px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

#menu_archives .current span.arrow{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #777;
    position: absolute;
    top: 0;
    right: 0;
    transition: background .1s ease;
}

#menu_archives .current span.arrow:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image:url(../images/parts_menu_archives_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
}

#menu_archives .current.on span.arrow:after{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

#menu_archives ul{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
}

#menu_archives li{
    width: 420px;
    height: 50px;
    text-align: center;
    background-color: #ece9e4;
    font-size: 13px;
    font-weight: bold;
    display: table;
    transition: background .1s ease;
}

#menu_archives li a{
    width: 420px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

#menu_archives li.bg{ background-color: #c8c3b7;}
#menu_archives li:hover{ background-color: #b7b1a2;}

}