@charset "utf-8";

#gnav ul li.top a {
background-position: 0px -51px;
}
#top_wrapper {
	zoom:1;
	width:960px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	background-color:#FFF;
	box-shadow: 0px 0px 5px #888888;
    -moz-box-shadow: 0px 0px 5px #888888;
    -webkit-box-shadow: 0px 0px 5px #888888;
    -ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=#d5d1c4,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d5d1c4,direction=270,strength=3)";
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#d5d1c4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d5d1c4,direction=270,strength=3);
}
#top_wrapper #sp_nav,
.bottom_info{
	display:none !important;
}
#Flash{
	margin:0;
	width:100%;
	height:100%;
	zoom:1;
	background-color:#000;
	z-index:1;
}
#Flash #flashArea{
	display:block !important;
	position:absolute;
	top:80;
	left:0;

}
#Flash #flashAreaSp{
	display:none !important;
}
#Flash #flashCap{
	position:absolute;
	bottom:3px;
	right:5px;
}


/*********** swf ***********/

.aspectwrapper{
	position: relative;
	min-width:980px;
	max-height:100%;
}
.aspectwrapper:before{
    padding-top: 50%;
    display: block;
    content: "";
}
.aspectwrapper > .content_top{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.mainVisual-3:before {
content: "";
display: block;
padding-top: 0;
padding-top: 0\9;
}
/*********** swf ***********/


.mainContent {
	width:100%;
	margin:0;

}

.mainVisual {
	background: url(../../../img/page/top/img_main.png) center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 70%;
	height: 655px\9; /* IE8以下 */
}


.mainVisual:before {
	content: "";
	display: block;
	padding-top: 42.90%;
	padding-top: 0\9; /* IE8以下 */
	}


.topTitleImage img {
	position:absolute;
	top:9%;
	/*left:8%;*/
	z-index:2;
	text-align:left;
}

.mainVisual-s {
	display:none;
}

body#top #gnav {
	/* margin:655px 0 0 0; */
}


body#top .ttl_area {
	display:none;
}


#point{
	vertical-align:middle;
	height:90px;
	width:100%;
	margin:0 auto;

	overflow:hidden;
	background:#fff url(../../../img/element/footer/point_bg.jpg) 50% 0px repeat-x;
}
#point ul{
	width:960px;
	margin:0 auto;
	padding:0;
}
#point ul li{
	text-align:center;
	height:90px;
	line-height:90px;
	vertical-align:middle;
	float:none;
	display:block;
}
#point ul li img{
	vertical-align:middle;
}

#update_areaBG{
	background:url(../../../img/element/footer/topics.png) no-repeat;
	background-position: 0% 0%;
	padding:0 0 40px 0;
	height:19px;
	margin:0;

}
#update_area{
	overflow:auto;
	overflow-x:hidden;
	/* height:150px; */
	padding:0;
	margin:-20px 0 40px 0;

}
/* #update_title{
	float:left;
	width:120px;
	height:100%;
	line-height:45px;
} */
#update_sptitle{
	display:none;
}
#update {
	font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
	color:#0F0F0F;
	font-size:20px;
	line-height:2.0em;
	font-weight:bold;
	width:595px;
	float:left;
	margin:0;
	padding:0;
}

#update ul li{
	float:none;
}


ul.footer_bnr{
	width:100%;
	max-width:960px;
	margin:0 auto;
	clear: both;
}

.footer_bnr li{
	float: left;
	margin:0 12px 15px 0;
}

.footer_bnr li:nth-child(4){
	margin-right:0px;
}

.footer_bnr li img{
	text-align:center;
}



.top_cap{
	font-size:10px;
	color:#888;
	text-align:center;
	max-width:960px;
	margin:0 auto;
	line-height:1.6em;
	padding: 2.5% 5% 3% 5%;
}

.top_yokoku_icon {
	border: #999 1px solid;
	color: #333;
	text-align:center;
	font-size:15px;
	padding:4px 0;
	max-width:80px;
	margin:0 auto;
}

.top_yokoku{
	font-size:10px;
	color:#333;
	text-align:center;
	max-width:960px;
	margin:0 auto;
	line-height:1.6em;
	padding: 1% 5% 3% 5%;
}




/*行動提起
=====================================================================================================*/
#bring{
	color:#004182;
	font-size:30px;
	font-weight:bold;
	font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
	padding: 20px 0 50px;
	line-height:37px
}
#bring ul {
	clear:both;
	}

#bring ul li{
	float:left;
	}


@media (max-width: 900px) {
	#bring ul {
	/*width: 75%;*/
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 3%;
	}

	#bring ul li:nth-child(2){
		/*clear:both;*/
	}
}

/*=====================================================================================================
行動提起*/



@media (max-width: 980px) {

	.info_area {
		max-width: 840px;
		width: 93%;
		margin: 0 auto;
		padding: 30px 0 30px 0;
		overflow: hidden;
	}

	ul.footer_bnr{
		width:93%;
		max-width:900px;
		margin:0 auto;
		clear: both;
	}


	.footer_bnr li{
		float: none;
	}

	.footer_bnr li img {
		float: left;
		width: 23.2%;
		margin:0 12px 15px 0;
	}

	.footer_bnr li:nth-child(1){
		margin-left:2%;
	}

	.footer_bnr li:nth-child(4){
		margin-right:0px;
	}

}


@media (max-width: 900px) {
	#top_header{
		display:none !important;
	}
	#top_wrapper {
		width:100%;
		margin:0 auto;
		position:relative;
		overflow:hidden;
		background:url(../../../img/element/body_bg.jpg) 0% -10% repeat-x;
	}

	body#top #gnav {
		margin:0;
	}

	.topTitleImage img {
		position: absolute;
		top: 10%;
		left:8%;
		z-index: 2;
		text-align: left;
		width:70%;
	}


	#Flash{
		margin:0 1px 0 0;
		width:100%;
		height:auto;
		float:none;
		text-align:center;
	}
	#Flash #flashArea img{
		width:100%;
		height:auto;
	}
	#Flash #flashArea{
		display:none !important;
	}
	#Flash #flashAreaSp{
		width:100%;
		height:auto;
		display:block !important;
	}
	#Flash #flashCap{
		display:none !important;
	}

	#Flash #flashAreaSp img{
		width:100%;
		height:auto;
	}


	/*********** swf ***********/

	.aspectwrapper{
		display:none;
	}
	/*********** swf ***********/



	#top_wrapper #sp_nav,
	.bottom_info{
		display:block !important;
	}

	.bottom_info{
		background-color:none;
	}

	/*.bottom_info p{
		padding:10px 0 10px 0;
		line-height:12px;
		color:#1c2a5f;
	}*/


	.mainVisual-s {
		display:block;
		width:100%;
	}

	.mainVisual-s img {
		width:100%;
	}

	.mainVisual {
		display:none;
	}

	.topTitleImage img {
		display:none;
	}
#flash
	{display:none;
	}



	#point{
		vertical-align:middle;
		height:90px;
		width:100%;
		margin:0 auto;
		margin-bottom:0px;
		overflow:hidden;
		background-image:none;
		background-color:#fff;
	}
	#point ul{
		width:100%;
		margin:0 auto;
		padding:0;
	}
	#point ul li{
		width:100%;
		height:auto;
	}


	#update_areaBG{
		background:url(../../../img/element/footer/topics.png) no-repeat;
		background-position: 50% 0%;
		padding:0 0 40px 0;
		height:19px;
		margin:0;

	}
	#update_area{
		overflow:auto;
		overflow-x:hidden;
		/* height:150px; */
		padding:0;
		margin:-20px 0 40px 0;

	}
	/* #update_title{
		float:left;
		width:120px;
		height:100%;
		line-height:45px;
	} */
	#update_sptitle{
		display:none;
	}
	#update {
		font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
		color:#0F0F0F;
		font-size:20px;
		line-height:2.0em;
		font-weight:bold;
		width:100%;
		max-width:900px;
		float:left;
		margin:0;
		padding:0;
	}

	#update ul li{
		float:none;
		/* text-align:center; */
	}

	ul.footer_bnr{
		width:90%;
		max-width:860px;
		margin:0 auto;
		clear: both;
	}


	.footer_bnr li{
		float: none;
	}

	.footer_bnr li img {
		float: left;
		width: 23%;
		margin:0 12px 15px 0;
	}


	.footer_bnr li:nth-child(1){
		margin-left:1%;
	}

	.footer_bnr li:nth-child(4){
		margin-right:0px;
	}

	#bring{
		text-align:center;
	}

}

@media (max-width: 640px) {
	#bring{
	  padding: 0 0 30px ;
		font-size:20px;
  }

  #bring ul {
	  margin-bottom:10px;
	  margin-left: 0;
	}

	#bring ul li{
	  /*float:none;
	  line-height: 1.3;*/
	}

	.top_yokoku {
		/*text-align: left;*/
	}

	.mainContent {
		width:100%;
		margin:0 0 0 0;;

	}

	.mainVisual-s {
		display:block;
		width:100%;
		max-width:640px;
	}

	.mainVisual-s img {
		width:100%;
	}

	.mainVisual {
		display:none;
	}

	.topTitleImage img {
		display:none;
	}
#flash
	{display:none;
	}



		#point{
		height:auto;
		width:100%;
		margin:0 auto;
		margin-bottom:0px;
	}
	#point ul{
		width:95%;
		margin:0 auto;
		padding:0;
	}
	#point ul li{
		text-align:center;
		width:100%;
		height:auto;
		float:none;
		border-bottom:dotted 1px #CCC;
		padding:0;
	}

	#point ul li:nth-child(1) img{
		width:90%;
		height:auto;
	}
	#point ul li:nth-child(2) img{
		width:70%;
		height:auto;
	}
	#point ul li:nth-child(3) img{
		width:50%;
		height:auto;
	}


	.info_area .btns li:nth-child(2) {
		margin-left: 0px;
		height: auto;
	}

	ul.footer_bnr{
		width:100%;
		max-width:640px;
		margin:0 auto;
		padding:0% 8%;
		clear: both;
	}

	.footer_bnr li{
		float: none;
		/* margin:0 12px 15px 0; */
	}


	.footer_bnr li img {
		float: left;
		width: 41%;
		margin:0 12px 15px 0;
	}

	.footer_bnr li:nth-child(1){
		margin-left:0;
	}

	.footer_bnr li:nth-child(2){
		margin-right:0px;
	}

	.footer_bnr li:nth-child(4){
		margin-right:0px;
	}
}