@charset "utf-8";
/* =============================================================

　　LESS変数 カラー設定

============================================================= */
/* 　ベースカラー
---------------------------------------------*/
/* -- 茶色 -- */
/* 　ポイントカラー
---------------------------------------------*/
/* -- 青色 -- */
/* 　背景カラー
---------------------------------------------*/
/* -- 灰色 -- */
/* 　その他カラー
---------------------------------------------*/
/* -- 白色 -- */
/* -- 灰色 -- */
/* =============================================================

　　BASE CSS　（ベース・レイアウト設定）

============================================================= */
/*  全体　基本設定
---------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
  font-size: 1.6em;
  line-height: 28px;
  letter-spacing: -0.1px;
  color: #525252;
  text-align: center;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}
/*  画像 基本設定
-------------------------- */
img {
  vertical-align: top;
  border: none;
}
/*  リンク 基本設定
-------------------------- */
a {
  display: inline-block;
  outline: none;
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*  フォーム 基本設定
-------------------------- */
input,
select,
textarea {
  webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 2px;
}
input[type="text"] {
  -webkit-appearance: none;
}
input[type="button"],
input[type="text"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
  border: 1px solid #ccc;
}
form textarea {
  resize: none;
  width: 100%;
  -webkit-appearance: none;
}
/* 　コンテナー　レイアウト設定
---------------------------------------------*/
#container {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
.boxInner {
  width: 1100px;
  margin: 0 auto;
  text-align: left;
}
/*  ヘッダー レイアウト設定
---------------------------------------------*/
#header {
  border-top: 4px solid #534336;
}
#header .boxInner {
  position: relative;
  text-align: center;
}
/*  コンテンツ レイアウト設定
---------------------------------------------*/
#content {
  width: 100%;
  padding-bottom: 490px;
  /* フッターの高さ分 */
}
/*  メイン・サイド共通 レイアウト設定
-----------------------------------*/
#main,
#side {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/*  メイン レイアウト設定
------------------------------------*/
#main {
  width: 765px;
  margin: 0 70px 0 0;
}
/*  サイド レイアウト設定
------------------------------------*/
#side {
  width: 260px;
  padding-top: 10px;
  line-height: 20px;
}
/*  ASIDE レイアウト設定
------------------------------------*/
#aside {
  padding: 60px 0;
}
/*  フッター レイアウト設定
---------------------------------------------*/
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 490px;
}
#footer .boxInner {
  padding: 26px 0;
}
#footer #footerTop {
  border-top: 1px solid #cccccc;
}
#footer #footerMdl {
  border-top: 4px solid #3dbbcf;
}
#footer #footerBtm {
  border-top: 1px solid #cccccc;
}
</style>
