@charset "utf-8";


/* =============================================================

　　LESS変数 カラー設定

============================================================= */


/* 　ベースカラー
---------------------------------------------*/

/* -- 茶色 -- */
@colorBase: #534336;

@colorTxtBase: #524337;


/* 　ポイントカラー
---------------------------------------------*/

/* -- 青色 -- */
@colorPoint: #3abcce;

@colorTxtPoint: #00bcd6;


/* 　背景カラー
---------------------------------------------*/

/* -- 灰色 -- */
@colorBg: #f6f5f2;



/* 　その他カラー
---------------------------------------------*/

/* -- 白色 -- */
@colorWhite: #fff;

/* -- 灰色 -- */
@colorGrey: #ccc;
