@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2015
*   PROPOLIFE
*
*   philosophy.css
*
--------------------------------------------------------------------------------*/
#topic_path{
    margin-bottom: 35px;
}

#contents{
    background-image:url(../images/philosophy/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#section_title .line{
    margin-bottom: 75px;
}

#section_philosophy{
    margin: 0 auto 50px auto;
    text-align: center;
}

#section_philosophy .section_inner{
    display: inline-block;
}

#section_title h2{
    padding: 0 30px !important;
    text-align: center;
    line-height: 1em;
    position: relative;
}

#section_title h2 img{
    width: 100%;
    max-width: 367px;
    height: auto;
    position: relative;
    z-index: 1;
}

#section_title .ruby{ margin: 14px 0 10px 0; font-size: 18px;}
@media screen and (max-width: 768px){ #section_title .ruby{ margin: 15px 0; font-size: 16px;} }
@media screen and (max-width: 480px){ #section_title .ruby{ margin: 10px 0; font-size: 11px;} }

#section_philosophy p{
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: .1em;
    text-indent: -2em;
    padding: 0 0 0 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#section_philosophy p:last-child{
    background: none;
}

/* -------------------------------------------------------
*
    for 768px;
*
------------------------------------------------------- */
@media screen and (max-width: 768px) {

#contents{
    padding-bottom: 100px;
    background-image:url(../images/philosophy/img_bg_contents.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 140px;
}

#section_title .line{
    margin-bottom: 35px;
}

#section_philosophy{

}

#section_philosophy p{

}

}


/* -------------------------------------------------------
*
    for 480px;
*
------------------------------------------------------- */
@media screen and (max-width: 480px) {

#section_philosophy p{
    margin: 0 auto 10px 0;
    font-size: 11px;
    letter-spacing: .05em;
    background-size: 5px;
}

}