@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input[type="button"], [type="image"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

/*--------------------------------------
   common
---------------------------------------*/
html {
  height: 100%;
}

body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  min-height: 100%;
}
* {
  box-sizing: border-box;
}

a {
  color: #333333;
  text-decoration: underline;
}

a:hover {
  color: #4e361c;
  text-decoration: none;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.btn_join {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

/*20170207*/
#conversion_btn{
	position:fixed;
	right:0;
	top:100px;
}
#conversion_btn li img{
	width:100%;
}
#conversion_btn #float_btn li{
	max-width:50px;
	margin-bottom:10px;
}
#conversion_btn #fix_btn{
	display:none;
}
#conversion_btn .disable a {
    cursor: default;
    pointer-events: none;
}
#conversion_btn .disable a img {
    opacity: 0.3;
}
@media screen and (max-width: 767px) {
	
#conversion_btn{
	position:fixed;
	right:auto;
	top:auto;
	bottom:0;
	width:100%;
	background:rgba(140, 81, 81,0.3);
	 padding: 2.5%;
}
#conversion_btn #float_btn{
	display:none;
}
#conversion_btn #fix_btn{
	display:block;
}
#conversion_btn #fix_btn li{
    width: 49%;
    display: inline-block;
    text-align: center;
	}
#conversion_btn .disable a {
    cursor: default;
    pointer-events: none;
}
#conversion_btn .disable a img {
    opacity: 0.3;
}
.site-footer {
    padding-bottom: 18%;
}
	
}
/*20170207*/

@media screen and (max-width: 959px) {
  .btn_join {
    width: 80%;
    margin: 0 auto;
  }
  .btn_join img {
    width: 100%;
    max-width: 902px;
  }
}
@media screen and (max-width: 600px) {
  .btn_join {
    display: none;
  }
}

.btn_join_sp {
  margin: 0 auto;
  display: none;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .btn_join_sp {
    display: block;
    width: 98%;
    padding: 5% 0;
  }
}
.btn_join_sp img {
  width: 100%;
  max-width: 513px;
}

br.tb, br.sp {
  display: none;
}

@media screen and (max-width: 710px) {
  br.pc {
    display: none;
  }

  br.tb {
    display: none;
  }

  br.sp {
    display: block;
  }
}
@media screen and (min-width: 711px) and (max-width: 768px) {
  br.pc {
    display: none;
  }

  br.sp {
    display: none;
  }

  br.tb {
    display: block;
  }
}
.fb {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

/*! ======================================================================================= ^^
  Header
=========================================================================================== ^^ */
.site-header {
  width: 100%;
}
.site-header h1 {
  /*max-width: 1272px;*/
  width: 100%;
  padding: 15px 25px 0;
  margin: 0 auto 10px;
  font-size: 10px;
}
.site-header .button-toggle {
  width: 40px;
  padding: 0;
  margin: 0 2% 0 0;
  border: none;
  background: none;
  box-shadow: none;
  float: right;
  display: none;
}
.site-header .inner {
  /*max-width: 1272px;*/
  width: 100%;
  padding-bottom: 30px;
  margin: 0 auto 2px;
  background: url(../images/common/bg-header.png) repeat-x 0 100%;
}
.site-header .inner::after {
  content: '\0020';
  display: block;
  clear: both;
}
.site-header .inner .site-logo {
  width: 207px;
  margin-left: 1.9654%;
  float: left;
}
.site-header .inner .btn {
  width: 413px;
  padding-top: 7px;
  margin-right: 30px;
  float: right;
}
.site-header .inner .btn::after {
  content: '\0020';
  display: block;
  clear: both;
}
.site-header .inner .btn .link {
  font-size: 0;
  display: inline-block;
}
.site-header .inner .btn .link.text-link {
  width: 40%;
}
.site-header .inner .btn .link.button-link {
  width: 50%;
}
.site-header .inner .btn .link li {
  margin-left: 2.7027%;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.site-header .inner .btn .link.button-link li {
  width: 46.8899%;
}
.site-header .inner .btn .link li a {
  font-size: 12px;
  text-decoration: none;
}
.site-header .disable a {
  cursor: default;
  pointer-events: none;
}
.site-header .disable a img {
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .site-header h1 {
    height: 50px;
    padding-right: 1%;
    padding-left: 1%;
    line-height: 1.7;
    text-align: center;
  }
  .site-header .button-toggle {
    display: block;
  }
  .page-modal .site-header .button-toggle {
    display: none;
  }
  .site-header .inner .site-logo {
    width: 220px;
    margin: 0 0 10px 1%;
    float: left;
  }
  .site-header .inner {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .site-header .inner .btn {
    width: 100%;
    padding: 2%;
    background-color: #efefef;
    float: none;
    clear: both;
  }
  .site-header .inner .btn .link.text-link {
    width: 34%;
    vertical-align: middle;
  }
  .site-header .inner .btn .link.text-link li {
    margin-top: 5px;
    font-size: 14px;
    display: block;
  }
  .site-header .inner .btn .link.text-link li a {
    font-size: 16px;
  }
  .site-header .inner .btn .link.button-link {
    width: 64%;
    text-align: right;
  }
  .site-header .inner .btn .link.button-link li {
    width: 46.75%;
    vertical-align: middle;
  }
}

/*! ======================================================================================= ^^
  Main visual
=========================================================================================== ^^ */
.main-visual {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 5px;

}
.main-visual img {
  vertical-align: top;
}

/*! ======================================================================================= ^^
  Navigation
=========================================================================================== ^^ */
.navigation {
  /*max-width: 1272px;*/
  width: 100%;
  margin: 0 auto;
  background: url(../images/common/bg-menu.png) repeat-x 0 0 #4b2e1b;
}
.navigation ul {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
}
.navigation ul::after {
  content: '\0020';
  display: block;
  clear: both;
}
.navigation ul li {
  float: left;
}
.navigation ul li.gm01 {
  width: 14.3082%;
}
.navigation ul li.gm02 {
  width: 14.3082%;
}
.navigation ul li.gm03 {
  width: 14.3082%;
}
.navigation ul li.gm04 {
  width: 14.2296%;
}
.navigation ul li.gm05 {
  width: 14.3082%;
}
.navigation ul li.gm06 {
  width: 14.3082%;
}
.navigation ul li.gm07 {
  width: 14.2296%;
}
.navigation ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.navigation ul li.disable a {
  cursor: default;
  pointer-events: none;
}
.navigation ul li.disable a img {
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    position: fixed;
    top: 111px;
  }
  .navigation ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
  }
  .navigation ul li.gm01,
  .navigation ul li.gm02,
  .navigation ul li.gm03,
  .navigation ul li.gm04,
  .navigation ul li.gm05,
  .navigation ul li.gm06,
  .navigation ul li.gm07 {
    width: 50%;
    height: 40px;
    background-color: rgba(239, 239, 239, 0.98);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .navigation ul li.current {
    background-color: rgba(60, 29, 21, 0.9);
  }
  .navigation ul li:nth-child(2n) {
    border-right: none;
  }
  .navigation ul li a {
    padding: 0 10%;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
  }
  .navigation ul li.current a {
    color: #fff;
  }
  .navigation ul li.disable a {
    opacity: 0.3;
  }
  .navigation ul li a::before {
    content: attr(data-text);
  }
  .navigation ul li img {
    display: none;
  }
}

.footer-navigation {
  padding: 13px 0;
  margin-bottom: 45px;
  border-top: 1px solid #40220f;
  border-bottom: 1px solid #40220f;
}
.footer-navigation ul {
  font-size: 0;
  text-align: center;
}
.footer-navigation ul::after {
  content: '\0020';
  display: block;
  clear: both;
}
.footer-navigation ul li {
  padding: 0 10px;
  border-right: 1px solid #231815;
  display: inline-block;
}
.footer-navigation ul li:last-child {
  border: none;
}
.footer-navigation ul li a {
  font-size: 12px;
  line-height: 1.1;
  color: #231815;
  text-decoration: none;
}
.footer-navigation ul li.disable a {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .footer-navigation {
    padding: 0;
  }
  .footer-navigation ul li {
    width: 50%;
    height: 40px;
    border-bottom: 1px solid #231815;
    float: left;
  }
  .footer-navigation ul li:last-child {
    border-right: 1px solid #231815;
  }
  .footer-navigation ul li:nth-child(2n) {
    border-right: none;
  }
  .footer-navigation ul li a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    display: block;
  }
}

/*! ======================================================================================= ^^
  Footer
=========================================================================================== ^^ */
.site-footer {
  width: 100%;
}
.site-footer .inner {
  /*max-width: 1272px;*/
  width: 100%;
  margin: 0 auto;
}

.home .site-footer .footer-contact {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
}
.home .site-footer .footer-contact::after {
  content: '\0020';
  display: block;
  clear: both;
}
.home .site-footer .footer-information {
  width: 34.0409%;
  margin-right: 5.8962%;
  float: left;
}
.home .site-footer .footer-information h4 {
  margin-bottom: 15px;
}
.home .site-footer .footer-information .inner {
  height: 50px;
  overflow: auto;
}
.home .site-footer .footer-information li {
  margin-bottom: 10px;
  font-size: 14px;
}
.site-footer .inner .contact {
  margin-bottom: 25px;
  font-size: 0;
  text-align: center;
}
.home .site-footer .inner .contact {
  width: 44.4182%;
  padding-top: 16px;
  margin-right: 1.1792%;
  float: left;
}
.site-footer .inner .contact img {
  max-width: 359px;
  width: 28.2233%;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.site-footer .inner .contact p {
  padding-top: 17px;
  font-size: 12px;
  line-height: 1.7;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.site-footer .inner .contact p .pc-hide {
  display: none;
}
.home .site-footer .inner .contact {
  width: 45.5975%;
  float: left;
}
.home .site-footer .inner .contact img {
  max-width: 337px;
  width: 58.1034%;
  margin-right: 10px;
}
.home .site-footer .inner .contact p {
  padding-top: 0;
  font-size: 10px;
  line-height: 1.3;
}
.home .site-footer .inner .button-link {
  width: 7.3506%;
  padding-top: 16px;
  float: left;
}
.home .site-footer .inner .disable a {
  cursor: default;
  pointer-events: none;
}
.home .site-footer .inner .disable a img {
  opacity: 0.3;
}
.site-footer .corporate {
  /*max-width: 1272px;*/
  width: 100%;
  padding: 20px 0;
  margin: 0 auto 20px;
  border-top: 1px solid #40220f;
  border-bottom: 1px solid #40220f;
  font-size: 0;
  text-align: center;
}
.site-footer .corporate .logo-propolife {
  max-width: 355px;
  width: 27.8695%;
  margin-right: 1.1792%;
  display: inline-block;
  vertical-align: middle;
}
.site-footer .corporate .logo-tatemono {
  max-width: 390px;
  width: 30.6604%;
  margin-left: 1.1792%;
  display: inline-block;
  vertical-align: middle;
}
.site-footer .copyright {
  padding-bottom: 10px;
  font-size: 10px;
  text-align: center;
}
.gototop {
  width: 56px;
  position: fixed;
  bottom: 80px;
  right: 20px;
}
.gototop a:hover img {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .home .site-footer .footer-information {
    width: 100%;
    padding: 0 2%;
    margin: 0 0 20px;
    float: none;
  }
  .home .site-footer .footer-information li {
    font-size: 24px;
  }
  .site-footer .inner .contact img {
    width: 80%;
    margin: 0 auto 10px;
    display: block;
  }
  .site-footer .inner .contact p {
    width: 80%;
    padding: 0 3%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.7;
    display: block;
  }
  .site-footer .inner .contact p .pc-hide {
    display: block;
  }
  .home .site-footer .inner .contact {
    width: 100%;
    padding-top: 0;
    margin: 0 0 20px;
    float: none;
  }
  .home .site-footer .inner .contact img {
    width: 80%;
    margin: 0 auto 10px;
    display: block;
  }
  .home .site-footer .inner .contact p {
    width: 80%;
    padding: 0 3%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.7;
    display: block;
  }
  .home .site-footer .inner .button-link {
    width: 100%;
    padding-top: 0;
    margin-bottom: 20px;
    float: none;
    font-size: 0;
    text-align: center;
  }
  .home .site-footer .inner .button-link li {
    width: 30%;
    margin: 0 3%;
    display: inline-block;
  }
  .site-footer .corporate .logo-propolife {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
  }
  .page .site-footer .corporate .logo-propolife {
    margin-bottom: 0;
  }
  .site-footer .corporate .logo-tatemono {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
  }
}


/*! ======================================================================================= ^^
  Page common
=========================================================================================== ^^ */
.mb30 {
  margin-bottom: 30px;
}
.red {
  color: #b90000;
}
.clear {
  clear: both;
}
.home .site-main {
  max-width: 1144px;
  width: 100%;
  padding: 55px 0 50px;
  margin: 0 auto 25px;
}
.page .site-main {
  max-width: 1144px;
  width: 100%;
  padding: 55px 0 50px;
  margin: 0 auto 25px;
}
.page .site-main img {
  vertical-align: bottom;
}
.page .page-header {
  margin-bottom: 25px;
}
.page .section-title {
  margin: 0 0 30px;
  text-align: center;
}
.page .left-cont {
  float: left;
}
.page .right-cont {
  float: right;
}
.sp-text img {
  display: inline-block;
}
.sp-text span {
  display: none;
}
.notice {
  padding-left: 1.1em;
  text-indent: -1.1em;
  font-size: 10px;
  line-height: 1.3;
}
.modal-button-area {
  width: 100%;
  font-size: 0;
  text-align: center;
}
.modal-button-area li {
  max-width: 265px;
  margin: 0 10px;
  display: block;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .page .site-main {
    padding-right: 2%;
    padding-left: 2%;
  }
  .page .left-cont {
    float: none;
  }
  .page .right-cont {
    float: none;
  }
  .sp-text img {
    display: none;
  }
  .sp-text span {
    display: block;
  }
  .sp-hide {
    display: none;
  }
}

/*! ======================================================================================= ^^
  Page Top
=========================================================================================== ^^ */
.home .site-main .notice-ad {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  background: url(../images/outline/ico-ad.png) no-repeat 50% 0 / 82px auto;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

/*! ======================================================================================= ^^
  Page Access
=========================================================================================== ^^ */
.page-access .page-title {
  max-width: 177px;
  width: 7.9983%;
}
@media screen and (max-width: 767px) {
  .page-access .page-title {
    width: 30%;
  }
}
.page-access .access-menu {
  font-size: 0;
  text-align: center;
}
.page-access .upper-menu.access-menu {
  margin-bottom: 40px;
}
.page-access .lower-menu.access-menu {
  margin: 40px 0;
}
.page-access .access-menu li {
  max-width: 295px;
  width: 17.1329%;
  height: 56px;
  margin: 0 1.049%;
  display: inline-block;
}
.page-access .access-menu li a {
  width: 100%;
  height: 100%;
  background: url(../images/access/bg-menu-off.png) no-repeat 0 0 / cover;
  display: block;
  text-align: center;
}
.page-access .access-menu li a:hover {
  background: url(../images/access/bg-menu-on.png) no-repeat 0 0 / cover;
}
.page-access .access-menu li a::before {
  width: 1px;
  height: 100%;
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
}
.page-access .access-menu li a img {
  vertical-align: middle;
}
.page-access .access-menu li.access-train a img {
  width: 77.551%;
}
.page-access .access-menu li.access-bus a img {
  width: 77.551%;
}
.page-access .access-menu li.access-taxi a img {
  width: 79.0816%;
}
@media screen and (max-width: 767px) {
  .page-access .access-menu li {
    width: 30%;
    margin: 0 1.5%;
  }
}

.page-access .section-title img {
  max-width: 469px;
  width: 100%;
}
.train-section h4 {
  margin-bottom: 10px;
}
.train-section .main-visual {
  margin-bottom: 55px;
}
@media screen and (max-width: 767px) {
  .train-section .main-visual {
    margin-bottom: 30px;
  }
  .train-section h4.sp-text {
    padding: 10px 3%;
    background-color: #9b0000;
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
  }
  .train-section h4.sp-text em {
    font-size: 16px;
  }
  
 
}
  .train-section .route-map .cap {
    font-size: 9px;
	text-align:right;
	margin-bottom:40px;
  }
  


.train-section h5 {
  margin-bottom: 20px;
  font-size: 16px;
}
.route-map .route-list::after {
  content: '\0020';
  display: block;
  clear: both;
}
.route-map .route-list li {
  width: 28.0594%;
  height: 0;
  padding-top: 7.618%;
  margin: 0 7.9109% 40px 0;
  font-size: 9px;
  position: relative;
  /*overflow: hidden;*/
  float: left;
}
.route-map .route-list li:nth-child(3n) {
  margin-right: 0;
}
.route-map .route-list li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.route-map .route-list li span img {
  vertical-align: top;
}
.route-map .route-list li.mb0 {
  margin-bottom: 0;
}
.route-map .route-list li.txt {
  width: 100%;
  text-align: right;
  float: none;
	clear:both;
}
@media screen and (max-width: 767px) {
  .route-map .route-list li {
    width: 48%;
    padding-top: 13.518%;
    margin: 0 0 20px;
  }
  .route-map .route-list li:nth-child(2n) {
    float: right;
  }
  .route-map .route-list li.txt {
    width: 100%;
  }
}

.bus-section {
  margin-bottom: 60px;
}
.bus-section .inner {
  padding: 50px 78px;
  background-color: #f4e9db;
}
.bus-section .inner::after {
  content: '\0020';
  display: block;
  clear: both;
}
.bus-section .inner .inner {
  padding: 30px 35px;
  background-color: #fff;
  clear: both;
}
.bus-section .inner .inner .inner {
  padding: 25px 35px;
  border: 1px solid #595757;
  background-color: #fbfbfb;
}
.bus-section .inner .inner h4 {
  margin-bottom: 25px;
}
.bus-section .inner .inner h5 {
  margin-bottom: 40px;
  text-align: center;
}
.bus-section .inner .inner h5 img {
  width: 82.8605%;
}
.bus-section h6 {
  margin-bottom: 20px;
  font-size: 14px;
}
.bus-section .bus-info1 {
  width: 33.9069%;
  margin: 5px 0 35px;
}
.bus-section .bus-info2 {
  width: 64.3725%;
  padding-top: 25px;
  margin: 5px 0 35px;
}
.bus-section .bus-route li {
  margin-bottom: 20px;
}
.bus-section .bus-route img {
  vertical-align: middle;
}
.bus-section .route1 .bus-route1 {
  width: 35.9929%;
  margin-right: 1.02%;
}
.bus-section .route1 .bus-route2 {
  width: 61.4066%;
}
.bus-section .route2 .bus-route1 {
  width: 36.052%;
  margin-right: 0.5414%;
  margin-left: 0.6%;
}
.bus-section .route2 .bus-route2 {
  width: 59.407%;
}
.bus-section .bus-lane.left-cont {
  width: 54.9645%;
  margin-bottom: 35px;
}
.bus-section .bus-lane.left-cont p {
  margin-top: 10px;
  text-align: right;
}
.bus-section .bus-lane.right-cont {
  width: 43%;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.4;
}

.bus-section .bus-info3 {
  margin-bottom: 30px;
}
.bus-section .bus-info3 .notice {
  margin-top: 10px;
  font-size: 10px;
}

.bus-section .bus-info4 {
  margin-bottom: 10px;
}
.bus-section .bus-info4 h4.sp-text {
  text-align: center;
}
.bus-section .bus-info4 h4.sp-text img {
  width: 52.6895%;
}
.bus-section .bus-info4 .left-cont {
  width: 54.401%;
}
.bus-section .bus-info4 .right-cont {
  width: 43%;
  line-height: 1.6;
}
.bus-section .bus-info4 .right-cont .notice {
  font-size: 10px;
}

.bus-section .inner .pickup {
  padding: 5px;
  border: 1px solid #680000;
  background-color: #9b0000;
}
.bus-section .inner .pickup .inner {
  padding: 10px 4% 10px 2%;
  border: 1px solid #fff;
  background-color: transparent;
}
.bus-section .inner .pickup .inner::after {
  content: '\0020';
  display: block;
  clear: both;
}
.bus-section .inner .pickup .inner h4 {
  width: 25.573%;
  padding-top: 20px;
}
.bus-section .inner .pickup .inner .right-cont {
  width: 56%;
}
.bus-section .inner .pickup .inner .right-cont p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
.bus-section .inner .pickup .inner .right-cont cite {
  font-size: 9px;
  color: #fff;
  text-align: right;
  display: block;
}
@media screen and (max-width: 767px) {
  .bus-section > h4.sp-text {
    padding: 10px 3%;
    background-color: #9b0000;
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
  }
  .bus-section > h4.sp-text em {
    font-size: 16px;
  }
  .bus-section .inner {
    padding: 20px 5%;
    background-color: #f4e9db;
  }
  .bus-section .inner .inner {
    padding: 20px 5%;
  }
  .bus-section .bus-info1 {
    width: 100%;
    margin: 20px 0 25px;
  }
  .bus-section .bus-info2 {
    width: 100%;
    padding-top: 0;
    margin: 0 0 35px;
  }
  .bus-section .inner .bus-info3 h4.sp-text {
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid #945d2a;
    border-bottom: 1px solid #945d2a;
    background-color: transparent;
    font-size: 16px;
    color: #945d2a;
  }
  .bus-section .inner .inner .inner {
    padding: 20px 2%;
  }
  .bus-section .inner .inner .inner h5.sp-text {
    padding: 0 2%;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
  }
  .bus-section .inner .inner .inner h5.sp-text em {
    font-size: 18px;
  }
  .bus-section .route2 {
    margin-bottom: 0;
  }
  .bus-section .route1 .bus-route1,
  .bus-section .route1 .bus-route2,
  .bus-section .route2 .bus-route1,
  .bus-section .route2 .bus-route2 {
    width: 100%;
    margin: 0 0 15px;
  }
  .bus-section .route2 .bus-route2 {
    margin-bottom: 0;
  }
  .bus-section .bus-lane.left-cont {
    width: 100%;
    margin-bottom: 35px;
  }
  .bus-section .bus-lane.right-cont {
    width: 100%;
  }

  .bus-section .bus-info4 .left-cont {
    width: 100%;
    margin-bottom: 25px;
  }
  .bus-section .bus-info4 .right-cont {
    width: 100%;
  }

  .bus-section .inner .pickup .inner h4 {
    width: 100%;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .bus-section .inner .pickup .inner .right-cont {
    width: 100%;
  }
}

.taxi-section .inner {
  padding: 35px 6.2937%;
}
.taxi-section .inner h5 {
  width: 314px;
  height: 29px;
  margin-bottom: 25px;
  text-align: center;
}
.taxi-section .taxi-info1 {
  margin-bottom: 10px;
  background-color: #efeedc;
}
.taxi-section .taxi-info1 h5 {
  background: url(../images/access/bg-taxi01.jpg) no-repeat 0 0 / cover;
  line-height: 22px;
}
.taxi-section .taxi-info1 h5 img {
  width: 82.6156%;
}
.taxi-section .taxi-info2 {
  margin-bottom: 10px;
  background-color: #ede3dd;
}
.taxi-section .taxi-info2 h5 {
  background: url(../images/access/bg-taxi02.jpg) no-repeat 0 0 / cover;
  line-height: 22px;
}
.taxi-section .taxi-info2 h5 img {
  width: 77.3525%;
}
.tbl-taxi {
  width: 100%;
  border-top: 1px solid #856637;
  border-left: 1px solid #856637;
}
.tbl-taxi th {
  height: 36px;
  border-right: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  line-height: 36px;
  text-align: center;
}
.taxi-section .taxi-info1 .tbl-taxi th {
  background-color: #856637;
}
.taxi-section .taxi-info2 .tbl-taxi th {
  background-color: #ae7e7a;
}
.tbl-taxi th span {
  font-size: 14px;
}
.tbl-taxi .th01 {
  width: 29%;
}
.tbl-taxi .th02 {
  width: 14%;
}
.tbl-taxi .th03 {
  width: 21.5%;
}
.tbl-taxi .th04 {
  width: 14%;
}
.tbl-taxi .th05 {
  width: 21.5%;
  border-right-color: #856637;
}
.tbl-taxi td {
  height: 36px;
  border-bottom: 1px solid #856637;
  border-right: 1px solid #856637;
  font-size: 16px;
  line-height: 36px;
}
.taxi-section .taxi-info1 .odd td,
.taxi-section .taxi-info2 .odd td {
  background-color: #fff;
}
.taxi-section .taxi-info1 .even td {
  background-color: #dddabe;
}
.taxi-section .taxi-info2 .even td {
  background-color: #eddfd6;
}
.tbl-taxi .td01 {
  font-size: 18px;
  color: #c30d23;
  text-align: center;
}
.tbl-taxi .td02 {
  padding: 0 30px;
}
.tbl-taxi .td03 {
  padding: 0 20px;
}
.tbl-taxi .td04 {
  padding: 0 30px;
}
.tbl-taxi .td05 {
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .taxi-section .inner {
    padding: 25px 4%;
  }
  .taxi-section > h4.sp-text {
    padding: 10px 3%;
    background-color: #9b0000;
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
  }
  .taxi-section .inner h5 {
    color: #fff;
  }
  .taxi-section .taxi-info1 h5,
  .taxi-section .taxi-info2 h5 {
    line-height: 29px;
  }
  .table-wrap {
    width: 100%;
    padding-bottom: 10px;
    overflow: scroll;
  }
  .tbl-taxi {
    width: 1000px;
  }
}

@media screen and (max-width: 767px){
  .table-wrap {
      width: 100%;
      padding-bottom: 10px;
     overflow: auto;
  }
  .tbl-taxi {
      width: 100%;
  }
  .tbl-taxi th{
    line-height: 20px;
    padding: 5px;
	  font-size: 14px;
    width: auto !important;
	}
  .tbl-taxi td {
    font-size: 13px !important;
    text-align: center;
	  height:auto;
	  line-height: 20px;
	  padding: 5px !important;
  }
  .tbl-taxi th span {
  	display:block;
  }
  .tbl-taxi th span + span {
      font-size: 10px !important;
  }
  .tbl-taxi td span {
  	display:block;
  }
}

/*! ======================================================================================= ^^
  Page Outline
=========================================================================================== ^^ */
.page-outline .site-main {
  padding-top: 100px;
  padding-bottom: 140px;
}
.page-outline .page-header {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
}
.page-outline .site-main h3 {
  margin: 40px 0 20px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
}
.page-outline .tbl-outline {
  max-width: 730px;
  width: 100%;
  margin: 0 auto 10px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.page-outline .tbl-outline th {
  width: 27.6575%;
  padding: 15px 10px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f3;
  font-weight: bold;
  -moz-text-align-last: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
}
.page-outline .tbl-outline th.narrow {
  letter-spacing: -0.05em;
}
.page-outline .tbl-outline td {
  width: 72.3425%;
  padding: 15px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 1.5;
}
.page-outline .tbl-outline sup {
  font-size: 9px;
  vertical-align: 6px;
}
.page-outline .notice-ad {
  max-width: 770px;
  width: 100%;
  min-height: 32px;
  padding-left: 110px;
  margin: 0 auto;
  background: url(../images/outline/ico-ad.png) no-repeat 20px 0 / 82px auto;
  font-size: 12px;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .page-outline .site-main {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .page-outline .tbl-outline th {
    width: 100%;
    display: block;
  }
  .page-outline .tbl-outline td {
    width: 100%;
    display: block;
  }
  .page-outline .notice-ad {
    padding: 40px 0 0;
    background-position: 0 0;
  }
}


/*! ======================================================================================= ^^
  Page Map
=========================================================================================== ^^ */
.page-map .site-main {
  padding-top: 65px;
  padding-bottom: 140px;
}
.page-map .map-area {
  margin-bottom: 115px;
}
.page-map .map-area img {
  max-width: none;
  width: 100%;
}

.page-map #conversion_btn {
	position: fixed;
    right: 0;
    top: 50px;
    width: auto;
    padding: 0;
    background: none;
}
.page-map #conversion_btn #fix_btn {
    display: none;
}

@media screen and (max-width: 767px) {
	
.page-map #conversion_btn #float_btn {
    display: block;
}
	
}




/*! ======================================================================================= ^^
  Page Plan
=========================================================================================== ^^ */
.page-plan-detail .site-main {
  padding: 10px 4%;
}
.page-plan .page-header {
  text-align: center;
}
.page-plan .page-header .page-title {
  margin-bottom: 30px;
}
.page-plan .page-header .page-title img {
  width: 54px;
}
.page-plan .page-header p {
  font-size: 24px;
}
.page-plan .page-header p span {
  font-size: 14px;
  line-height: 4;
  display: block;
}
.plan-area {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto 20px;
}
.page-plan-detail .plan-area {
  max-width: 1208px;
}
.plan-area::after {
  content: '\0020';
  display: block;
  clear: both;
}
.plan-box {
  width: 47.8516%;
  padding: 20px 12px;
  border: 2px solid #7f4f21;
  box-shadow: 0 0 6px #aaaaaa;
  float: left;
}
.plan-box.disable {
  opacity: 0.3;
}
.plan-box::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-plan-detail .plan-box {
  width: 100%;
  padding: 35px 25px 0;
  float: none;
}
.plan-box sup {
  font-size: 9px;
  vertical-align: 6px;
}
.plan-box:nth-child(1),
.plan-box:nth-child(2) {
  margin-bottom: 35px;
}
.page-plan-detail .plan-box:nth-child(1) {
  margin-bottom: 0;
}
.plan-box:nth-child(2n) {
  float: right;
}
.plan-box .plan-header {
  margin-bottom: 0;
}
.plan-box .plan-header h3 {
  margin-bottom: 15px;
}
.plan-box .plan-header p {
  font-size: 13px;
  line-height: 1.7;
}
.plan-box .plan-header .note {
  font-size: 12px;
}
.plan-box .img {
  width: 80%;
  margin: 0 auto;
}
.plan-box:nth-child(1) .img img,
.plan-box:nth-child(2) .img img {
  margin: -20px 0 -15px;
}
.page-plan-detail .plan-box .img {
  width: 100%;
}
.page-plan-detail .plan-box .img img {
  margin: 0;
}
.plan-box .btn {
  width: 50%;
  margin: 0 auto;
}
.plan-box a {
  text-decoration: none;
}
.plan-box.disable a {
  cursor: default;
  pointer-events: none;
}
.plan-box a:hover img {
  opacity: 0.7;
}
.plan-box.disable a:hover img {
  opacity: 1;
}
.page-plan .notice {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.page-plan-detail .notice {
  max-width: 1144px;
  margin-bottom: 65px;
}
.page-plan-detail .modal-button-area li {
  max-width: none;
  width: 35.3776%;
}

.page-plan-detail #conversion_btn {
	position: fixed;
    right: 0;
    top: 50px;
    width: auto;
    padding: 0;
    background: none;
}
.page-plan-detail #conversion_btn #fix_btn {
    display: none;
}

@media screen and (max-width: 767px) {
  .plan-box {
    width: 100%;
    margin-bottom: 35px;
    float: none;
  }
  .plan-box:nth-child(2n) {
    float: none;
  }
	
.page-plan-detail #conversion_btn #float_btn {
    display: block;
}
	
}

/*! ======================================================================================= ^^
  Page Concept
=========================================================================================== ^^ */
.page-concept .page-title {
  max-width: 113px;
  width: 9.8776%;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .page-concept .page-title {
    width: 30%;
  }
}
.page-concept .section-title img {
  vertical-align: middle;
}
.page-concept .section-title .gakugeidai {
  max-width: 366px;
  width: 31.993%;
}
.page-concept .section-title .times {
  max-width: 60px;
  width: 5.2448%;
  margin: 0 3.4965%;
}
@media screen and (max-width: 767px) {
  .page-concept .section-title img {
    display: block;
    margin: 0 auto;
  }
  .page-concept .section-title .gakugeidai {
    width: 100%;
    margin-bottom: 10px;
  }
  .page-concept .section-title .times {
    width: 100%;
    margin: 0 auto 10px;
  }
}
.page-concept .lead-section {
  margin-bottom: 120px;
}
.page-concept .lead-section .section-title {
  margin-bottom: 75px;
}
.page-concept .lead-section .section-title img {
  max-width: 464px;
  width: 40.5594%;
}
.page-concept .lead-section p {
  font-size: 22px;
  line-height: 2.2;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .page-concept .lead-section {
    margin-bottom: 50px;
  }
  .page-concept .lead-section .section-title img {
    width: 80%;
  }
  .page-concept .lead-section p {
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
  }
}

.concept-section01 {
  padding: 60px 1.3112% 0;
  margin-bottom: 30px;
  background: url(../images/concept/bg01.jpg) no-repeat 50% 0 / 1286px auto;
}
.concept-section01 .section-title {
  margin-bottom: 40px;
}
.concept-section01 .section-title .ttl {
  max-width: 343px;
  width: 29.9825%;
}
@media screen and (max-width: 767px) {
  .concept-section01 .section-title .ttl {
    width: 100%;
  }
}
.concept-section01 .concept-title01 {
  margin-bottom: 45px;
  text-align: center;
}
.concept-section01 .concept-title01 img {
  max-width: 705px;
  width: 61.6259%;
}
@media screen and (max-width: 767px) {
  .concept-section01 .concept-title01 {
    font-size: 24px;
    line-height: 1.5;
  }
}
.concept-section01 .img {
  max-width: 876px;
  width: 76.5734%;
  margin: 0 auto 55px;
}
.concept-section01 .concept-title02 {
  margin-bottom: 25px;
  text-align: center;
}
.concept-section01 .concept-title02 img {
  max-width: 822px;
  width: 71.8531%;
}
@media screen and (max-width: 767px) {
  .concept-section01 .concept-title02 {
    font-size: 24px;
    line-height: 1.5;
  }
}
.concept-section01 .map {
  width: 100%;
  height: 0;
  padding-top: 65.5594%;
  position: relative;
  overflow: hidden;
}
.concept-section01 .map .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.concept-section01 .map .ico {
  position: absolute;
  cursor: pointer;
}
.concept-section01 .map .ico01 {
  max-width: 93px;
  width: 8.1294%;
  top: 22.2%;
  left: 55%;
}
.concept-section01 .map .ico02 {
  max-width: 109px;
  width: 9.528%;
  top: 14.6%;
  left: 76.7%;
}
.concept-section01 .map .ico02 {
  max-width: 109px;
  width: 9.528%;
  top: 14.6%;
  left: 76.7%;
}
.concept-section01 .map .ico03 {
  max-width: 150px;
  width: 13.1119%;
  top: 25.8%;
  left: 31.9%;
}
.concept-section01 .map .ico04 {
  max-width: 93px;
  width: 8.1294%;
  top: 16.8%;
  left: 28.5%;
}
.concept-section01 .map .popup {
  /*max-width: 376px;*/
  width: 35.8671%;
  -webkit-transition: top 1s linear, opacity 1s ease-out 0.5s;
  -ms-transition: top 1s linear, opacity 1s ease-out 0.5s;
  transition: top 1s linear, opacity 1s ease-out 0.5s;
  position: absolute;
  top: 800px;
  right: 0;
  opacity: 0;
}
.concept-section01 .map .popup.on {
  top: 160px;
  opacity: 1;
}
.concept-section01 .loc {
  margin: 0 10px;
  font-size: 0;
}
.concept-section01 .loc li {
  width: 24.9%;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .concept-section01 .map {
    height: auto;
    padding-top: 0;
    overflow: visible;
  }
  .concept-section01 .map::after {
    content: '\0020';
    display: block;
    clear: both;
  }
  .concept-section01 .map .inner {
    position: static;
  }
  .concept-section01 .map .ico {
    display: none;
  }
  .concept-section01 .map .popup {
    width: 47.4%;
    margin-bottom: 20px;
    margin-left: 2%;
    float: left;
    position: static;
    display: block;
    opacity: 1;
  }
  .concept-section01 .map .popup.popup-b,
  .concept-section01 .map .popup.popup-d {
    margin-left: 0;
    margin-right: 2%;
    float: right;
  }
  .concept-section01 .loc li {
    width: 49.8%;
    margin-bottom: 20px;
  }
}

.concept-section02 {
  padding: 60px 1.3112% 0;
  background: url(../images/concept/bg02.jpg) no-repeat 50% 0 / 1272px auto;
}
.concept-section02 .section-title {
  margin-bottom: 85px;
}
.concept-section02 .section-title .gakugeidai {
  padding-top: 7%;
}
.concept-section02 .section-title .times {
  padding-top: 6%;
}
.concept-section02 .section-title .ttl {
  max-width: 323px;
  width: 28.2343%;
}
@media screen and (max-width: 767px) {
  .concept-section02 .section-title .gakugeidai,
  .concept-section02 .section-title .times {
    padding-top: 0;
  }
  .concept-section02 .section-title .ttl {
    width: 100%;
  }
}
.concept-section02 .img {
  margin: 0 10px 65px;
}
.concept-section02 .img::after {
  content: '\0020';
  display: block;
  clear: both;
}
.concept-section02 .img .left-img {
  max-width: 750px;
  width: 66.726%;
  float: left;
}
.concept-section02 .img .right-img {
  max-width: 351px;
  width: 31.2278%;
  float: right;
}
.concept-section02 .img .right-img::after {
  content: '\0020';
  display: block;
  clear: both;
}
.concept-section02 .img .right-img img:first-child {
  margin-bottom: 6%;
}
@media screen and (max-width: 767px) {
  .concept-section02 .img {
    margin-bottom: 30px;
  }
  .concept-section02 .img .left-img {
    width: 100%;
    margin-bottom: 10px;
    float: none;
  }
  .concept-section02 .img .right-img {
    max-width: none;
    width: 100%;
    float: none;
  }
  .concept-section02 .img .right-img img {
    width: 49%;
    float: right;
  }
  .concept-section02 .img .right-img img:first-child {
    float: left;
  }
}
.concept-section02 .concept-title03 {
  margin-bottom: 25px;
  text-align: center;
}
.concept-section02 .concept-title03 img {
  max-width: 573px;
  width: 50.0874%;
}
@media screen and (max-width: 767px) {
  .concept-section02 .concept-title03 {
    font-size: 28px;
    line-height: 1.5;
  }
}

.concept-section02 .txt {
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
.concept-section02 .concept02-01 {
  margin-bottom: 70px;
}
.concept-section02 .concept02-02 {
  width: 100%;
  height: 0;
  padding-top: 25.7867%;
  margin-bottom: 160px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}
.concept-section02 .concept02-02 .inner {
  width: 100%;
  height: 81%;
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.concept-section02 .concept02-02 .inner .left {
  max-width: 227px;
  width: 19.8427%;
  margin: -8px 2.4476% 0 5.2448%;
  float: left;
}
.concept-section02 .concept02-02 .inner .center {
  max-width: 395px;
  width: 34.528%;
  margin: 0 2.4476% 0 0;
  float: left;
}
.concept-section02 .concept02-02 .inner .center img {
  max-width: 180px;
  width: 45.5696%;
  padding-top: 20px;
  margin-bottom: 15px;
}
.concept-section02 .concept02-02 .inner .center p {
  font-size: 18px;
  line-height: 1.2;
}
.concept-section02 .concept02-02 .inner .center p .company {
  font-size: 16px;
}
.concept-section02 .concept02-02 .inner .center p .name {
  font-size: 26px;
}
.concept-section02 .concept02-02 .inner .center p .sub {
  font-size: 14px;
}
.concept-section02 .concept02-02 .inner .right {
  max-width: 348px;
  width: 30.4196%;
  margin-top: -1%;
  float: left;
}

@media screen and (max-width: 767px) {
  .concept-section02 .concept02-01 {
    text-align: left;
  }
  .concept-section02 .concept02-02 {
    height: auto;
    padding-top: 0;
    margin-bottom: 40px;
    overflow: visible;
  }
  .concept-section02 .concept02-02 .inner {
    height: auto;
    position: static;
  }
  .concept-section02 .concept02-02 .inner .left {
    width: 100%;
    margin: 0 auto 20px;
    float: none;
  }
  .concept-section02 .concept02-02 .inner .center {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto 20px;
    float: none;
  }
  .concept-section02 .concept02-02 .inner .center img {
    margin: 0 auto 20px;
    display: block;
  }
  .concept-section02 .concept02-02 .inner .center p .name {
    display: block;
  }
  .concept-section02 .concept02-02 .inner .right {
    width: 100%;
    margin: 0 auto 20px;
    float: none;
  }
}

.concept-section02 .concept-title04 {
  margin-bottom: 30px;
  text-align: center;
}
.concept-section02 .concept-title04 img {
  max-width: 312px;
  width: 27.2727%;
}
@media screen and (max-width: 767px) {
  .concept-section02 .concept-title04 {
    font-size: 24px;
    line-height: 1.5;
  }
}
.concept-section02 .concept02-03 {
  margin-bottom: 95px;
  font-size: 18px;
  line-height: 2;
}

.concept-section02 .concept02-04 {
  margin-bottom: 130px;
}
.concept-section02 .concept02-04::after {
  content: '\0020';
  display: block;
  clear: both;
}
.concept-section02 .concept02-04 li {
  max-width: 329px;
  width: 28.7587%;
  margin-right: 6.86195%;
  float: left;
}
.concept-section02 .concept02-04 li:nth-child(3n) {
  margin-right: 0;
}
.concept-section02 .concept02-04 li .img {
  margin: 0 0 20px;
}
.concept-section02 .concept02-04 li h5 {
  margin-bottom: 20px;
}
.concept-section02 .concept02-04 li h5 img {
  max-width: 135px;
  width: 41.0334%;
}
.concept-section02 .concept02-04 li p {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .concept-section02 .concept02-03 {
    margin-bottom: 30px;
    text-align: left;
  }
  .concept-section02 .concept02-04 {
    padding: 0 4%;
    margin-bottom: 30px;
  }
  .concept-section02 .concept02-04 li {
    max-width: none;
    width: 100%;
    margin: 0 0 20px;
    float: none;
  }
}

.concept-section03 {
  padding: 60px 1.3112% 0;
  background: url(../images/concept/bg03.jpg) no-repeat 50% 0 / 1268px auto;
}
.concept-section03 .section-title {
  margin-bottom: 85px;
}
.concept-section03 .section-title .ttl {
  max-width: 279px;
  width: 24.3081%;
  padding-top: 2%;
}
@media screen and (max-width: 767px) {
  .concept-section03 .section-title .ttl {
    width: 100%;
    padding-top: 0;
  }
}
.concept-section03 .img {
  margin-bottom: 50px;
}

.concept-section03 .concept03-01 {
  margin-bottom: 130px;
}
.concept-section03 .concept03-01::after {
  content: '\0020';
  display: block;
  clear: both;
}
.concept-section03 .concept03-01 li {
  max-width: 329px;
  width: 28.7587%;
  margin-right: 6.86195%;
  float: left;
}
.concept-section03 .concept03-01 li:nth-child(3n) {
  margin-right: 0;
}
.concept-section03 .concept03-01 li .img {
  margin: 0 0 20px;
}
.concept-section03 .concept03-01 li h5 {
  margin-bottom: 20px;
}
.concept-section03 .concept03-01 li.flooring01 h5 img {
  max-width: 67px;
  width: 20.3647%;
}
.concept-section03 .concept03-01 li.flooring02 h5 img {
  max-width: 103px;
  width: 31.307%;
}
.concept-section03 .concept03-01 li.flooring03 h5 img {
  max-width: 203px;
  width: 61.70213%;
}
.concept-section03 .concept03-01 li p {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .concept-section03 .concept03-01 {
    padding: 0 4%;
    margin-bottom: 30px;
  }
  .concept-section03 .concept03-01 li {
    max-width: none;
    width: 100%;
    margin: 0 0 20px;
    float: none;
  }
}

/*! ======================================================================================= ^^
  Page Location
=========================================================================================== ^^ */
.page-location .page-title {
  max-width: 121px;
  width: 10.5769%;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .page-location .page-title {
    width: 30%;
    margin-bottom: 40px;
  }
}
.page-location .location-section01 > h3.section-title {
  margin-bottom: 20px;
}
.page-location .location-section01 > h3.section-title img {
  max-width: 510px;
  width: 44.5804%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section01 > h3.section-title img {
    width: 90%;
  }
}
.page-location .location-section01 .lead {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .page-location .location-section01 .lead {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: left;
  }
}
.page-location .location-section01 .img {
  margin-bottom: 70px;
}
.page-location .location-section01 .loc01 {
  max-width: 1110px;
  padding: 40px 5.2448%;
  margin: 0 auto 35px;
}
.page-location .location-section01 .loc01::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section01 .loc01 h4 {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
}
.page-location .location-section01 .loc01-01 {
  background-color: #e1efd0;
}
.page-location .location-section01 .loc01-02 {
  background-color: #fcebee;
}
.page-location .location-section01 .loc01-01 h4 img {
  max-width: 665px;
  width: 58.1294%;
}
.page-location .location-section01 .loc01-02 h4 img {
  max-width: 703px;
  width: 61.451%;
}
.page-location .location-section01 .loc01 h5 {
  margin-bottom: 20px;
}
.page-location .location-section01 .loc01-01 h5 img {
  max-width: 128px;
  width: 26.9474%;
}
.page-location .location-section01 .loc01-02 h5 img {
  max-width: 258px;
  width: 54.3158%;
}
.page-location .location-section01 .loc01 p {
  font-size: 16px;
  line-height: 1.8;
}
.page-location .location-section01 .loc01 .left-cont {
  max-width: 475px;
  width: 47.9798%;
}
.page-location .location-section01 .loc01 .right-cont {
  max-width: 467px;
  width: 47.1717%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section01 .loc01 h4 {
    margin-bottom: 30px;
  }
  .page-location .location-section01 .loc01 .left-cont {
    max-width: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .page-location .location-section01 .loc01 .right-cont {
    max-width: none;
    width: 100%;
  }
}
.page-location .location-section01 .loc01-01 .notice {
  padding: 0;
  font-size: 12px;
  text-indent: 0;
}
.page-location .location-section02 {
  max-width: 1110px;
  padding-bottom: 100px;
  margin: 0 auto 35px;
  border-bottom: 1px solid #000;
}
.page-location .location-section02::after {
  content: '\0020';
  display: block;
  clear: both;
}
@media screen and (max-width: 767px) {
  .page-location .location-section02 {
    padding-bottom: 30px;
  }
}
.page-location .location-section02 .section-title {
  margin-bottom: 30px;
  font-size: 20px;
}
.page-location .location-section02 .section-title img {
  max-width: 150px;
  width: 13.5135%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section02 .section-title img {
    width: 100%;
  }
}
.page-location .location-section02 p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .page-location .location-section02 p {
    text-align: left;
  }
}
.page-location .location-section02 .left-cont {
  max-width: 450px;
  width: 40.5405%;
  padding-top: 4%;
}
.page-location .location-section02 .right-cont {
  max-width: 650px;
  width: 58.5586%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section02 .left-cont {
    max-width: none;
    width: 100%;
    padding-top: 0;
  }
  .page-location .location-section02 .right-cont {
    max-width: none;
    width: 100%;
  }
}

.page-location .location-section03 {
  max-width: 1110px;
  padding-top: 55px;
  padding-bottom: 40px;
  margin: 0 auto 35px;
  border-bottom: 1px solid #000;
}
.page-location .location-section03 .section-title {
  margin-bottom: 90px;
}
.page-location .location-section03 .section-title img {
  max-width: 511px;
  width: 46.036%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section03 {
    padding-top: 30px;
  }
  .page-location .location-section03 .section-title {
    margin-bottom: 40px;
  }
  .page-location .location-section03 .section-title img {
    width: 96%;
  }
}
.page-location .location-section03 .loc03::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section03 .loc03 li {
  max-width: 353px;
  width: 31.8018%;
  margin: 0 2.2973% 50px 0;
  float: left;
}
.page-location .location-section03 .loc03 li:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .page-location .location-section03 .loc03 li {
    max-width: none;
    width: 100%;
    margin: 0 0 30px;
  }
}
.page-location .location-section03 .loc03 li .img {
  margin-bottom: 15px;
}
.page-location .location-section03 .loc03 li .name {
  width: 100%;
  height: 31px;
  margin-bottom: 10px;
  background-color: #9d0000;
  font-size: 16px;
  color: #fff;
  line-height: 31px;
  text-align: center;
}
.page-location .location-section03 .loc03 li .desc {
  font-size: 16px;
  line-height: 1.4;
}

.page-location .location-section04 {
  max-width: 1110px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto 35px;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 767px) {
  .page-location .location-section04 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.page-location .location-section04 .section-title {
  margin-bottom: 30px;
}
.page-location .location-section04 .section-title img {
  max-width: 571px;
  width: 51.4414%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section04 .section-title img {
    width: 96%;
  }
}
.page-location .location-section04 .lead {
  margin-bottom: 65px;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .page-location .location-section04 .lead {
    text-align: left;
  }
}
.page-location .location-section04 .shop-box {
  margin-bottom: 60px;
}
.page-location .location-section04 .shop03.shop-box {
  margin-bottom: 0;
}
.page-location .location-section04 .shop-box::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section04 .shop-box .info {
  max-width: 575px;
  width: 51.8018%;
}
.page-location .location-section04 .shop-box .img {
  max-width: 495px;
  width: 44.5946%;
}
.page-location .location-section04 .shop-box .info h4 {
  margin-bottom: 20px;
}
.page-location .location-section04 .shop01 h4 img {
  max-width: 213px;
  width: 43.0303%;
}
.page-location .location-section04 .shop02 h4 img {
  max-width: 165px;
  width: 33.3333%;
}
.page-location .location-section04 .shop03 h4 img {
  max-width: 155px;
  width: 31.3131%;
}
.page-location .location-section04 .shop-box .info p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}
.page-location .location-section04 .shop-box .info .shop-info {
  font-size: 14px;
  line-height: 1.4;
}
.page-location .location-section04 .shop-box .info .shop-info::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section04 .shop-box .info .shop-info dt {
  width: 75px;
  float: left;
}
.page-location .location-section04 .shop-box .info .shop-info dt::after {
  content: '／';
  display: inline;
}
.page-location .location-section04 .shop-box .info .shop-info dd {
  padding-left: 75px;
}
@media screen and (max-width: 767px) {
  .page-location .location-section04 .shop-box .info {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .page-location .location-section04 .shop-box .img {
    max-width: none;
    width: 100%;
  }
  .page-location .location-section04 .shop-box .info .shop-info dt {
    width: 100%;
    margin-bottom: 10px;
    float: none;
  }
  .page-location .location-section04 .shop-box .info .shop-info dt::after {
    display: inline;
  }
  .page-location .location-section04 .shop-box .info .shop-info dd {
    padding-left: 0;
  }
}

.page-location .location-section05 {
  max-width: 1110px;
  padding-top: 50px;
  margin: 0 auto 35px;
}
@media screen and (max-width: 767px) {
  .page-location .location-section05 {
    padding-top: 0;
  }
}
.page-location .location-section05 .section-title {
  margin-bottom: 35px;
}
.page-location .location-section05 .section-title img {
  max-width: 357px;
  width: 32.1621%;
}
@media screen and (max-width: 767px) {
  .page-location .location-section05 .section-title img {
    width: 96%;
  }
}
.page-location .location-section05 .lead {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}
.page-location .location-section05 .tab-menu {
  margin-bottom: 55px;
}
.page-location .location-section05 .tab-menu::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section05 .tab-menu li {
  max-width: 170px;
  width: 15.3153%;
  margin-right: 1.55%;
  float: left;
}
.page-location .location-section05 .tab-menu li:nth-child(6n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .page-location .location-section05 .tab-menu li {
    width: 32.6666%;
    margin: 0 1% 10px 0;
  }
  .page-location .location-section05 .tab-menu li:nth-child(3n) {
    margin-right: 0;
  }
}

.page-location .location-section05 .tab-panel {
  margin-bottom: 50px;
  display: none;
}
.page-location .location-section05 .tab-panel::after {
  content: '\0020';
  display: block;
  clear: both;
}
.page-location .location-section05 .tab-panel .map {
  max-width: 780px;
  width: 70.2703%;
  float: right;
}
.page-location .location-section05 .tab-panel .left-column {
  max-width: 320px;
  width: 28.8288%;
}
.page-location .location-section05 .tab-panel ol li {
  padding-left: 35px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.2;
  position: relative;
}
.page-location .location-section05 .tab-panel .column-2 li:last-child {
  margin-bottom: 0;
}
.page-location .location-section05 .tab-panel ol li .num {
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 3px;
  left: 0;
}
.page-location .location-section05 .tab-panel.tab01 ol li .num {
  background-color: #ef93bb;
}
.page-location .location-section05 .tab-panel.tab02 ol li .num {
  background-color: #b0d8b0;
}
.page-location .location-section05 .tab-panel.tab03 ol li .num {
  background-color: #65b1e3;
}
.page-location .location-section05 .tab-panel.tab04 ol li .num {
  background-color: #c8a1ca;
}
.page-location .location-section05 .tab-panel.tab05 ol li .num {
  background-color: #f5d220;
}
.page-location .location-section05 .tab-panel.tab06 ol li .num {
  background-color: #f4a347;
}
@media screen and (max-width: 767px) {
  .page-location .location-section05 .tab-panel {
    margin-bottom: 20px;
  }
  .page-location .location-section05 .tab-panel .map {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
    float: none;
  }
  .page-location .location-section05 .tab-panel ol {
    max-width: none;
    width: 50%;
    float: left;
  }
  .page-location .location-section05 .tab-panel ol li {
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .page-location .location-section05 .tab-panel ol li .num {
    width: 14px;
    height: 14px;
    line-height: 14px;
  }
}
