@media (min-width: 1200px) {
    .container {
        max-width: 1127px;
    }
}

@media (max-width: 768px) {
    header .w_header_content {
        padding-top: 20px;
        height: auto;
    }

    header .header_content {
        background: none;
    }

    header h1 {
        text-align: center;
        line-height: 0.7em;
        margin-bottom: 20px;
    }

    header h1 span:first-child {
        font-size: 0.7111em;
    }

    header h1 span:last-child {
        display: block;
        font-size: 0.5333em;
    }

    header h2 {
        font-size: 2.25em;
        text-align: center;
        margin-bottom: 15px;
    }

    header h2 span {
        display: block;
    }

    header p {
        text-align: center;
    }

    header p .btn {
        font-size: 1.2857em;
        padding-left: 15px;
        padding-right: 15px;
    }

    header .btn_access {
        display: block;
        text-align: center;
        padding: 8px 15px;
        border-radius: 100px;
    }

    header .btn_access span {
        display: block;
        font-size: 0.6667em;
        font-weight: 400;
    }

    header ul {
        position: relative;
        top: -80px;
    }

    header ul li {
        margin-right: 6px;
        width: 108px;
        height: 108px;
        font-size: 1em;
    }

    .section_method h3 {
        font-size: 1.5em;
    }

    .section_method .method_top {
        top: -95px;
    }

    .section_method ul li {
        margin-right: 5px;
        padding: 20px 3px;
    }

    .section_method ul li h4 {
        font-size: 0.4444em;
        min-height: 30px;
    }

    .section_method ul li h2 {
        font-size: 1em;
    }

    .section_method ul li img {
        height: 53px;
        margin-bottom: 15px;
    }

    .section_table {
        padding-bottom: 190px;
        top: -110px;
    }

    .section_table .img_caller {
        width: 135px;
        left: -40px;
        bottom: -190px;
        margin: auto;
    }

    .section_info {
        padding-bottom: 0;
    }

    .section_info h4 {
        font-size: 1.125em;
    }

    .section_info .btn_accessnow {
        min-width: auto;
        display: block;
        margin-bottom: 10px;
    }

    .section_info .info_content {
        padding-top: 30px;
    }

    .info_content_custom {
        position: relative;
    }

    .info_content_custom .info_content {
        position: absolute;
        top: -300px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .info_content {
        position: relative;
        top: -60px;
    }

    .info_content h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .info_content p {
        margin-bottom: 0;
    }

    .info_content ul {
        margin-bottom: 0;
    }

    .info_content ul li {
        text-align: center;
        width: 140px;
        height: 140px;
        margin-right: 55px;
        bottom: -58px;
    }

    .info_content ul li img {
        height: 43px;
    }

    .info_content ul li p {
        font-size: 0.75em;
        line-height: 1.3em;
    }

    .info_content ul li h3 {
        font-size: 1.5em;
    }

    .section_case .box_case {
        padding: 20px 5px;
        margin-bottom: 50px;
    }

    .section_case .box_case:nth-of-type(1) h2 {
        top: -30px;
    }

    .section_case .box_case:nth-of-type(1) h2::before {
        content: '';
        background: url("../images/SVG/CASE1.svg") no-repeat;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: -40px;
        width: 124px;
        height: 102px;
    }

    .section_case .box_case:nth-of-type(1) .box_steps {
        height: auto;
    }

    .section_case .box_case:nth-of-type(1) .box_steps li {
        max-width: 100%;
    }

    .section_case .box_case:nth-of-type(2) {
        padding-left: 0;
    }

    .section_case .box_case:nth-of-type(2)::after {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        left: -15px;
    }

    .section_case .box_case:nth-of-type(2) h2 {
        text-align: left;
        padding-bottom: 50px;
    }

    .section_case .box_case:nth-of-type(2) h2::before {
        content: '';
        background: url("../images/SVG/CASE2.svg") no-repeat;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 12px;
        width: 150px;
        height: 105px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps {
        height: auto;
    }

    .section_case .box_case:nth-of-type(2) .box_steps::before {
        height: 87%;
        width: 8px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li {
        margin-right: 0;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li h3 {
        height: auto;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-child(5) h3 {
        position: relative;
        top: 6px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(4) img {
        margin-left: 30px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(5) img {
        margin-left: 21px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(6) img {
        margin-left: 20px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:last-child {
        max-width: 100%;
    }

    .section_case .box_case:nth-of-type(3) h2::before {
        content: '';
        background: url("../images/SVG/CASE3.svg") no-repeat;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: -25px;
        width: 154px;
        height: 107px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps {
        height: auto;
        padding-bottom: 50px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps::before {
        left: 50%;
        bottom: 50px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child {
        background-image: url("../images/SVG/or_sp.svg");
        background-position: 50% 0;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child::before, .section_case .box_case:nth-of-type(3) .box_steps li:last-child::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child::before {
        top: 80px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child::after {
        top: 88px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child h3 {
        top: -32px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(5) h3 {
        top: 6px;
        position: relative;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(4) img {
        margin-left: 30px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(5) img {
        margin-left: 16px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(6) img {
        margin-left: 14px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li h4 {
        width: 120px;
        position: absolute;
        right: 0;
        top: 84px;
        margin-bottom: 0;
    }

    .section_case .box_case::after {
        bottom: 0;
        right: -15px;
        border-bottom-right-radius: 0;
        height: calc(100% - 120px);
    }

    .section_case .box_case h2 {
        font-size: 2.25em;
        margin-bottom: 50px;
        position: relative;
    }

    .section_case .box_case .box_steps {
        padding: 20px 60px;
        display: block;
    }

    .section_case .box_case .box_steps::before {
        width: 8px;
        height: auto;
        top: 61px;
        bottom: 70px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    .section_case .box_case .box_steps li {
        text-align: left;
        margin-bottom: 55px;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
    }

    .section_case .box_case .box_steps li .box_steps_img {
        position: relative;
        left: unset;
        transform: translateX(0);
    }

    .section_case .box_case .box_steps li .box_steps_img::before {
        content: '';
        background: url("../images/SVG/i_down_lg.svg") no-repeat;
        width: 26px;
        height: 25px;
        position: absolute;
        left: 50px;
        right: inherit;
        bottom: -50px;
        margin: auto;
    }

    .section_case .box_case .box_steps li:last-child {
        margin-bottom: 0;
    }

    .section_case .box_case .box_steps li:last-child .box_steps_img::before {
        display: none;
    }

    .section_case .box_case .box_steps li:nth-of-type(3) img {
        margin-left: 15px;
    }

    .section_case .box_case .box_steps li:nth-of-type(4) img {
        margin-left: 15px;
    }

    .section_case .box_case .box_steps li h3 {
        margin-bottom: 0;
        width: 202px;
        position: relative;
        top: 6px;
    }

    .section_case .box_case .box_steps li h3::after {
        display: none;
    }

    .section_case .box_case .box_steps li h3 span {
        font-size: .6em;
    }

    .section_case .box_case .w_img_case {
        margin-bottom: 30px;
    }

    .section_case .box_case .w_img_case .img_case {
        position: relative;
        left: 0;
        top: 0;
        display: none;
    }

    .section_case .box_case .list_who {
        margin-bottom: 30px;
        padding-left: 15px;
    }

    .section_case .box_case .list_who li {
        font-size: 1.125em;
    }

    .section_faq {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .section_faq h2.title {
        margin-bottom: 0;
    }

    .accordion .card:last-child {
        margin-bottom: 0;
    }

    .accordion .card .card-header h2 .btn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: stretch;
        padding-right: 15px;
    }

    .accordion .card .card-header h2 .btn::after {
        right: -10px;
    }

    .accordion .card .card-header h2 .btn.collapsed::after {
        right: -10px;
    }

    .accordion .card .card-header h2 .btn span {
        display: inline-table;
        text-align: center;
        padding-top: 10px;
    }

    .accordion .card .card-body {
        margin-left: 0;
        margin-right: 0;
    }

    footer ul {
        margin-bottom: 10px;
    }

    footer .footer_top {
        text-align: center;
    }

    footer .footer_top .btn_contact {
        float: none;
    }

    footer .footer_bottom .btn_accessnow {
        display: block;
        min-width: auto;
    }

    footer .footer_bottom p:nth-of-type(2) {
        margin-bottom: 5px;
    }
}

@media (width: 768px) {
    .section_case .box_case .box_steps {
        padding: 20px 160px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li h4 {
        width: 132px;
    }
}

@media (max-width: 414px) {
    .section_case .box_case .box_steps {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    section {
        padding: 15px 0;
    }

    header .w_header_content {
        padding: 0 15px;
    }

    header p .btn {
        font-size: 1em;
    }

    header h2 {
        font-size: 1.8em;
    }

    header .btn_access {
        margin-left: 15px;
        margin-right: 15px;
    }

    header ul li {
        width: 100px;
        height: 100px;
    }

    .section_method h3 {
        font-size: 1.2em;
    }

    .section_table {
        top: -90px;
    }

    .info_content ul li {
        width: 120px;
        height: 120px;
    }

    .section_case .box_case h2 {
        font-size: 1.5em;
    }

    .section_case .box_case p {
        font-size: 1em;
    }

    .section_case .box_case .list_who li {
        font-size: 1em;
    }

    .section_case .box_case .box_steps:before {
        bottom: 45px;
    }

    .section_case .box_case .box_steps li:before {
        top: 30px;
    }

    .section_case .box_case .box_steps li:after {
        top: 37px;
    }

    .section_case .box_case .box_steps li h3 {
        font-size: .8em;
        left: 20px;
        top: 7px;
    }

    .section_case .box_case .box_steps li img {
        width: 100px;
    }

    .section_case .box_case .box_steps li .box_steps_img::before {
        left: -140px;
    }

    .section_case .box_case .box_steps li:nth-of-type(3) img {
        width: 70px;
    }

    .section_case .box_case .box_steps li:nth-of-type(4) img {
        width: 70px;
    }

    .section_case .box_case:nth-of-type(1) li:last-child h3 {
        top: 21px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(4) img {
        width: 50px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(5) img {
        width: 70px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(5) h3 {
        top: 40px;
    }

    .section_case .box_case:nth-of-type(2) .box_steps li:nth-of-type(6) img {
        width: 70px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps {
        padding-bottom: 63px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li h3 {
        font-size: .8em;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li h4 {
        font-size: .8em;
        right: -29px;
        top: 91px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(4) img {
        width: 50px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(5) img {
        width: 70px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(5) h3 {
        top: 11px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:nth-of-type(6) img {
        width: 70px;
    }

    .section_case .box_case:nth-of-type(3) .box_steps li:last-child h3 {
        top: -17px;
    }

    .section_faq h2.title img {
        width: 200px;
    }

    .accordion .card {
        padding: 15px;
    }

    .accordion .card .card-header h2 .btn {
        font-size: .8em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    header .w_header_content {
        display: block;
        padding-top: 80px;
    }

    header .header_content {
        background-size: 35%;
    }

    .section_table {
        background: transparent;
    }

    .section_table::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #f5f5f5;
        width: 100%;
        height: 70%;
    }

    .section_table::after {
        content: '';
        background: url("../images/union.png") no-repeat bottom center;
        background-size: 100%;
        width: 100%;
        height: 295px;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .section_table .img_caller {
        display: none;
    }

    .section_table .img_caller.img_caller_ie {
        display: block;
        bottom: -280px;
    }
}
