@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /concept/ (SP)
*   concept.css
*
--------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {

/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 80px;}
/* ------------------------------------------------------- */

#page_concept{
    padding: 0 25px 200px 25px;
    margin: 0 0 -20px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.11em;
    letter-spacing: .02em;
    background-image:url(../../images/concept/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 460px;
}

#page_concept .copy{
    margin: 0 0 25px 0;
    font-size: 26px;
    line-height: 1.69em;
}

}

/* --------------------------------------------------------------------------------
*
    @media screen and (max-width: 480px) 
*
-------------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {

#page_concept{
    padding-bottom: 145px;
    font-size: 13px;
    line-height: 1.84em;
    letter-spacing: .02em;
    background-size: 300px;
}

#page_concept .copy{
    font-size: 17px;
    line-height: 1.52em;
    letter-spacing: .02em;
}

}