@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /support/ (SP)
*   support.css
*
--------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {

/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 105px;}
.img_btm_animal{
    width: 110px;
    height: 216px;
    background-image:url(../../images/support/img_btm_animal.png);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: 0;
    right: 20px;
}
/* ------------------------------------------------------- */

#page_support{
    text-align: left;
    padding: 0 25px;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.714em;
}

#page_support .support_desc{
    margin: 0 0 20px 0;
}

#page_support .support_desc img{
    width: 105px;
    height: auto;
    margin: 0 10px 5px 0;
    line-height: 0;
    float: left;
}

#page_support h3{
    margin: 0 0 10px 0;
}

#page_support .list_copy{
    margin: 0 0 15px 0;
    padding: 0 5px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: bold;
}

#page_support .support_list li{
    min-height: auto;
    padding: 15px 12px 0 12px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    clear: both;
    background-color: #ece9e4;
    overflow: hidden;
    position: relative;
}

#page_support .support_list li .description{
    width: 100%;
    margin: 0;
    float: none;
    line-height: 1.57em;
}

#page_support .support_list li .voice{
    padding: 10px 0 15px 0;
    border-top: 1px solid #fff;
    position: relative;
}
#page_support .support_list li .voice br{ display: none;}


#page_support .support_list li .voice:after{
    width: 100%;
    height: 10px;
    content: '';
    display: block;
    background-image:url(../../images/support/parts_balloon_arrow_top_sp.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center top;
    position: absolute;
    top: -10px;
    left: 0;
}

#page_support .support_list li .pic{
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
    min-width: auto;
    line-height: 0;
    position: relative;
    bottom: 0;
    right: 0;
}

#page_support .support_list li .pic img{
    width: auto;
    height: 250px;
    margin-top: 25px;
    }



#page_support .support_list li .description h4{
    padding: 8px 0;
    margin: 0;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .09em;
}


#page_support .support_list li .description .desc{
    margin: 0 0 15px 0;
}

#page_support .support_list .old_system{
    margin: 0 0 15px 0;
    padding: 0 5px;
}

}


/* --------------------------------------------------------------------------------
*
    @media screen and (max-width: 480px) 
*
-------------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
    
#page_support{ 
    font-size: 11px;
    line-height: 1.45em;
}

#page_support .support_list li .pic img{
    width: auto;
    height: 250px;
    margin: 25px 0 0 -15px;
}

#page_support .support_list li .description h4{
    height: 26px;
    padding: 0;
    line-height: 26px;
    font-size: 12px;
}

}