@charset "utf-8";


/* clearfix
---------------------------------*/
.clearfix:after {/*for modern browser*/
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1; /*for IE 5.5-7*/
	display: inline-block;
}

/* exlude MacIE 5 \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* end MacIE5 */


/*float
---------------------------------*/
.flt_L {
	float: left;
}
.flt_R {
	float: right;
}


/* Position */
	.pa { position:absolute !important; } .pr { position:relative !important; }
	.at00 { top:   0px !important; } .ar00 { right:  0px !important; } .ab00 { bottom:  0px !important; } .al00 { left:  0px !important; }
	.at05 { top:   5px !important; } .ar05 { right:  5px !important; } .ab05 { bottom:  5px !important; } .al05 { left:  5px !important; }
	.at10 { top:  10px !important; } .ar10 { right: 10px !important; } .ab10 { bottom: 10px !important; } .al10 { left: 10px !important; }
	.at15 { top:  15px !important; } .ar15 { right: 15px !important; } .ab15 { bottom: 15px !important; } .al15 { left: 15px !important; }
	.at20 { top:  20px !important; } .ar20 { right: 20px !important; } .ab20 { bottom: 20px !important; } .al20 { left: 20px !important; }
	.at25 { top:  25px !important; } .ar25 { right: 25px !important; } .ab25 { bottom: 25px !important; } .al25 { left: 25px !important; }
	.at30 { top:  30px !important; } .ar30 { right: 30px !important; } .ab30 { bottom: 30px !important; } .al30 { left: 30px !important; }
	.at35 { top:  35px !important; } .ar35 { right: 35px !important; } .ab35 { bottom: 35px !important; } .al35 { left: 35px !important; }
	.at40 { top:  40px !important; } .ar40 { right: 40px !important; } .ab40 { bottom: 40px !important; } .al40 { left: 40px !important; }
	.at45 { top:  45px !important; } .ar45 { right: 45px !important; } .ab45 { bottom: 45px !important; } .al45 { left: 45px !important; }
	.at50 { top:  50px !important; } .ar50 { right: 50px !important; } .ab50 { bottom: 50px !important; } .al50 { left: 50px !important; }
	.at55 { top:  55px !important; } .ar55 { right: 55px !important; } .ab55 { bottom: 55px !important; } .al55 { left: 55px !important; }
	.at60 { top:  60px !important; } .ar60 { right: 60px !important; } .ab60 { bottom: 60px !important; } .al60 { left: 60px !important; }
	.at65 { top:  65px !important; } .ar65 { right: 65px !important; } .ab65 { bottom: 65px !important; } .al65 { left: 65px !important; }
	.at70 { top:  70px !important; } .ar70 { right: 70px !important; } .ab70 { bottom: 70px !important; } .al70 { left: 70px !important; }
	.at75 { top:  75px !important; } .ar75 { right: 75px !important; } .ab75 { bottom: 75px !important; } .al75 { left: 75px !important; }
	.at80 { top:  80px !important; } .ar80 { right: 80px !important; } .ab80 { bottom: 80px !important; } .al80 { left: 80px !important; }
	.at85 { top:  85px !important; } .ar85 { right: 85px !important; } .ab85 { bottom: 85px !important; } .al85 { left: 85px !important; }
	.at90 { top:  90px !important; } .ar90 { right: 90px !important; } .ab90 { bottom: 90px !important; } .al90 { left: 90px !important; }
	.at95 { top:  95px !important; } .ar95 { right: 95px !important; } .ab95 { bottom: 95px !important; } .al95 { left: 95px !important; }
	.at100{ top: 100px !important; } .ar100{ right:100px !important; } .ab100{ bottom:100px !important; } .al100{ left:100px !important; }

/* Margin-All & Padding-All */
	.m0a { margin:  0px auto !important; }
	.m00 { margin:  0px !important; }    .p00 { padding:  0px !important; }
	.m05 { margin:  5px !important; }    .p05 { padding:  5px !important; }
	.m10 { margin: 10px !important; }    .p10 { padding: 10px !important; }
	.m15 { margin: 15px !important; }    .p15 { padding: 15px !important; }
	.m20 { margin: 20px !important; }    .p20 { padding: 20px !important; }
	.m25 { margin: 25px !important; }    .p25 { padding: 25px !important; }
	.m30 { margin: 30px !important; }    .p30 { padding: 30px !important; }
	.m35 { margin: 35px !important; }    .p35 { padding: 35px !important; }
	.m40 { margin: 40px !important; }    .p40 { padding: 40px !important; }
	.m45 { margin: 45px !important; }    .p45 { padding: 45px !important; }
	.m50 { margin: 50px !important; }    .p50 { padding: 50px !important; }
	.m55 { margin: 55px !important; }    .p55 { padding: 55px !important; }
	.m60 { margin: 60px !important; }    .p60 { padding: 60px !important; }
	.m65 { margin: 65px !important; }    .p65 { padding: 65px !important; }
	.m70 { margin: 70px !important; }    .p70 { padding: 70px !important; }
	.m75 { margin: 75px !important; }    .p75 { padding: 75px !important; }
	.m80 { margin: 80px !important; }    .p80 { padding: 80px !important; }
	.m85 { margin: 85px !important; }    .p85 { padding: 85px !important; }
	.m90 { margin: 90px !important; }    .p90 { padding: 90px !important; }
	.m95 { margin: 95px !important; }    .p95 { padding: 95px !important; }
	.m100{ margin:100px !important; }    .p100{ padding:100px !important; }


/* Margin-Top & Padding-Top */
	.mt00 { margin-top:  0px !important; }    .pt00 { padding-top:  0px !important; }
	.mt05 { margin-top:  5px !important; }    .pt05 { padding-top:  5px !important; }
	.mt10 { margin-top: 10px !important; }    .pt10 { padding-top: 10px !important; }
	.mt15 { margin-top: 15px !important; }    .pt15 { padding-top: 15px !important; }
	.mt20 { margin-top: 20px !important; }    .pt20 { padding-top: 20px !important; }
	.mt25 { margin-top: 25px !important; }    .pt25 { padding-top: 25px !important; }
	.mt30 { margin-top: 30px !important; }    .pt30 { padding-top: 30px !important; }
	.mt35 { margin-top: 35px !important; }    .pt35 { padding-top: 35px !important; }
	.mt40 { margin-top: 40px !important; }    .pt40 { padding-top: 40px !important; }
	.mt45 { margin-top: 45px !important; }    .pt45 { padding-top: 45px !important; }
	.mt50 { margin-top: 50px !important; }    .pt50 { padding-top: 50px !important; }
	.mt55 { margin-top: 55px !important; }    .pt55 { padding-top: 55px !important; }
	.mt60 { margin-top: 60px !important; }    .pt60 { padding-top: 60px !important; }
	.mt65 { margin-top: 65px !important; }    .pt65 { padding-top: 65px !important; }
	.mt70 { margin-top: 70px !important; }    .pt70 { padding-top: 70px !important; }
	.mt75 { margin-top: 75px !important; }    .pt75 { padding-top: 75px !important; }
	.mt80 { margin-top: 80px !important; }    .pt80 { padding-top: 80px !important; }
	.mt85 { margin-top: 85px !important; }    .pt85 { padding-top: 85px !important; }
	.mt90 { margin-top: 90px !important; }    .pt90 { padding-top: 90px !important; }
	.mt95 { margin-top: 95px !important; }    .pt95 { padding-top: 95px !important; }
	.mt100{ margin-top:100px !important; }    .pt100{ padding-top:100px !important; }
	.mt04 { margin-top:  4px !important; }
	.mt07 { margin-top:  7px !important; }

/* Margin-Right & Padding-Right */
	.mr00 { margin-right:  0px !important; }  .pr00 { padding-right:  0px !important; }
	.mr05 { margin-right:  5px !important; }  .pr05 { padding-right:  5px !important; }
	.mr10 { margin-right: 10px !important; }  .pr10 { padding-right: 10px !important; }
	.mr15 { margin-right: 15px !important; }  .pr15 { padding-right: 15px !important; }
	.mr20 { margin-right: 20px !important; }  .pr20 { padding-right: 20px !important; }
	.mr25 { margin-right: 25px !important; }  .pr25 { padding-right: 25px !important; }
	.mr30 { margin-right: 30px !important; }  .pr30 { padding-right: 30px !important; }
	.mr35 { margin-right: 35px !important; }  .pr35 { padding-right: 35px !important; }
	.mr40 { margin-right: 40px !important; }  .pr40 { padding-right: 40px !important; }
	.mr45 { margin-right: 45px !important; }  .pr45 { padding-right: 45px !important; }
	.mr50 { margin-right: 50px !important; }  .pr50 { padding-right: 50px !important; }
	.mr55 { margin-right: 55px !important; }  .pr55 { padding-right: 55px !important; }
	.mr60 { margin-right: 60px !important; }  .pr60 { padding-right: 60px !important; }
	.mr65 { margin-right: 65px !important; }  .pr65 { padding-right: 65px !important; }
	.mr70 { margin-right: 70px !important; }  .pr70 { padding-right: 70px !important; }
	.mr75 { margin-right: 75px !important; }  .pr75 { padding-right: 75px !important; }
	.mr80 { margin-right: 80px !important; }  .pr80 { padding-right: 80px !important; }
	.mr85 { margin-right: 85px !important; }  .pr85 { padding-right: 85px !important; }
	.mr90 { margin-right: 90px !important; }  .pr90 { padding-right: 90px !important; }
	.mr95 { margin-right: 95px !important; }  .pt95 { padding-right: 95px !important; }
	.mr100{ margin-right:100px !important; }  .pr100{ padding-right:100px !important; }
	.mr04 { margin-right:  4px !important; }
	.mr07 { margin-right:  7px !important; }

/* Margin-Bottom & Padding-Bottom */
	.mb00 { margin-bottom:  0px !important; } .pb00 { padding-bottom:  0px !important; }
	.mb05 { margin-bottom:  5px !important; } .pb05 { padding-bottom:  5px !important; }
	.mb10 { margin-bottom: 10px !important; } .pb10 { padding-bottom: 10px !important; }
	.mb15 { margin-bottom: 15px !important; } .pb15 { padding-bottom: 15px !important; }
	.mb20 { margin-bottom: 20px !important; } .pb20 { padding-bottom: 20px !important; }
	.mb25 { margin-bottom: 25px !important; } .pb25 { padding-bottom: 25px !important; }
	.mb30 { margin-bottom: 30px !important; } .pb30 { padding-bottom: 30px !important; }
	.mb35 { margin-bottom: 35px !important; } .pb35 { padding-bottom: 35px !important; }
	.mb40 { margin-bottom: 40px !important; } .pb40 { padding-bottom: 40px !important; }
	.mb45 { margin-bottom: 45px !important; } .pb45 { padding-bottom: 45px !important; }
	.mb50 { margin-bottom: 50px !important; } .pb50 { padding-bottom: 50px !important; }
	.mb55 { margin-bottom: 55px !important; } .pb55 { padding-bottom: 55px !important; }
	.mb60 { margin-bottom: 60px !important; } .pb60 { padding-bottom: 60px !important; }
	.mb65 { margin-bottom: 65px !important; } .pb65 { padding-bottom: 65px !important; }
	.mb70 { margin-bottom: 70px !important; } .pb70 { padding-bottom: 70px !important; }
	.mb75 { margin-bottom: 75px !important; } .pb75 { padding-bottom: 75px !important; }
	.mb80 { margin-bottom: 80px !important; } .pb80 { padding-bottom: 80px !important; }
	.mb85 { margin-bottom: 85px !important; } .pb85 { padding-bottom: 85px !important; }
	.mb90 { margin-bottom: 90px !important; } .pb90 { padding-bottom: 90px !important; }
	.mb95 { margin-bottom: 95px !important; } .pt95 { padding-bottom: 95px !important; }
	.mb100{ margin-bottom:100px !important; } .pb100{ padding-bottom:100px !important; }
	.mb04 { margin-bottom:  4px !important; }
	.mb07 { margin-bottom:  7px !important; }

/* Margin-Left & Padding-Left */
	.ml00 { margin-left:  0px !important; }   .pl00 { padding-left:  0px !important; }
	.ml05 { margin-left:  5px !important; }   .pl05 { padding-left:  5px !important; }
	.ml10 { margin-left: 10px !important; }   .pl10 { padding-left: 10px !important; }
	.ml15 { margin-left: 15px !important; }   .pl15 { padding-left: 15px !important; }
	.ml20 { margin-left: 20px !important; }   .pl20 { padding-left: 20px !important; }
	.ml25 { margin-left: 25px !important; }   .pl25 { padding-left: 25px !important; }
	.ml30 { margin-left: 30px !important; }   .pl30 { padding-left: 30px !important; }
	.ml35 { margin-left: 35px !important; }   .pl35 { padding-left: 35px !important; }
	.ml40 { margin-left: 40px !important; }   .pl40 { padding-left: 40px !important; }
	.ml45 { margin-left: 45px !important; }   .pl45 { padding-left: 45px !important; }
	.ml50 { margin-left: 50px !important; }   .pl50 { padding-left: 50px !important; }
	.ml55 { margin-left: 55px !important; }   .pl55 { padding-left: 55px !important; }
	.ml60 { margin-left: 60px !important; }   .pl60 { padding-left: 60px !important; }
	.ml65 { margin-left: 65px !important; }   .pl65 { padding-left: 65px !important; }
	.ml70 { margin-left: 70px !important; }   .pl70 { padding-left: 70px !important; }
	.ml75 { margin-left: 75px !important; }   .pl75 { padding-left: 75px !important; }
	.ml80 { margin-left: 80px !important; }   .pl80 { padding-left: 80px !important; }
	.ml85 { margin-left: 85px !important; }   .pb85 { padding-left: 85px !important; }
	.ml90 { margin-left: 90px !important; }   .pl90 { padding-left: 90px !important; }
	.ml95 { margin-left: 95px !important; }   .pt95 { padding-left: 95px !important; }
	.ml100{ margin-left:100px !important; }   .pl100{ padding-left:100px !important; }


/* Width */
	.w100 { width: 100px !important; }   .w200 { width: 200px !important; }   .w300 { width: 300px !important; }
	.w105 { width: 105px !important; }   .w205 { width: 205px !important; }   .w305 { width: 305px !important; }
	.w110 { width: 110px !important; }   .w210 { width: 210px !important; }   .w310 { width: 310px !important; }
	.w115 { width: 115px !important; }   .w215 { width: 215px !important; }   .w315 { width: 315px !important; }
	.w120 { width: 120px !important; }   .w220 { width: 220px !important; }   .w320 { width: 320px !important; }
	.w125 { width: 125px !important; }   .w225 { width: 225px !important; }   .w325 { width: 325px !important; }
	.w130 { width: 130px !important; }   .w230 { width: 230px !important; }   .w330 { width: 330px !important; }
	.w135 { width: 135px !important; }   .w235 { width: 235px !important; }   .w335 { width: 335px !important; }
	.w140 { width: 140px !important; }   .w240 { width: 240px !important; }   .w340 { width: 340px !important; }
	.w145 { width: 145px !important; }   .w245 { width: 245px !important; }   .w345 { width: 345px !important; }
	.w150 { width: 150px !important; }   .w250 { width: 250px !important; }   .w350 { width: 350px !important; }
	.w155 { width: 155px !important; }   .w255 { width: 255px !important; }   .w355 { width: 355px !important; }
	.w160 { width: 160px !important; }   .w260 { width: 260px !important; }   .w360 { width: 360px !important; }
	.w165 { width: 165px !important; }   .w265 { width: 265px !important; }   .w365 { width: 365px !important; }
	.w170 { width: 170px !important; }   .w270 { width: 270px !important; }   .w370 { width: 370px !important; }
	.w175 { width: 175px !important; }   .w275 { width: 275px !important; }   .w375 { width: 375px !important; }
	.w180 { width: 180px !important; }   .w280 { width: 280px !important; }   .w380 { width: 380px !important; }
	.w185 { width: 185px !important; }   .w285 { width: 285px !important; }   .w385 { width: 385px !important; }
	.w190 { width: 190px !important; }   .w290 { width: 290px !important; }   .w390 { width: 390px !important; }
	.w195 { width: 195px !important; }   .w295 { width: 295px !important; }   .w395 { width: 395px !important; }

	.w400 { width: 405px !important; }   .w500 { width: 500px !important; }   .w600 { width: 600px !important; }
	.w405 { width: 400px !important; }   .w505 { width: 505px !important; }   .w605 { width: 605px !important; }
	.w410 { width: 415px !important; }   .w510 { width: 510px !important; }   .w610 { width: 610px !important; }
	.w415 { width: 410px !important; }   .w515 { width: 515px !important; }   .w615 { width: 615px !important; }
	.w420 { width: 425px !important; }   .w520 { width: 520px !important; }   .w620 { width: 620px !important; }
	.w425 { width: 420px !important; }   .w525 { width: 525px !important; }   .w625 { width: 625px !important; }
	.w430 { width: 430px !important; }   .w530 { width: 530px !important; }   .w630 { width: 630px !important; }
	.w435 { width: 435px !important; }   .w535 { width: 535px !important; }   .w635 { width: 635px !important; }
	.w440 { width: 440px !important; }   .w540 { width: 540px !important; }   .w640 { width: 640px !important; }
	.w445 { width: 445px !important; }   .w545 { width: 545px !important; }   .w645 { width: 645px !important; }
	.w450 { width: 450px !important; }   .w550 { width: 550px !important; }   .w650 { width: 650px !important; }
	.w455 { width: 455px !important; }   .w555 { width: 555px !important; }   .w655 { width: 655px !important; }
	.w460 { width: 460px !important; }   .w560 { width: 560px !important; }   .w660 { width: 660px !important; }
	.w465 { width: 465px !important; }   .w565 { width: 565px !important; }   .w665 { width: 665px !important; }
	.w470 { width: 470px !important; }   .w570 { width: 570px !important; }   .w670 { width: 670px !important; }
	.w475 { width: 475px !important; }   .w575 { width: 575px !important; }   .w675 { width: 675px !important; }
	.w480 { width: 480px !important; }   .w580 { width: 580px !important; }   .w680 { width: 680px !important; }
	.w485 { width: 485px !important; }   .w585 { width: 585px !important; }   .w685 { width: 685px !important; }
	.w490 { width: 490px !important; }   .w590 { width: 590px !important; }   .w690 { width: 690px !important; }
	.w495 { width: 495px !important; }   .w595 { width: 595px !important; }   .w695 { width: 695px !important; }

	.w700 { width: 700px !important; }   .w800 { width: 800px !important; }   .w900 { width: 900px !important; }
	.w705 { width: 705px !important; }   .w805 { width: 805px !important; }   .w905 { width: 905px !important; }
	.w710 { width: 710px !important; }   .w810 { width: 810px !important; }   .w910 { width: 910px !important; }
	.w715 { width: 715px !important; }   .w815 { width: 815px !important; }   .w915 { width: 915px !important; }
	.w720 { width: 720px !important; }   .w820 { width: 820px !important; }   .w920 { width: 920px !important; }
	.w725 { width: 725px !important; }   .w825 { width: 825px !important; }   .w925 { width: 925px !important; }
	.w730 { width: 730px !important; }   .w830 { width: 830px !important; }   .w930 { width: 930px !important; }
	.w735 { width: 735px !important; }   .w835 { width: 835px !important; }   .w935 { width: 935px !important; }
	.w740 { width: 740px !important; }   .w840 { width: 840px !important; }   .w940 { width: 940px !important; }
	.w745 { width: 745px !important; }   .w845 { width: 845px !important; }   .w945 { width: 945px !important; }
	.w750 { width: 750px !important; }   .w850 { width: 850px !important; }   .w950 { width: 950px !important; }
	.w755 { width: 755px !important; }   .w855 { width: 855px !important; }   .w955 { width: 955px !important; }
	.w760 { width: 760px !important; }   .w860 { width: 860px !important; }   .w960 { width: 960px !important; }
	.w765 { width: 765px !important; }   .w865 { width: 865px !important; }   .w965 { width: 965px !important; }
	.w770 { width: 770px !important; }   .w870 { width: 870px !important; }   .w970 { width: 970px !important; }
	.w775 { width: 775px !important; }   .w875 { width: 875px !important; }   .w975 { width: 975px !important; }
	.w780 { width: 780px !important; }   .w880 { width: 880px !important; }   .w980 { width: 980px !important; }
	.w785 { width: 785px !important; }   .w885 { width: 885px !important; }   .w985 { width: 985px !important; }
	.w790 { width: 790px !important; }   .w890 { width: 890px !important; }   .w990 { width: 990px !important; }
	.w795 { width: 795px !important; }   .w895 { width: 895px !important; }   .w995 { width: 995px !important; }


/* TextAlign */
	.al { text-align: left !important; }   .ar { text-align: right !important; }  .ac { text-align: center !important; }
	.strong { font-weight: bold !important; }

/* FontSize */
	.f10 { font-size:83% !important; }
	.f11 { font-size:92% !important; }
	.f12 { font-size:100% !important; }
	.f13 { font-size:108% !important; }
	.f14 { font-size:117% !important; }
	.f15 { font-size:125% !important; }
	.f16 { font-size:133% !important; }
	.f17 { font-size:142% !important; }
	.f18 { font-size:150% !important; }
	.f19 { font-size:158% !important; }
	.f20 { font-size:167% !important; }
	.f21 { font-size:175% !important; }
	.f22 { font-size:183% !important; }
	.f23 { font-size:192% !important; }
	.f24 { font-size:200% !important; }
	.f25 { font-size:208% !important; }
	.f26 { font-size:217% !important; }
	.f27 { font-size:225% !important; }
	.f28 { font-size:233% !important; }
	.f29 { font-size:242% !important; }
	.f30 { font-size:250% !important; }

	.notice{
		font-size:10px;
		color:#555;
		text-align:right;
		padding:10px 0 10px 0;
	}
img:hover.cssover{
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity: 0.5;
}
 .cap{
	font-size:10px;
	text-align:right;
	line-height:12px;
}

.toggle {
    position: fixed;
    bottom: 20px;
    z-index: 1031;
    right: 15px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 100001;
    display: none;
    background-image: url('../../img/element/_arrows_down.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar-fixed-bottom{
	position: fixed;
	bottom: 0;
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	display: none;
}

.navbar-fixed-bottom .btn-group{
	padding-top: 15px;
}

.navbar-fixed-bottom .btn-group li{
	display: inline-block;
	margin: 0 7px;
	background-color: #f0ad4e;
	border-color: #eea236;
	border-radius: 5px;
	text-align: center;
	padding: 5px 5px;
	min-width: 110px;
}

.navbar-fixed-bottom .btn-group a{

	color: #ffffff;
	font-size: 13px;
	line-height: 1.5em;
}
.navbar-fixed-bottom .btn-group li:hover{
	cursor: pointer;
	background-color: #eea236;
}
.navbar-fixed-bottom .btn-group a:link{text-decoration: none;}
.navbar-fixed-bottom .btn-group a:hover{text-decoration: none;}

@media (max-width: 900px) {

.toggle {
    display: block;
}


.navbar-fixed-bottom{
	display: block;
}

}
