@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.headLine02 {
	margin-bottom: 104px;
}

#main .h4Ttl {
	margin-bottom: 63px;
	padding-bottom: 9px;
	font-size: 2.6rem;
	border-bottom: 1px solid #dcdcdc;
}

#main .h4Ttl span {
	margin-top: 7px;
	font-size: 1.5rem;
	font-weight: normal;
	display: block;
}

#main .imgBox {
	margin-bottom: 144px;
}

#main .textBox {
	float: left;
	width: 495px;
}

#main .photoBox{
	margin-top: 6px;
	float: right;
}

#main #map_canvas {
	width: 460px;
	height: 330px;
	margin-top: 6px;
	float: right;
}
@media all and (min-width: 0px) and (max-width: 640px) {
#main #map_canvas {
	width: 96%;
	height: 300px;
	margin: 6px auto 0;
	float: none !important;
}
}
#main .textBox p {
	line-height: 1.88;
	font-size: 1.6rem;
}

#main .textBox hr {
	margin: 35px 0 38px;
	width: 100%;
	height: 0px;
	border: 0;
	border-bottom: 1px solid #dcdcdc; 
}

@media all and (min-width: 0px) and (max-width: 640px) {
	
	.headLine02 {
		margin-bottom: 63px;
	}
	
	#main .h4Ttl {
		margin-bottom: 36px;
		padding-bottom: 12px;
		font-size: 1.4rem;
	}
	
	#main .h4Ttl span {
		font-size: 1.1rem;
	}
	
	#main .imgBox {
		margin-bottom: 63px;
	}
	
	#main .textBox {
		margin-bottom: 32px;
		float: none;
		width: 100%;
	}
	
	#main .photoBox {
		margin-top: 6px;
		float: none;
	}
	
	#main .textBox p {
		line-height: 2;
		font-size: 1rem;
	}

	#main .textBox hr {
		margin: 29px 0 24px;
	}
		
}