@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.headLine02 {
	margin-bottom: 66px;
}

#philosophy {
	margin: 0 auto;
	width: 620px;
}

#main .textList li {
	padding: 48px 0 0 2.1em;
	letter-spacing: 1px;
	text-indent: -2.1em;
}


@media all and (min-width: 0px) and (max-width: 640px) {
	.headLine02 {
		margin-bottom: 25px;
	}
	
	#philosophy {
		width: auto;
	}
	
	#main .textList li {
		padding-top: 15px;
	}
}