@charset "utf-8";
/* ===================================================================
CSS information

 file name  :  access.css
 style info :  accessページスタイル指定
=================================================================== */

article.content{
}
.mrauto {margin-right: auto;}
.mlauto {margin-left: auto;}
.w100 {width: 100%;}
.attention {
	font-size: 10px;
	line-height: 1.2;
}
.content h3 {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 21px;
	line-height: 1.4;
	margin-bottom: 5px;
}
section h4 {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 20px;
	line-height: 1.4;
}
article img {
	max-width: 100%;
}
article p {
	margin-bottom: 10px;
}

.sw_mincho{
font-family: "Sawarabi Mincho";
}

.headline{
font-size:18px;
text-align: center;
line-height: 1.8em;
}
.headline02 {
    font-size: 20px;
    text-align: center;
    line-height: 1.8em;
}

.br::before {
    content: "\A";
    white-space: pre;
}

.base_color{
color: #25494f;
}
.fw700{
font-weight: 700;
}
.fs_10{font-size:10px;}
.fs_12{font-size:12px;}
.fs_14{font-size:14px;}
.fs_16{font-size:16px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_22{font-size:22px;}
.fs_24{font-size:24px;}
.fs_26{font-size:26px;}
.fs_28{font-size:28px;}
.fs_30{font-size:30px;}
.fs_32{font-size:32px;}

/* スマホ */
@media screen and (max-width: 639px) {
.headline{
font-size:14px;
text-align: left;
line-height: 1.6em;
}
.headline02 {
    font-size: 18px;
    text-align: center;
    line-height: 1.6em;
}

.br::before {
    content: "";
    white-space: normal;
}
	.attention {
		text-align: left;
	}


}




.col02 > ul,
.col03 > ul,
.col04 > ul{
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

ul.col_c{
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-flex-pack:center;
-moz-flex-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
}

ul.col_s{
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-flex-pack:justify;
-moz-flex-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;

}

ul.col_l{
-webkit-box-pack:start;
-moz-box-pack:start;
-webkit-flex-pack:start;
-moz-flex-pack:start;
-ms-flex-pack:start;
-webkit-justify-content:flex-start;
-moz-justify-content:flex-start;
justify-content:flex-start;
}

ul.col_c > li {
margin: 0 1% 40px 1%;
}
ul.col_s > li{
margin: 0 0 40px 0;
}
.col02 > ul > li > .inner > ul.col_s > li{
margin: 0;
}


.col02 > ul > li{
width: 480px;
box-sizing: border-box;
}

.col03 > ul > li{
width: 306px;
box-sizing: border-box;
}

.col04 > ul > li{
width: 220px;
box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
ul.col_s,
ul.col_l{
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-flex-pack:center;
-moz-flex-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
}

ul.col_c > li,
ul.col_s > li{
margin: 0 1% 30px 1%;
}
}

@media screen and (max-width: 639px) {
ul.col_c > li,
ul.col_s > li{
margin: 0 2% 30px 2%;
}

.col03 > ul > li,
.col02 > ul > li{
width: 300px;
}
}
@media only screen and (max-width: 480px) {
.col02 > ul > li,
.col03 > ul > li,
.col04 > ul > li{
width: 90%;
margin: 0 auto 30px auto;
}

.col_adj{
display: none;
}

}
