@charset "utf-8";
/* CSS Document */

.page-modelroom article.content{
	background-image: url(img/bg.jpg);
}

/* bxslider 設定 */
.slider img {
  display: none;
}
.bx-viewport .slider img {
  display: block !important;
}