@media (min-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 812px) {
	
}

@media (max-width: 800px) {

}

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	header {
		padding: 20px 0;
	}
	.logo img {
		width: 200px;
	}
	.section_banner {
		height: 552px;
	}
	.section_banner h1 {
		font-size: 38px;
	}
	.title {
		font-size: 28px;
	}
	/* section_feature */
	.box_feature_item {
		margin-top: 60px;
	}
	.box_feature_item:last-child {
	    margin-bottom: 30px;
	}
	.box_feature_item h3 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	.box_feature_item h3 .cap_number {
		display: block;
		margin-bottom: 40px;
		font-size: 116px;
	}
	.section_feature .title span {
		font-size: 35px;
		line-height: 1.8em;
	}
	.feature_title {
		margin-left: 0;
	}
	.box_feature_item_img, .box_feature_item_img img {
		height: 266px;
	}

	/* section_key */
	.section_key {
		padding: 60px 0;
	}
	.btn_contactus {
		min-width: inherit;
		margin-top: 30px;
		padding: 8px 30px;
		font-size: 20px;
		border-radius: 5px;
	}

	/* section_solidwood */
	.section_solidwood {
		padding-bottom: 60px;
	}
	.section_solidwood .title {
		font-size: 26px;
	}
	.box_gallery_detail_content {
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.box_room_detail_content {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		padding: 15px;
	}
	.box_gallery {
		padding: 0 30px;
	}
	.box_gallery .carousel-cell {
		width: 100%;
	}
	.box_gallery .carousel-cell, .box_gallery .carousel-cell img {
		height: 380px;
	}
	.box_gallery .flickity-button {
		width: 35px;
		height: 35px;
	}
	.box_gallery .flickity-prev-next-button.next {
		right: -30px;
	}
	.box_gallery .flickity-prev-next-button.previous {
		left: -30px;
	}
	.box_gallery .flickity-button:hover {
		border: none;
		background: transparent;
	}
	.box_gallery_detail_content .flickity-prev-next-button {
		display: block;
	}
	.box_solid {
		margin-top: 60px;
	}
	.box_solid h2 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.box_solid h1 {
		font-size: 30px;
	}
	.renovation_fee {
		font-size: 22px;
	}
	.frm_room_detail .form-control.estimated_loan {
		font-size: 35px;
	}
	.frm_room_detail .box_input_custom::after {
		bottom: 15px;
	}
	.frm_room_detail .box_input_theamount::after {
		bottom: 10px;
	}
	.box_property_price::before, .box_property_size::before {
		bottom: 10px;
	}
	.i_tag {
		width: 28px;
		height: 28px;
		-webkit-background-size: 50%;
		background-size: 50%;
	}
	ul.list_select_material li {
		margin-right: 30px;
	}

	/* section_consult */
	.frm_consult_shoroom h3 {
		font-size: 30px;
		margin-top: 50px;
	}
	.box_consult_content {
		padding: 15px;
		margin: 50px 0;
	}
	.box_consult_content h4 {
		margin-bottom: 30px;
		font-size: 20px;
	}
	.form-check-inline {
		display: block;
	}
	.box_consult_img, .box_consult_img img {
		height: 264px;
	}
	.text_notify {
		font-size: 14px;
	}

	/* footer */
	.btnSubmit {
		min-width: auto;
	}

	/* lp picture tagging */
	.box_gallery.box_gallery_tag {
		padding: 0 15px;
	}
	.box_gallery.box_gallery_tag .flickity-prev-next-button.previous {
		left: -30px;
	}
	.box_gallery.box_gallery_tag .flickity-prev-next-button.next {
		right: -30px;
	}

	/* thanks page */
	.section_thanks {
		margin: 50px 0;
	}
	.box_thanks {
		width: 100%;
	}
	.box_thanks h2 {
		font-size: 2rem;
	}


}

@media (min-width: 768px) {

}
@media (max-width: 736px) {
	
}

@media (max-width: 667px) {
	
}

@media (max-width: 414px) {
	.section_banner {
		height: 281px;
	}
	.box_gallery .carousel-cell, .box_gallery .carousel-cell img, 
	.box_gallery.box_gallery_tag .carousel-cell,  .box_gallery.box_gallery_tag .carousel-cell img {
		height: 186px;
	}

}

@media (max-width: 375px) {
	
}

@supports (-webkit-appearance:none) {
	.frm_room_detail .form-control.estimated_loan {
		color: #000;
	}
	.frm_room_detail .form-control.theamount {
  		color: #000;
  	}
}
@supports (-webkit-overflow-scrolling: touch) {
    
}

@supports not (-webkit-overflow-scrolling: touch) {
  /* CSS for other than iOS devices */ 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		font-family: "メイリオ",Meiryo,"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: "メイリオ",Meiryo,"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;	
	}
}