@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#pagePath {
	display: none;
}

#mainVisual {
	background-image: inherit;
}

#maximage {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
}



@media only screen and (min-width: 1800px) and (max-width: 3000px) {
	#maximage .item {
		height: 100vh;
		background: url(../../common/img/index/main_img01.jpg) no-repeat center top;
		background-size: cover;
		margin-top: -130px;
	}
	
	#maximage .item02 {
	background: url(../../common/img/index/main_img02.jpg) no-repeat center bottom;
	background-size: cover;
	margin-top: -130px;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1799px) {
	#maximage .item {
		height: 100vh;
		background: url(../../common/img/index/main_img01.jpg) no-repeat center top;
		background-size: cover;
		margin-top: -80px;
	}
	#maximage .item02 {
	background: url(../../common/img/index/main_img02.jpg) no-repeat center bottom;
	background-size: cover;
	margin-top: -80px;
	}
}
@media screen and (max-width:1399px) { 
	#maximage .item {
		height: 100vh;
		background: url(../../common/img/index/main_img01.jpg) no-repeat center top;
		background-size: cover;
		margin-top: -30px;
	}
	#maximage .item02 {
	background: url(../../common/img/index/main_img02.jpg) no-repeat center bottom;
	background-size: cover;
	margin-top: -30px;
	}
}


#main .topInner {
	position: relative;
	z-index: 10;
	text-align: center;
	height: 100vh;
}

#main .topInner p {
	margin-bottom: 30px;
}

#main .topInner .link {
	margin: 0 auto;
	width: 244px;
}

#main .topInner .link a {
	padding: 8px 10px 5px;
	display: block;
	color: #fff;
	position: relative;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	z-index: 2;
	text-decoration: none;
	border: 2px solid #fff;
}

#main .topInner .link a:hover {
	color: #000;
}

#main .topInner .link a:before,
#main .topInner .link a:after {
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	content: '';
	z-index: -1;
	opacity: 0;
	background-color: #FFF;
}

#main .topInner .link a:before {
	right: 50%;
}

#main .topInner .link a:after {
	left: 50%;
}

#main .topInner .link a:hover:before,
#main .topInner .link a:hover:after {
	width: 50%;
	opacity: 1;
}

#main .topInner .link a,
#main .topInner .link a:before,
#main .topInner .link a:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#main .topInner .link a span {
	display: block;
	background: url(../../common/img/icon08.png) no-repeat right center;
}


#main .topInner .link a:hover span {
	background: url(../../common/img/icon06.png) no-repeat right center;
	background-size: 6px 10px;
}


#main {
	margin-bottom: 0;
	width: auto;
	overflow: hidden;
}

#main .hidden {
	overflow: hidden;
}

#new {
	margin-top: -33%;
	padding-top: 408px;
	position: relative;
}

.news_ico {
	width: 114px;
	text-align: center;
    background: #eee none repeat scroll 0 0;
    color: #666;
    display: inline-block;
    font-size: 1.2rem; 
    margin: 0 10px 0 5px;
    padding: 2px 5px;
}



@media all and (min-width: 640px) and (max-width: 767px) {
	#new {
		margin-top: -100px;
	}
}
#new:after {
	width: 53%;  
	height: 1000px;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;  
}

#new .bg {
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 200%;
	background-color: #fff;
	z-index: 10;
}

#new .whiteBox {
	margin: 0 auto;
	width: 1100px;
	top: 85px;
	left: 50%;
	margin-left: -550px;
	position: absolute;
	z-index: 15;
}

#new .headLine03 {
	margin-bottom: 63px;
	font-size: 2.4rem;
	text-align: center;
}

#new .newsBox {
	height: 162px;
}


#new .newsBox dl {
	padding-top: 22px;
	background: url(../../common/img/line02.png) repeat-x left top;
}

#new .newsBox dt {
	width: 164px;
	float: left;
	font-size: 1.5rem;
	position: relative;
	text-align: center;
}

#new .newsBox dt:after {
	width: 1px;  
	height: 17px;
	background: url(../../common/img/line01.png) repeat-y left top;
	position: absolute;
	bottom: -5px;  
	left: 0;  
	content: ""; 
}

#new .newsBox dt:before {
	width: 1px;  
	height: 17px;
	background: url(../../common/img/line01.png) repeat-y right top;
	position: absolute;  
	bottom: -5px;  
	right: 0;  
	content: ""; 
}

#new .newsBox dd {
	margin-bottom: 22px;
	padding: 0 0 7px 14em;
	font-size: 1.5rem;
	background: url(../../common/img/line02.png) repeat-x left bottom;
}

#propolife {
	position: relative;
	z-index: 10;
	/*background: url(/common/img/index/photo01.jpg) no-repeat center top;
	background-size: cover;*/
	background-color: transparent;
}

#propolife .headLine03 {
	padding: 98px 0 78px;
	font-size: 3.5rem;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

#main .linkBox {
	margin: 0 auto 25px;
	width: 1100px;
}





/*
#main .linkBox .list li {
	width: 550px;
	height: 199px;
	float: left;
	position: relative;
}

#main .linkBox .list li a {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	font-size: 2.0rem;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	overflow: hidden;
}

#main .linkBox .list li a img {
	transform: scale(1);
	transition: all 3.0s cubic-bezier(0, 1, 0.3, 1.0) 0s;
	-webkit-transition: all 3.0s cubic-bezier(0, 1, 0.3, 1.0) 0s;
}

#main .linkBox .list li a:hover img {
	transform: scale(1.2);
}

#main .linkBox .list li a:after {
	width: 100%;  
	height: 100%;
	position: absolute;  
	top: 0;
	right: 0;  
	content: "";
}

#main .linkBox .list li a .box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(114, 21, 26, 0.41);
}

#main .linkBox .list li a:hover .box {
	background-color: rgba(114, 21, 26, 0.15);
}

#main .linkBox .list li a .box .sub {
	display: table;
	width: 100%;
	height: 100%;
}

#main .linkBox .list li a .sub .subBox {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#main .linkBox .list .liStyle a {
	font-size: 1.2rem;
	color: #010101;
	background-color: #F2F2F2;
}

#main .linkBox .list .liStyle a:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#main .linkBox .list .liStyle a .box {
	background: none !important;
}

#main .linkBox .list .liStyle a img {
	transform: scale(1) !important;
}

#main .linkBox .list .liStyle a:after {
	width: 8px;  
	height: 14px;
	margin-top: -7px;
	background: url(/common/img/icon06.png) no-repeat right top;
	position: absolute;  
	top: 50%;
	right: 35px;  
	content: ""; 
}

#main .linkBox .list01 li:before {
	width: 14px;  
	height: 26px;
	margin-top: -13px;
	background: url(/common/img/icon09.png) no-repeat right top;
	position: absolute;  
	top: 50%;
	right: 0;  
	content: "";
	z-index: 15; 
}

#main .linkBox .list01 li:nth-child(2n):before {
	display: none;
}

#main .linkBox .list .liStyle a .textSpan {
	display: block;
	margin-top: 20px;
}

#main .linkBox .list01 li:nth-child(15):before,
#main .linkBox .list01 li:nth-child(11):before,
#main .linkBox .list01 li:nth-child(7):before,
#main .linkBox .list01 li:nth-child(3):before {
	background-image: url(/common/img/icon10.png);
	position: absolute;  
	right: -14px;  
}

#main .linkBox .list02 li {
	height: 119px;
	width: auto !important;
}

#main .linkBox .list02 li a {
	font-size: 1.6rem;
}

#main .linkBox .list02 li:before {
	display: none !important;
}

#main .linkBox .list03 li.liStyle:before {
	width: 14px;  
	height: 26px;
	margin-top: -13px;
	background: url(/common/img/icon10.png) no-repeat right top;
	position: absolute;  
	top: 50%;
	right: -14px;  
	content: "";
	z-index: 15; 
}

#main .linkBox .list03 li:nth-child(15):before,
#main .linkBox .list03 li:nth-child(11):before,
#main .linkBox .list03 li:nth-child(7):before,
#main .linkBox .list03 li:nth-child(3):before {
	background-image: url(/common/img/icon09.png);
	position: absolute;  
	right: 0;  
}
*/

#main .h4Ttl {
	margin-bottom: 21px;
	text-align: center;
	position: relative;
}

#main .h4Ttl:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	content: "";
	border-bottom: 1px solid #d6d6d6;
}

#main .h4Ttl span {
	padding: 0 30px;
	display: inline-block;
	position: relative;
	z-index: 10;
	background-color: #FFF;
}


#main .subBox {
	/*margin: 0 auto 82px;*/
	padding: 38px 0 17px;
	width: 1100px;
}

#main .subBox li {
	margin: 0 14px 7px 0;
	width: 324px;
	height: 130px;
	float: left;
}

#main .subBox li a {
	display: block;
	background-color: #fff;
}

#main .subBox li:nth-child(3n) {
	margin-right: 0;
}

#main .subBox li a:hover img {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#main .subBox li span {
	margin: 3px 0 0 3px;
	display: block;
	position: relative;
}

#main .subBox li span {
	padding-left: 15px;
	display: inline-block;
	font-size: 1.2rem;
	color: #000;
	vertical-align: middle;
}

#main .subBox li span:before {
	margin-top: -4px;
	width: 6px;
	height: 9px;
	position: absolute;
	left: 0;
	top: 50%;
	background-size: 6px 9px;
	content: "";
}


div#main div.business div.linkBox div.subBox ul {
	width: 1100px;
	margin: 15px auto;
}
div#main div.business div.linkBox div.subBox ul li{
	width: 360px;
	margin:0 8px 7px 0;
}
div#main div.business div.linkBox div.subBox ul li:nth-child(3n) {
	margin-right: 0px;
}
@media all and (min-width: 0px) and (max-width: 640px) {
	div#main div.business div.linkBox div.subBox ul li:nth-child(3n) {
 	       margin-right: none !important;
	}	
	#main .h4Ttl {
		margin-bottom: 11px;
	}
		
	#main .h4Ttl span {
		padding: 0 25px;
	}
	
	#main .h4Ttl span img {
		width: 160px;
		height: auto;
	}

	#main .subBox {
		margin: 0 auto 15px;
		padding: 10px 0 0;
		width: auto;
	}
	#main .subBox ul {
	width: 94% !important;
	margin: 15px auto;
	}
	#main .subBox ul li{
		width: 47.9% !important;
		height: auto !important;
		float: left;
		margin:0 8px 7px 0 !important;
	}	
	#main .subBox ul li img {
	width: 100%;
	height: auto;
	}
	#main .subBox li:nth-child(2n) {
		float: right !important;
		margin-right: 0 !important;
	}
/*	#main .subBox li:nth-child(3n) {
		margin: 0 !important;
	}*/
	#main .subBox li span {
		margin: 1px 0 0 3px;
		padding-bottom: 10px;
	}
	
	#main .subBox li span:before {
		margin-top: 0;
		width: 2px;
		height: 4px;
		top: 6px;
		background-size: 2px 4px;
	}
		
	#main .subBox li span {
		padding: 3px 0 0 5px;
		font-size: 0.8rem;
		vertical-align: top;
	}
	
	.news_ico {
		display: block;
	}

}

@media all and (min-width: 0px) and (max-width: 320px) {
	#main .subBox li:nth-child(7) {
		margin-bottom: 15px!important;
	}
}



#main .btmLink {
	margin: 0 auto;
	width: 320px;
}

#main .btmLink a {
	padding: 8px 10px 6px;
	display: block;
	font-size: 1.4rem;
	text-align: center;
	position: relative;
	text-decoration: none;
	border: 2px solid #000;
	background-color: #fff;
	z-index: 2;
}

#main .btmLink a:hover {
	color: #fff;
	background-color: #72161b;
	border-color: #72161b;
}

#main .btmLink a span {
	display: block;
	background: url(../../common/img/icon06.png) no-repeat right center;
	background-size: 6px 10px;
}

#main .btmLink a:hover span {
	background-image: url(../../common/img/icon11.png);
}

#main .btmLink a:after,
#main .btmLink a:before {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	content: '';
	z-index: -1;
	background-color: #fff;
}

#main .btmLink a,
#main .btmLink a:before,
#main .btmLink a:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#main .btmLink a:before {
	right: 0;
}

#main .btmLink a:after {
	left: 0;
}

#main .btmLink a:hover:before,
#main .btmLink a:hover:after {
	width: 0;
	background-color: #fff;
}


#main .business {
	padding: 102px 0 55px 0;
	position: relative;
	z-index: 10;
	background-color: #fff;
}


@media all and (min-width: 641px) and (max-width: 1300px) {
	#maximage .item img {
		min-width: 1300px !important;
		height: auto;
	}
}

@media screen and (max-width:640px) { 
#main .btmLink {
	margin: 0 auto !important;
	width: 94% !important;
}

	#main {
		margin: 0 0;
	}
	
	#maximage .item {
		background: url(../../common/img/index/sp_main_img01.jpg) no-repeat center -60px;
		background-size: contain;
	}
	
	#maximage .item02 {
		background: url(../../common/img/index/sp_main_img02.jpg) no-repeat center -60px;
		background-size: contain;
	}
	
	#main .pBox {
		margin-bottom: 28px;
		padding: 0 0 23px;
	}
	
	#main .pBox p {
		margin-bottom: 20px;
		line-height: 2;
	}
	
	#main .pBox .title {
		margin-bottom: 13px;
		font-size: 1.1rem;
	}
		
	#maximage > div > img {
		height: auto;
	}
	
	#main .topInner {
		height: 320px;
	}
	
	#main .topInner p {
		margin-bottom: 15px;
	}
	
	#main .topInner p img {
		width: 77%;
		height: auto;
		max-width: 486px;
	}
	
	#main .topInner .link {
		width: 120px;
	}
	
	#main .topInner .link a {
		padding: 3px 5px 2px;
		font-size: 0.85rem;
		font-weight: normal;
		border-width: 1px;
	}
	
	#main .topInner .link a span,
	#main .topInner .link a:hover span {
		background-size: auto 5px;
	}
	
	#main .topInner .link a span {
		background-size: auto 5px;
	}
	
	#new {
		margin-top: -125px;
		padding-top: 272px;
	}
	
	#new .whiteBox {
		margin: 0;
		padding: 0 15px;
		width: 100%;
		left: 0;
		top: 40px;
		box-sizing: border-box;
	}
	
	#new .headLine03 {
		margin-bottom: 26px;
		font-size: 1.75rem;
		font-weight: normal;
	}
	
	#new .newsBox {
		margin-right: -10px;
		height: 145px;
	}
	
	#new .newsBox dl {
		padding-top: 7px;
	}
	
	#new .newsBox dt {
		padding-top: 15px;
		width: 84px;
		line-height: 1.2;
		color: #282828;
		font-size: 1rem;
	}
	
	#new .newsBox dd {
		margin-bottom: 0;
		line-height: 1.2;
		min-height: 21px;
		padding: 12px 0 10px 9.5em;
		color: #282828;
		position: relative;
		font-size: 1rem;
	}

	#new .newsBox dd a {
	    clear: both;
	    color: #282828;
	    display: inline-block;
		margin: 8px;
	}
	
	#new .newsBox dd::before {
		background: url(../../common/img/line01.png) repeat-y right top;
		bottom: 0px;
		content: "";
		height: 10px;
		position: absolute;
		left: 0;
		width: 1px;
	}
	
	#new .newsBox dd::after {
		background: url(../../common/img/line01.png) repeat-y right top;
		bottom: 0px;
		content: "";
		height: 10px;
		position: absolute;
		left: 84px;
		width: 1px;
	}
	
	#new .newsBox dt:after {
		background-image: inherit;
	}
	
	#new .newsBox dt:before {
		background-image: inherit;
	}
	
	#propolife {
		background-color: transparent;
	}
	
	#propolife .headLine03 {
		padding: 47px 10px 42px;
		font-size: 1.6rem;
	}
	
	#main .business {
		padding: 0 0 25px;
	}
	
	#main .linkBox {
		padding-top: 20px;
		margin-bottom: 28px;
		width: auto;
	}
	
	#main .linkBox .list li {
		width: 50%;
		height: auto;
	}
	
	#main .linkBox .list li a .sub .subBox {
		font-size: 1rem;
		font-weight: normal;
	}
	
	#main .linkBox .list .liStyle img {
	}
	
	#main .linkBox .list .liStyle a .textSpan {
		display: none;
	}
	
	#main .linkBox .list01 li::before {
		background-size: 7px auto;
	}
	
	#main .linkBox .list01 li:nth-child(15)::before,
	#main .linkBox .list01 li:nth-child(11)::before,
	#main .linkBox .list01 li:nth-child(7)::before,
	#main .linkBox .list01 li:nth-child(3)::before {
		right: -6px;
	}
	
	#main .linkBox .list .liStyle a::after {
		background-image: inherit;
	}
		
	#main .linkBox .list01 li::before {
		margin-top: -6px;
	}
	
	#main .linkBox .list02 li {
		width: 30.46% !important;
	}
	
	#main .linkBox .list02 li:nth-child(2) {
		width: 36.25% !important;
	}
	
	#main .linkBox .list02 li:nth-child(3) {
		width: 33.29% !important;
	}
	
	#main .linkBox .list02 li a .sub .subBox {
		font-size: 0.8rem;
	}
	
	#main .linkBox .list03 li.liStyle:before {
		margin-top: -6px;
		z-index: 10;
		right: -6px;
		background-size: 7px auto;
	}
	
	#main .btmLink {
		margin: 0 15px;
		width: auto;
	}
	
	#main .btmLink a {
		border-width: 1px;
		font-size: 1.3rem;
	}
}

@media screen and (max-width:350px) { 
	#new {
		margin-top: -210px;
		padding-top: 272px;
	}
	
}
