@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.headLine02 {
	margin-bottom: 102px;
}

#message {
	margin: 0 auto;
	width: 815px;
}

#main p {
	margin-bottom: 49px;
	text-align: center;
	line-height: 3.15;
	letter-spacing: 1px;
}

#main .textP {
	font-size: 1.4rem;
	line-height: 1.8;
}

@media all and (min-width: 0px) and (max-width: 640px) {
	#message {
		width: auto;
	}
	
	.headLine02 {
		margin-bottom: 38px;
	}
	
	#main p {
		margin-bottom: 26px;
		line-height: 2.75;
		text-align: left;
	}

	#main .text {
		margin-bottom: 75px;
	}
	
	#main .textP {
		font-size: 1.0rem;
		line-height: 2.05;
	}
}