@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#main .pBox {
	margin-bottom: 33px;
	padding: 0 91px 54px;
	border-bottom: 1px solid #DCDCDC;
}

#main .pBox p {
	margin-bottom: 28px;
	line-height: 1.9;
	letter-spacing: 1px;
}

#main .pBox .title {
	margin-bottom: 20px;
	font-size: 1.8rem;
	font-weight: bold;
}

#main .pBox:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

#main .pBox p a {
	text-decoration: underline;
}

#main .pBox p a:hover {
	text-decoration: none;
}

@media all and (min-width: 0px) and (max-width: 640px) {
	#main .pBox {
		margin-bottom: 28px;
		padding: 0 0 23px;
	}
	
	#main .pBox p {
		margin-bottom: 20px;
		line-height: 2;
	}
	
	#main .pBox .title {
		margin-bottom: 13px;
		font-size: 1.1rem;
	}
}