@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */

button.slick-prev,button.slick-next{ display:none !important;}




/* 

.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 70px;
    height: 70px;
    margin-top: -35px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
}
.gallery .slick-prev,
.gallery .slick-next {
    width: 26px;
    height: 46px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 50%;
    margin-left: -600px;
    background:url(../../imgs/controls.png) no-repeat -10px -170px;
}
.slick-prev:hover {
    background:url(../../imgs/controls.png) no-repeat -10px -10px;
}

.slick-next
{
    right: 50%;
    margin-right: -600px;
    background:url(../../imgs/controls.png) no-repeat -10px -250px;
}
.slick-next:hover {
    background:url(../../imgs/controls.png) no-repeat -10px -90px;
}

.gallery .slick-prev
{
    left: 50%;
    margin-left: -550px;
    background:url(../../images/gallery-prev.png) no-repeat;
}
.gallery .slick-prev:hover {
    background:url(../../images/gallery-prev.png) no-repeat;
}

.gallery .slick-next
{
    right: 50%;
    margin-right: -550px;
    background:url(../../images/gallery-next.png) no-repeat;
}
.gallery .slick-next:hover {
    background:url(../../images/gallery-next.png) no-repeat;
}

 */
 
 
 

/* Dots */
.slick-slider
{
    /* margin-bottom: 30px; */
}

.slick-dots
{
    position: absolute;
	bottom:3%;
	height:15px !important;

    display: block;

    width:100% !important;
	max-width:85% !important;
    padding: 0;

    list-style: none;

    text-align: right;
	z-index:99999;
	
	
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 3px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .6/*.25*/;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	color:#FFF;
}
.slick-dots li.slick-active button:before
{
    opacity: 1/*.75*/;
    color: black;
	
	color:#FFF;
}
