
/* ------------------------------------------------ */
/* -- ?T?C?g ?ʐݒ??pCSS -- */
/* ------------------------------------------------ */

#gNavi li#gNav01 a {margin-top:-50px;}

#yokoku {
	padding:10px 0 0 0;
	width:940px;
	font-size:10px;
	line-height:1.4em;
	margin:0 auto;
}

#yokoku_img {
	float:left;
	padding:0 10px 0 0;
}

#yokoku_txt {
	float:left;
	color:#333;
}

.txt_small {
	font-size:10px;
	line-height:1.6em;
	margin:5px 0;
}

.txt_right_small {
	font-size:10px;
	line-height:1.6em;
	text-align:right;
	margin:5px 0;
}

#flashcontent {
	width:940px;
	text-align: center;
	margin:0 auto;
}
