@charset "utf-8";
/**
 * style 
 * (c) FOURDIGIT Inc.
 *
 * 1. import
 * 2. html, body
 * 3. HTMLtag, siteCommonClass
 * 4. Layout
 * 5. EachPageStyle
 *
 */
/**
 * 1. import
 */
@import "import/reset.css";
@import "import/util.css";
@import "../font/font.css";

@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);



body {
	margin: 0;
	padding: 0;


	line-height:190%;
	text-align: center;
	font-family: "Sawarabi Gothic";
}  

html>/**/body {  
    font-size:14px;
}  

.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

html,
body {
  width: 100%;
  height: 100%;
}



/**
 * 2. html, body
 */
	body {
		background-color: #fff;
	}
	.page {
		letter-spacing: 0.1em;
		overflow: hidden;
	}

/*----------------------------------------------------
	Reset
----------------------------------------------------*/

html {overflow-y: scroll; height:100%;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin: 0; padding: 0;}


address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;}

/*caption,th {
	text-align: left;
}*/

q:before,q:after {
	content: '';
}

object,
embed {vertical-align: top;}

hr,legend {display: none;}

h1,h2,h3,h4,h5,h6 {font-size: 100%;}

img,abbr,acronym,fieldset {border: 0; vertical-align:bottom; line-height:1.0;}

li {list-style-type: none;}

button{border:none; background:none;}
	
img {max-width: 100%; height: auto;}

/*----------------------------------------------------
	汎用
----------------------------------------------------*/

.fr {float: right; margin: 0;}

.fl {float: left; margin: 0;}

.clear {
	clear: both;
	line-height:0px;
	height:0;
	font-size:0px;
	visibility:hidden;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

p,li,dt,dl {  
    line-height:2.5;  
} 


/* 余白 */
.pt0 { padding-top: 0!important; }
.pt5 { padding-top: 5px!important; }
.pt10 { padding-top: 10px!important; }
.pt15 { padding-top: 15px!important; }
.pt20 { padding-top: 20px!important; }
.pt25 { padding-top: 25px!important; }
.pt30 { padding-top: 30px!important; }
.pt35 { padding-top: 35px!important; }
.pt40 { padding-top: 40px!important; }
.pt45 { padding-top: 45px!important; }
.pt50 { padding-top: 50px!important; }
.pt55 { padding-top: 55px!important; }
.pt60 { padding-top: 60px!important; }
.pt65 { padding-top: 65px!important; }
.pt70 { padding-top: 70px!important; }
.pt75 { padding-top: 75px!important; }
.pt80 { padding-top: 80px!important; }
.pt85 { padding-top: 85px!important; }
.pt90 { padding-top: 90px!important; }
.pt95 { padding-top: 95px!important; }
.pt100 { padding-top: 100px!important; }
.pt105 { padding-top: 105px!important; }
.pt110 { padding-top: 110px!important; }
.pt115 { padding-top: 115px!important; }
.pt120 { padding-top: 120px!important; }
.pt125 { padding-top: 125px!important; }
.pt130 { padding-top: 130px!important; }
.pt135 { padding-top: 135px!important; }
.pt140 { padding-top: 140px!important; }
.pt145 { padding-top: 145px!important; }
.pt150 { padding-top: 150px!important; }
.pt155 { padding-top: 155px!important; }
.pt160 { padding-top: 160px!important; }
.pt165 { padding-top: 165px!important; }
.pt170 { padding-top: 170px!important; }
.pt175 { padding-top: 175px!important; }
.pt180 { padding-top: 180px!important; }
.pt185 { padding-top: 185px!important; }
.pt190 { padding-top: 190px!important; }
.pt195 { padding-top: 195px!important; }
.pt200 { padding-top: 200px!important; }

@media only screen and (max-width: 720px) {
.pt0 { padding-top: 0!important; }
.pt5 { padding-top: 3.75px!important; }
.pt10 { padding-top: 7.5px!important; }
.pt15 { padding-top: 11.25px!important; }
.pt20 { padding-top: 15px!important; }
.pt25 { padding-top: 18.75px!important; }
.pt30 { padding-top: 22.5px!important; }
.pt35 { padding-top: 26.25px!important; }
.pt40 { padding-top: 30px!important; }
.pt45 { padding-top: 33.75px!important; }
.pt50 { padding-top: 37.5px!important; }
.pt55 { padding-top: 41.25px!important; }
.pt60 { padding-top: 45px!important; }
.pt65 { padding-top: 48.75px!important; }
.pt70 { padding-top: 52.5px!important; }
.pt75 { padding-top: 56.25px!important; }
.pt80 { padding-top: 60px!important; }
.pt85 { padding-top: 63.75px!important; }
.pt90 { padding-top: 67.5px!important; }
.pt95 { padding-top: 71.25px!important; }
.pt100 { padding-top: 75px!important; }
}

@media only screen and (max-width: 480px) {
.pt0 { padding-top: 0!important; }
.pt5 { padding-top: 2.5px!important; }
.pt10 { padding-top: 5px!important; }
.pt15 { padding-top: 7.5px!important; }
.pt20 { padding-top: 10px!important; }
.pt25 { padding-top: 12.5px!important; }
.pt30 { padding-top: 15px!important; }
.pt35 { padding-top: 17.5px!important; }
.pt40 { padding-top: 20px!important; }
.pt45 { padding-top: 22.5px!important; }
.pt50 { padding-top: 25px!important; }
.pt55 { padding-top: 27.5px!important; }
.pt60 { padding-top: 30px!important; }
.pt65 { padding-top: 32.5px!important; }
.pt70 { padding-top: 35px!important; }
.pt75 { padding-top: 37.5px!important; }
.pt80 { padding-top: 40px!important; }
.pt85 { padding-top: 42.5px!important; }
.pt90 { padding-top: 45px!important; }
.pt95 { padding-top: 47.5px!important; }
.pt100 { padding-top: 50px!important; }
}

.pb0 { padding-bottom: 0!important; }
.pb5 { padding-bottom: 5px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb15 { padding-bottom: 15px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb25 { padding-bottom: 25px!important; }
.pb30 { padding-bottom: 30px!important; }
.pb35 { padding-bottom: 35px!important; }
.pb40 { padding-bottom: 40px!important; }
.pb45 { padding-bottom: 45px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb55 { padding-bottom: 55px!important; }
.pb60 { padding-bottom: 60px!important; }
.pb65 { padding-bottom: 65px!important; }
.pb70 { padding-bottom: 70px!important; }
.pb75 { padding-bottom: 75px!important; }
.pb80 { padding-bottom: 80px!important; }
.pb85 { padding-bottom: 85px!important; }
.pb90 { padding-bottom: 90px!important; }
.pb95 { padding-bottom: 95px!important; }
.pb100 { padding-bottom: 100px!important; }
.pb105 { padding-bottom: 105px!important; }
.pb110 { padding-bottom: 110px!important; }
.pb115 { padding-bottom: 115px!important; }
.pb120 { padding-bottom: 120px!important; }
.pb125 { padding-bottom: 125px!important; }
.pb130 { padding-bottom: 130px!important; }
.pb135 { padding-bottom: 135px!important; }
.pb140 { padding-bottom: 140px!important; }
.pb145 { padding-bottom: 145px!important; }
.pb150 { padding-bottom: 150px!important; }
.pb155 { padding-bottom: 155px!important; }
.pb160 { padding-bottom: 160px!important; }
.pb165 { padding-bottom: 165px!important; }
.pb170 { padding-bottom: 170px!important; }
.pb175 { padding-bottom: 175px!important; }
.pb180 { padding-bottom: 180px!important; }
.pb185 { padding-bottom: 185px!important; }
.pb190 { padding-bottom: 190px!important; }
.pb195 { padding-bottom: 195px!important; }
.pb200 { padding-bottom: 200px!important; }

@media only screen and (max-width: 720px) {
.pb0 { padding-bottom: 0!important; }
.pb5 { padding-bottom: 3.75px!important; }
.pb10 { padding-bottom: 7.5px!important; }
.pb15 { padding-bottom: 11.25px!important; }
.pb20 { padding-bottom: 15px!important; }
.pb25 { padding-bottom: 18.75px!important; }
.pb30 { padding-bottom: 22.5px!important; }
.pb35 { padding-bottom: 26.25px!important; }
.pb40 { padding-bottom: 30px!important; }
.pb45 { padding-bottom: 33.75px!important; }
.pb50 { padding-bottom: 37.5px!important; }
.pb55 { padding-bottom: 41.25px!important; }
.pb60 { padding-bottom: 45px!important; }
.pb65 { padding-bottom: 48.75px!important; }
.pb70 { padding-bottom: 52.5px!important; }
.pb75 { padding-bottom: 56.25px!important; }
.pb80 { padding-bottom: 60px!important; }
.pb85 { padding-bottom: 63.75px!important; }
.pb90 { padding-bottom: 67.5px!important; }
.pb95 { padding-bottom: 71.25px!important; }
.pb100 { padding-bottom: 75px!important; }
}

@media only screen and (max-width: 480px) {
.pb0 { padding-bottom: 0!important; }
.pb5 { padding-bottom: 2.5px!important; }
.pb10 { padding-bottom: 5px!important; }
.pb15 { padding-bottom: 7.5px!important; }
.pb20 { padding-bottom: 10px!important; }
.pb25 { padding-bottom: 12.5px!important; }
.pb30 { padding-bottom: 15px!important; }
.pb35 { padding-bottom: 17.5px!important; }
.pb40 { padding-bottom: 20px!important; }
.pb45 { padding-bottom: 22.5px!important; }
.pb50 { padding-bottom: 25px!important; }
.pb55 { padding-bottom: 27.5px!important; }
.pb60 { padding-bottom: 30px!important; }
.pb65 { padding-bottom: 32.5px!important; }
.pb70 { padding-bottom: 35px!important; }
.pb75 { padding-bottom: 37.5px!important; }
.pb80 { padding-bottom: 40px!important; }
.pb85 { padding-bottom: 42.5px!important; }
.pb90 { padding-bottom: 45px!important; }
.pb95 { padding-bottom: 47.5px!important; }
.pb100 { padding-bottom: 50px!important; }
}


.pr0 { padding-right: 0!important; }
.pr5 { padding-right: 5px!important; }
.pr10 { padding-right: 10px!important; }
.pr15 { padding-right: 15px!important; }
.pr20 { padding-right: 20px!important; }
.pr25 { padding-right: 25px!important; }
.pr30 { padding-right: 30px!important; }
.pr35 { padding-right: 35px!important; }
.pr40 { padding-right: 40px!important; }
.pr45 { padding-right: 45px!important; }
.pr50 { padding-right: 50px!important; }

.pl0 { padding-left: 0!important; }
.pl5 { padding-left: 5px!important; }
.pl10 { padding-left: 10px!important; }
.pl15 { padding-left: 15px!important; }
.pl20 { padding-left: 20px!important; }
.pl25 { padding-left: 25px!important; }
.pl30 { padding-left: 30px!important; }
.pl35 { padding-left: 35px!important; }
.pl40 { padding-left: 40px!important; }
.pl45 { padding-left: 45px!important; }
.pl50 { padding-left: 50px!important; }

.mt0 { margin-top: 0!important; }
.mt5 { margin-top: 5px!important; }
.mt10 { margin-top: 10px!important; }
.mt15 { margin-top: 15px!important; }
.mt20 { margin-top: 20px!important; }
.mt25 { margin-top: 25px!important; }
.mt30 { margin-top: 30px!important; }
.mt-30 { margin-top: -30px!important; }
.mt35 { margin-top: 35px!important; }
.mt40 { margin-top: 40px!important; }
.mt45 { margin-top: 45px!important; }
.mt50 { margin-top: 50px!important; }

.mr0 { margin-right: 0!important; }
.mr5 { margin-right: 5px!important; }
.mr10 { margin-right: 10px!important; }
.mr15 { margin-right: 15px!important; }
.mr20 { margin-right: 20px!important; }
.mr25 { margin-right: 25px!important; }
.mr30 { margin-right: 30px!important; }
.mr35 { margin-right: 35px!important; }
.mr40 { margin-right: 40px!important; }
.mr45 { margin-right: 45px!important; }
.mr50 { margin-right: 50px!important; }

.mb0 { margin-bottom: 0!important; }
.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb25 { margin-bottom: 25px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb35 { margin-bottom: 35px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb45 { margin-bottom: 45px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb60 { margin-bottom: 60px!important; }
.mb80 { margin-bottom: 80px!important; }
.mb150 { margin-bottom: 150px!important; }

.ml0 { margin-left: 0!important; }
.ml5 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml15 { margin-left: 15px!important; }
.ml20 { margin-left: 20px!important; }
.ml25 { margin-left: 25px!important; }
.ml30 { margin-left: 30px!important; }
.ml35 { margin-left: 35px!important; }
.ml40 { margin-left: 40px!important; }
.ml45 { margin-left: 45px!important; }
.ml50 { margin-left: 50px!important; }
.ml200 { margin-left: 200px!important; }

.lh2{line-height:2.0em;}
.lh3{line-height:3.0em;}

@media screen and (max-width: 480px) {
	
.lh2{line-height:1.5em!important;}
.lh3{line-height:2.0em!important;}
}



/* anchor */
	a {
		background-color: transparent;
		background-image: none;
		background-repeat: no-repeat;
		color: #333;
		text-decoration: underline;
	}
	a:visited {}
	a:hover {
		color: #333;
		text-decoration: underline;
	}
	a:active {}


/* cap */
	.cap,
	.caption {
		background: none;
		color: #999999;
		font-size: 10px;
		line-height: 15px;
		text-align:left;
	}
	.cap {
		padding-top: 5px;
	}


.op{
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
	}	
.op:hover{
		opacity:0.6;
		filter: alpha(opacity=60);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=60)";  /* ie 8 */
		-moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.6;              /* Safari 1.x */
	}
	
	
.txtR{text-align:right;}
.txtL{text-align:left;}
.txtC{text-align:center;}