@charset "utf-8";



@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

#PAGE{position:relative; padding:0; margin:0; color:#333;
background:url(../img/con_bg.jpg) repeat;}

#MAIN{width:100%;
margin: 0 0 0 0;
padding: 0 0 80px 0;
background: #fff;
position: relative;
	text-align:left;
}

.txt{
text-align: center;
}

.txt_main{
color:#2F7C99;
line-height: 2.0em;
font-size:120%;
}

.txt_cont01{
	text-align:left;
	margin-bottom:40px;
}

.txt_cont02{
	text-align:left;

}


.txt_cont03{
	text-align:left;
	margin-bottom:30px;
}

@media only screen and (max-width: 800px) {
.txt{
text-align: left;
}

}

@media screen and (max-width: 585px) {
#MAIN{padding: 0 0 50px 0;}
}

/*----------------------------------------------------
   ヘッダー
----------------------------------------------------*/
#WRAPPER{
width:100%;
position: relative;
margin: 0;
padding: 0;
}


#TOPIMAGE{
background-size:contain;
width:100%;
padding-top: 62.5%;
position: relative;
margin: auto;
top:0;
bottom:0;
left:0;
right:0;
z-index: 50;
}

#PAGEIMAGE{
background-image:url(../img/bg.jpg);
background-size:100% auto;
background-position: top center;
width:100%;
padding: 250px 0 0 0;
position: relative;
margin: auto;
top:0;
bottom:0;
left:0;
right:0;
z-index: 50;
}

#TITLE{
width:100%;
position:absolute;
bottom:15%;
left:0;
right:0;
margin: auto;
color: #fff;
text-align: center;
letter-spacing: 5px;
font-size:28px;
font-weight: 700;
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
z-index: 600;
}

#HEADER{
height: 90px;
width:100%;
position:fixed;

background:#fff ;

margin: auto;
z-index: 900;
}

#HEADER .area{
	position:static;
	max-width:1000px;
	margin:0 auto;
	position:relative;



}

#PAGEWRAPPER{
background-image:url(../img/bg.jpg);
background-size:100% auto;
width:100%;
height: 250px;
position: relative;
}

#CONCEPTWRAPPER{
background-image:url(../img/con_img01.jpg);
background-size:cover;
width:100%;
padding-top:41.6666666%; 
position: relative;
}

.page_tit{
position: absolute;
bottom:25px;
left:0;
right: 0;
margin: auto;
}

h1{
width:50%;
text-align: left;
font-size: 10px;
color: #ccc;
display:inline-block;
opacity:0;
}

h3{
	margin:2% auto;
	/*background:#f1f0f1;*/
	color:#fffl;
	padding:20px;
	font-size:16px;
	background-image: -webkit-gradient(
                  linear
                , left top
                , left bottom
                , from(#f1f0f1)
                , color-stop(0.49, #fff)
                , color-stop(0.50, #f1f0f1)
                , to(#f1f0f1));	
	
}




h3 span{
	border-left:4px #546aba solid;
	padding:0 0 0 12px;
	font-weight:normal;
	color:#000;
	display:inline-block;

}

h4{
	margin:2% auto;
}

.h4_cont{
	margin:2% auto;
  font-weight: bolder;
	font-size:14px;
	padding-bottom:5px;
	color:#546aba;
	letter-spacing:1pt;
	border-bottom:1px solid #374577;

}

.h4_cont:first-letter{
  color:#374577;
  font-size:160%;
  font-weight:normal;
  color:#000;
  letter-spacing:4pt;
}








#LOGO{
position:absolute;

left:10px;
}

.header_btn{
position: absolute;
top: 0;
right: 0;
}

.header_btn ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:single;
-moz-box-lines:single;
-webkit-flex-wrap:nowrap;
-moz-flex-wrap:nowrap;
-ms-flex-wrap:none;
flex-wrap:nowrap;
-webkit-box-direction:normal;
-moz-box-direction:normal;
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-flex-direction:row;
-moz-flex-direction:row;
flex-direction:row;
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-flex-pack:justify;
-moz-flex-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;
}

.header_btn ul li{

}

.btn_map{
background-image: url(../img/btn_map.png);
width: 44px;
height: 15px;
padding: 0 0 10px 0;
margin: 23px 0 0 0;
}
.btn_out{
background-image: url(../img/btn_out.png);
width: 73px;
height: 15px;
padding: 0 0 10px 0;
margin: 23px 20px 0 20px;
}

.btn_map,
.btn_out{
background-position: center;
background-repeat: no-repeat;
}

.btn_mail{
background-color: #fff;
background-image: url(../img/header_mail.png);
width:157px;
padding: 10px 0 0 0;
margin: 0 0 0 1px;
position: relative;
background-position: center 0;
background-repeat: no-repeat;
}
.btn_tel{

background-image: url(../img/header_tel.png);
width: 180px;
padding: 0px 0 0 0;
margin: 0 10px 0 0;
background-position: center  top;
background-repeat: no-repeat;

}

.btn_tel02{

background-image: url(../img/header_tel02.png);
width: 260px;
padding: 0px 0 0 0;
margin: 0 10px 0 0;
background-position: center  top;
background-repeat: no-repeat;
height:38px;

}

.btn_tel a,
.btn_tel02 a,
.btn_mail a{
position: relative;

}



.btn_tel a:before,
.btn_tel02 a:before,
.btn_mail a:before{
position: absolute;

font-size:18px;
top:-38px;
left:0;
right:0;
margin: auto;
color: #999999;
}





.header_btn ul li:hover{
opacity:0.6;
filter: alpha(opacity=60);        /* ie lt 8 */
-ms-filter: "alpha(opacity=60)";  /* ie 8 */
-moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 0.6;              /* Safari 1.x */
}

.header_btn ul li.btn_tel:hover{
opacity:1;
filter: alpha(opacity=100);        /* ie lt 8 */
-ms-filter: "alpha(opacity=100)";  /* ie 8 */
-moz-opacity:1;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 1;              /* Safari 1.x */
}



.header_btn ul li a{
width: 100%;
height: 26px;
display: block;
}



/*トップ画像*/
.index_toppic{
	padding:104px 0 0 0 ;
	 background-color: rgba(51,51,51,0.1);  

	width:100%;
}



/*h2*/
.h2_filed{
	padding:105px 0 0 0 ;

	width:100%;
}


.h2_filed h2{
	max-width:230px;
	width:100%;
	margin:1% auto ;
	display:inline-block;
	

}

/*----------------------------------------------------
	.news
----------------------------------------------------*/


.news { position: relative; overflow: hidden; height: 120px; }
.news dl { height: 120px; }
.news dd { margin-bottom: 20px; width:90%; float:left; text-align:left; border-bottom:1px dotted #bbb; padding:5px; box-sizing:border-box;}
.news dt { color:#999; width:10%; float:left; text-align:left; color:#374577; padding:5px;  font-size:90%; padding:5px; border-bottom: 1px dotted #bbb; box-sizing:border-box;}
.news a{ text-decoration:underline  !important; color:#fff!important;}
.news a:hover{ text-decoration:none !important;  color:#fff!important; }








@media only screen and (max-width: 1200px) {
#CONCEPTWRAPPER{
background-image:url(../img/con_img01-2.jpg);
padding-top:62.1428571%;
}
}

@media only screen and (max-width: 800px) {
	
.h2_filed {
    padding:60px 0 0 0;
    width: 100%;
}	
	
	
.index_toppic {
    padding: 50px 0 0 0;
    width: 100%;
}	
	
	
#HEADER{
height: 60px;
}

h1{
display: none;
}

#PAGEIMAGE{
padding: 150px 0 0 0;
}


#PAGEWRAPPER{
height: 150px;
}


.page_tit{
bottom:5px;
}


#LOGO{
top:5px;
left:10px;
height: 50px;
}

#LOGO img{
width: auto;

}

.header_btn{
top: 0;
right: 51px;
}

.header_btn ul li{
margin: 0 0 0 1px;
padding: 0;
border-bottom: none;
height: auto;
}


.btn_tel{
display: block;
}




.header_btn ul li a{
width: 100%;
height: 60px;
display: block;
}


.btn_mail{
background-color: #fff;
background-image: url(../img/yoyaku_bg.png);
background-color: #262626;
width:50px;
height: auto;
position: relative;
background-position: center;
background-repeat: no-repeat;
}
.btn_tel{

background-image: url(../img/tel_bg.png);
background-color: #262626;
width:50px;
height: auto;
position: relative;
background-position: center ;
background-repeat: no-repeat;

}

.btn_tel02{

background-image: url(../img/tel_bg.png);
background-color: #262626;
width:50px;
height: auto;
position: relative;
background-position: center ;
background-repeat: no-repeat;

}



.btn_map a,
.btn_out a,
.btn_mail a,
.btn_tel a,
.btn_tel a{
position: relative;
}

.btn_map a:before,
.btn_out a:before,
.btn_mail a:before,
.btn_tel a:before,
.btn_tel a:before{
position: absolute;

font-size:24px;
top:10px;
left:0;
right:0;
margin: auto;
color: #999999;
}


}

@media screen and (max-width: 640px) {
/*----------------------------------------------------
	.news
----------------------------------------------------*/


.news { position: relative; overflow: hidden; height: 300px; background:rgba(255,255,255,0.5) }
.news dl { height: 120px; }
.news dd { margin-bottom: 20px; width:100%; float:none; text-align:left; border-bottom:1px dotted #bbb; padding:5px; box-sizing:border-box;}
.news dt { color:#999; width:100%; float:none; text-align:left; color:#374577; font-weight:bold; padding:5px;  font-size:90%; padding:5px; border-bottom: 1px dotted #bbb; box-sizing:border-box;}
.news a{ text-decoration:underline  !important; color:#fff!important;}
.news a:hover{ text-decoration:none !important;  color:#fff!important; }
}



@media screen and (max-width: 585px) {

#TOPIMAGE{
top:60px;
}

#PAGEIMAGE{
background-size:150% auto;
}

#PAGEWRAPPER{
height: 110px;
}

.page_tit img{
max-height: 35px;
width: auto;
}

#LOGO{
top:10px;
left:5px;
padding: 0;

}




}

/*----------------------------------------------------
   メニュー
----------------------------------------------------*/
#MENU{
	width: 100%;
	position: absolute;
	top: 62px;
	left: 1px;
	right: 0;
	margin: auto;
	display: block;
	z-index: 900;
	background: url(../img/gnavi_bg.png) repeat-x;
	border-bottom: 1px solid #3d4d88;
}

#MENU * {
   -moz-transition: .3s;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -ms-transition: .3s;
   transition: .3s;
}

.menu_inner {
max-width:1000px;
width:100%;
margin:0 auto;
}

.menu_inner ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:single;
-moz-box-lines:single;
-webkit-flex-wrap:nowrap;
-moz-flex-wrap:nowrap;
-ms-flex-wrap:none;
flex-wrap:nowrap;
-webkit-box-direction:normal;
-moz-box-direction:normal;
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-flex-direction:row;
-moz-flex-direction:row;
flex-direction:row;
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-flex-pack:justify;
-moz-flex-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;
padding:0;
width:100%;
margin:0 auto;
}
	
.menu_inner ul li{
-webkit-box-flex:1;
-moz-box-flex:1;
-ms-flex-positive:1;
-webkit-flex:1 0 auto;
-moz-flex:1 0 auto;
flex:1 0 auto;
height: 44px;
margin:0;
padding:0;
background-color: #262626;
}

.menu_inner ul li a{
width:100%;
height: 44px;
margin:0;
padding:0;
display: block;
}

.menu_inner ul li.current,
.menu_inner ul li a:hover{
	border-bottom:5px solid #3d4d88;
	box-sizing:border-box;

}

.menu_inner ul li.no {
	border-bottom:none;


}



.menu_inner ul li.no a:hover{

	border-bottom:none !important;


}
.menu_inner ul li span{
display: none;
}

.nav_top{
background-image: url(../img/gnavi01_off.png);
}
.nav_voi{
background-image: url(../img/gnavi02_off.png);
}
.nav_cen{
background-image: url(../img/gnavi03_.png) ;

}
.nav_ger{
background-image: url(../img/gnavi04_.png);
}
.nav_acc{
background-image: url(../img/gnavi06_off.png);
}
.nav_flo{
background-image: url(../img/gnavi05_.png);
}


.nav_top,
.nav_voi,
.nav_cen,
.nav_ger,
.nav_acc,
.nav_flo{
background-position: center;
background-repeat: no-repeat;
position: relative;
}

/*
.nav_loc:before,
.nav_voi:before,
.nav_cen:before,
.nav_ger:before,
.nav_acc:before,
.nav_flo:before{
	background-color: rgba(38,38,38,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
*/

.nav_top a:hover,
.nav_voi a:hover,
.nav_cen a:hover,
.nav_ger a:hover,
.nav_acc a:hover,
.nav_flo a:hover
{
opacity:0.6;
filter: alpha(opacity=60);        /* ie lt 8 */
-ms-filter: "alpha(opacity=60)";  /* ie 8 */
-moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 0.6;              /* Safari 1.x */
}

.nav_top.current:hover,
.nav_voi.current:hover,
.nav_cen.current:hover,
.nav_ger.current:hover,
.nav_acc.current:hover,
.nav_flo.current:hover{
opacity:1.0;
filter: alpha(opacity=100);        /* ie lt 8 */
-ms-filter: "alpha(opacity=100)";  /* ie 8 */
-moz-opacity:1.0;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 1.0;              /* Safari 1.x */
}
	
@media only screen and (max-width: 800px) {
#MENU{
border-bottom: none;
border-top: none;
display: none;
top:0;
background: none;
}




.menu_inner ul{
margin: 60px 0 0 0;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
	
.menu_inner ul li{
width:24.75%;
height: auto;
margin:0 0 0 0;
padding:0;
line-height: 40px;
text-align: center;
border-bottom:1px solid #393939;
border-right:1px solid #393939;
}

.menu_inner ul li a{
width:100%;
height: auto;
margin:0;
display: block;
color:#000;
text-decoration: none;
}

.menu_inner ul li a:hover{
box-sizing:border-box;
border-bottom: none;
}

.menu_inner ul li.no{
	border-bottom:1px solid #393939;
	color:#444;
}

.menu_inner ul li.no a,
.menu_inner ul li.no a:hover,
.menu_inner ul li.no span{
	color:#333 !important;
}

.menu_inner ul li span{
display:block;
color: #fff;
}


.nav_top,
.nav_voi,
.nav_cen,
.nav_ger,
.nav_acc,
.nav_flo{
background-image: none;
}
}

@media screen and (max-width: 585px) {
.menu_inner ul li{width:49.75%;}
}


/*----------------------------------------------------
   スマホ用メニュー
----------------------------------------------------*/

#openMenu,
#closeMenu{
display:none;
}


@media only screen and (max-width: 800px) {
#openMenu,
#closeMenu{
position:absolute;
top:0;
right:0;
height:60px;
width: 50px;
display:block;
background-color:#3d4d88;
cursor: pointer;
}

#openMenu span,
#closeMenu span {
position: relative;
width: 100%;
height: 50px;
}

#openMenu span:before,
#closeMenu span:before{
position: absolute;
font-family: FontAwesome;
font-size:24px;
top:10px;
left:-12px;
color:#fff;
}

#openMenu span:before{
content:'\f0c9';
}

#closeMenu span:before{
content:'\f00d';
}
}



/*----------------------------------------------------
   トップページ・リスト
----------------------------------------------------*/



#TOPLIST{
width: 100%;
max-width: 1000px;


left: 0;
right: 0;
margin: auto;
z-index: 800;
/*box-shadow: 0 -5px 10px -3px rgba(0,0,0,0.25);*/

}

#TOPLIST ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:single;
-moz-box-lines:single;
-webkit-flex-wrap:nowrap;
-moz-flex-wrap:nowrap;
-ms-flex-wrap:none;
flex-wrap:nowrap;
-webkit-box-direction:normal;
-moz-box-direction:normal;
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-flex-direction:row;
-moz-flex-direction:row;
flex-direction:row;
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-flex-pack:justify;
-moz-flex-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;
width:100%;
}

#TOPLIST ul li{
border-left:#ccc 1px solid;
-webkit-box-flex:1;
-moz-box-flex:1;
-ms-flex-positive:1;
-webkit-flex:1 0 auto;
-moz-flex:1 0 auto;
flex:1 0 auto;
padding: 50px 0;
}


#TOPLIST ul li:first-child{
border-left:none;
}

@media screen and (max-width: 800px) {
#TOPLIST{
position: static;
bottom:0;
}



#TOPLIST ul{
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-flex-pack:center;
-moz-flex-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
}

#TOPLIST ul li{
border-bottom:#ccc 1px solid;
}
}

@media screen and (max-width: 585px) {
#TOPLIST{
margin: 0 0 0 0;
}

#TOPLIST ul li{
border-left:none;
-webkit-box-flex:initial;
-moz-box-flex:initial;
-ms-flex-positive:initial;
-webkit-flex:initial;
-moz-flex:initial;
flex:initial;
width: 95%;
padding: 20px 0;
}
}



/*----------------------------------------------------
   メニュー
----------------------------------------------------*/
.minitabs{
width:100%;
background-color: #374577;
font-size:50%;
}

.minitabs_inner {
max-width:980px;
width:100%;
margin:0 auto;
}

.minitabs_inner ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:single;
-moz-box-lines:single;
-webkit-flex-wrap:nowrap;
-moz-flex-wrap:nowrap;
-ms-flex-wrap:none;
flex-wrap:nowrap;
-webkit-box-direction:normal;
-moz-box-direction:normal;
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-flex-direction:row;
-moz-flex-direction:row;
flex-direction:row;
padding:0;
width:100%;
margin:0 auto;
background-color:#3d4d88;
border-left:1px solid #374577;
}

.minitabs ul li{
-webkit-box-flex:1;
-moz-box-flex:1;
-ms-flex-positive:1;
-webkit-flex-grow:1;
-moz-flex-grow:1;
flex-grow:1;
text-align:center;
margin:0 1px 1px 0;
font-size:80%;
background-color: #374577;
line-height: 40px;
color:#666;
}

.minitabs ul li a{
color:#fff;
text-decoration:none;
display:block;
width:100%;
}

.minitabs ul li.current a{color: #fff; background:#3d4d88;}

.minitabs ul li a:hover{color: #fff; background:#3d4d88 !important;}

@media only screen and (max-width: 860px) {
.minitabs_inner ul{
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
border-left:none;
}

.minitabs ul li{
width:33.15%;
margin:0 0.15% 1px 0;

}
}





/*----------------------------------------------------
   動画
----------------------------------------------------*/
#video{
width: 100%;
height: auto;
max-width: 1280px;
}

#video video{
width: 100%;
height: auto;
}

.mov_close{
width: 100%;
}

.mov_close a{
width: 98%;
display: block;
background: #000;
text-align: center;
font-weight: 700;
color: #fff;
border: none;
text-decoration: none;
padding: 10px 1%;
}

.mov_close span{
position: relative;
}
.mov_close span:before {
position: absolute;
font-size: 18px;
top: 0;
left: -20px;
display: block;
font-family: FontAwesome;
content:'\f00d';
}


/*----------------------------------------------------
   コンテンツ
----------------------------------------------------*/

#w_cont{
	background:#fff;
	margin:0 auto 2%;
	}


/*----------------------------------------------------
   バナー
----------------------------------------------------*/

.bn_yoyaku{
	padding:50px 0 0 0;
	margin:0 5% 0 5%;
	width:90%;
	}
	
.bn_yoyaku a{
	padding-right:0px;
	margin:0 auto;
	}		
	
.bn_yoyaku a:nth-child(2){
	padding-left:20px;
		margin:0 auto;
	}	


@media only screen and (max-width: 820px) {
.bn_yoyaku a{
	padding-right:0;
	}		
	
.bn_yoyaku a:nth-child(2){
	padding-right:0;
	}	
}


/*----------------------------------------------------
   フッター
----------------------------------------------------*/
.under{width:100%; margin:0; padding:0 0 0 0;}
.under02{width:100%; background:#cccccc; margin:0; padding:0 0 0 0;}
.under_inner{width:1000px; margin:0 auto; padding:30px 0; text-align:center;}
.under_inner ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-pack:justify;
-moz-box-pack:justify;
-webkit-flex-pack:justify;
-moz-flex-pack:justify;
-ms-flex-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
justify-content:space-between;
}

.under_inner ul li{
width: 80%;
text-align: left;
}

.under_inner ul li:first-child{
width: 20%;
text-align: left;
}



.under_inner03{width:980px; margin:30px auto 0 auto; padding:5px 0 0 0; text-align:center; border-top:1px #e0e0e0 solid;}

#FOOTER{width:100%;  background-position: center top; background-size:cover; padding:0;}
.footer_inner{width:980px; margin:0 auto; padding:30px 0 0; text-align:left;}
.tel{float:left; margin-bottom:3%; margin-top:10px;}
.tel_txt{float:left; font-size:80%; margin:0 10px;}
.urinushi{float:right; text-align:right;}
.copy{color:#666666; font-size:10px; padding:10px 0 10px 0;}


@media screen and (max-width: 980px) {
.under_inner{width:95%; margin:0 auto;}

.under_inner03{width:95%; margin:10px auto 0 auto;}
.footer_inner{width:95%; margin:0 auto;}



}

@media screen and (max-width: 800px) {
.under{padding:0;}

.under_inner ul{
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-flex-pack:center;
-moz-flex-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
}

.under_inner ul li,
.under_inner ul li:first-child{
width: 100%;
text-align: left;
padding: 0 0 15px 0;
}

.tel{float:none; text-align:center; width:100%; }
.tel_txt{float:none; text-align:center; margin-bottom:8%; }
.urinushi{float:none; text-align:center; width:100%;}
.tel img,
.urinushi img{max-width:100%;}
}

@media screen and (max-width: 480px) {
	
	#LOGO {
    top: 15px;
    left: 5px;
    padding: 0;
	width:40%;

	
}


}


/*----------------------------------------------------
   page-top
----------------------------------------------------*/
#page-top {height:55px; width:55px; position: fixed; bottom:0px; right:0px; z-index: 1000;}
#page-top a {background:url(../img/pagetop.png) no-repeat 0px 0px; display:block; width:100%; height:100%; text-indent:-9999px;}
#page-top a:hover{opacity:0.6; filter: alpha(opacity=60); -ms-filter: "alpha(opacity=60)";  -moz-opacity:0.6; -khtml-opacity: 0.6;}


/*----------------------------------------------------
グリッド
----------------------------------------------------*/	


#grid_field {
		max-width:1002px;
		margin:0 auto 0;
		padding:0;

		
	}

	
	
	
.scale {
    width: 33.2335%;
	max-width:333px;
	margin-right:0.14975%;
 
    overflow: hidden;
	position:relative;
	float:left;



}

.last_btn {
	width: 33.23%;
	max-width:333px;
	margin-right:0px;




}
.scale .img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
	
	    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);


}

.scale .acc {
	position:absolute;
	bottom:0;


}
.scale .img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2,1.2);

}	
	
	
	
.grid01 {
	position:absolute;
	right:0;
	top:0;
	pointer-events: none;
	
		
	}
	
.grid02 {
	position:absolute;
	left:0;
	bottom:0;
	pointer-events: none;
	
		
	}	
	
.grid_center {
	float:left;
    width: 333px;
    height: 250px;
	

	}		




/* Content Sections */

section {
  padding: 0;
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
section {
  padding: 0 5%;
  width:85%;
}
}

/*----------------------------------------------------
	outline
----------------------------------------------------*/

.out_area h2{
font-size:120%;
text-align: left;
margin: 0 0 10px 0;
}

.out_area ul {
	list-style:none;
	display:-webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -moz-box-pack:justify;
    -webkit-flex-pack:justify;
    -moz-flex-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
	padding:0;
	width:100%;
	margin:0 0 30px 0;
}

.out_area ul li:nth-child(odd){
width: 19.75%;
padding: 20px 2%;
background: #999;
color: #fff;
margin: 0 0.25% 1px 0 ;
text-align: left;
font-weight: 700;
}

.out_area ul li:nth-child(even){
width: 72%;
padding: 20px 2%;
background: #ebebeb;
margin: 0 0 1px 0 ;
text-align: left;
}


/*----------------------------------------------------
	under_btn
----------------------------------------------------*/

.under_btn {
	width:100%;
	max-width:980px;
	margin:80px auto 0 auto;
}

.under_btn ul{
list-style:none;
display:-webkit-box;
display:-moz-box;
display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-direction:normal;
-moz-box-direction:normal;
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-flex-direction:row;
-moz-flex-direction:row;
flex-direction:row;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-flex-pack:center;
-moz-flex-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
-moz-justify-content:center;
justify-content:center;
padding:0;
width:100%;
margin:0;
}

.under_btn ul li{
width:280px;
background: #fff;
text-align:center;
margin:0 10px 20px 10px;
padding:100px 0 60px 0;
position    :relative;
box-shadow: 0 5px 5px -3px rgba(0,0,0,0.25);
}

.diamond{
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  }
  
.diamond__inner {
  width: 0;
  height: 0;
  border-top: 65px solid transparent;
  border-right: 65px solid #3676BD;
  border-bottom: 65px solid transparent;
  border-left: 0 solid transparent;
}

.diamond__inner:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 65px;
  width: 0;
  height: 0;
  margin: auto 0;
  border-top: 65px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 65px solid transparent;
  border-left: 65px solid #3676BD;
}

.diamond__inner p {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.under_btn_mail{
position: relative;
}

.under_btn_mail:before,
.under_btn_tel:before{
position: absolute;
font-family: FontAwesome;
font-size:36px;
top:0;
bottom:0;
left:0;
right:0;
margin: auto;
color:#222222;
}

.under_btn_mail:before{content:'\f0e0';}
.under_btn_tel:before{content:'\f073';}
	
	
@media screen and (max-width: 720px) {
.under_btn ul li{
margin:0 5px 20px 5px;
}

.under_btn ul li:last-child{
margin:60px 5px 20px 5px;
}
}


@media screen and (max-width: 640px) {

/*----------------------------------------------------
グリッド
----------------------------------------------------*/	


	
	
	
.scale {
    width: 100%;
	max-width:333px;
	margin:0 auto;
 
    overflow: hidden;
	position:relative;
	float:none;
	border:1px solid #fff;
	box-sizing:border-box;
}

}

/*----------------------------------------------------
	ページボタン
----------------------------------------------------*/

.page_btn {
	width:100%;
	max-width:1000px;
	margin:0 auto 30px;
	padding-top:30px;
}



.page_btn * {
   -moz-transition: .3s;
   -webkit-transition: .3s;
   -o-transition: .3s;
   -ms-transition: .3s;
   transition: .3s;
}

	.page_btn ul{
	list-style:none;
	display:-webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -webkit-flex-pack:center;
    -moz-flex-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
	padding:0;
	width:100%;
	margin:0;
	}
	
	.page_btn ul li{
	width:23%;
	text-align:center;
	margin:0 1% 20px 1%;
	padding:0;
	position: relative;
	}
	
.page_btn ul li:before{
position: absolute;
font-family: FontAwesome;
content:'\f054';
font-size:90%;
top:20px;
left:8%;
color:#d5c587;
}
	
	.page_btn ul li a{
	padding:20px 0;
	color:#fff;
	background-color: #374577;
	background-position:center;
	display:block;
	text-decoration: none;
	font-size:90%;
    border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */  
	}
	
	.page_btn ul li a:hover{	
	opacity:0.6;
filter: alpha(opacity=60);        /* ie lt 8 */
-ms-filter: "alpha(opacity=60)";  /* ie 8 */
-moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 0.6;              /* Safari 1.x */
}

	.page_btn ul li a.current{
	padding:20px 0;
	color:#fff;
	background-color: #546aba;
	background-position:center;
	display:block;
font-size:90%;
    border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */  
	}

	.page_btn ul li a.no,
	.page_btn ul li a.no:hover{
		color: #495b9e;
		opacity:1;


	}


@media screen and (max-width: 720px) {
	.page_btn ul li{
	width:98%;
	}
}
/*----------------------------------------------------
	ブランドポリシー
----------------------------------------------------*/


.bra_tit01{
width: 95%;
max-width: 750px;
padding: 5px;
margin: 0 auto;
color:#fff;
background: #B0BFC8;
font-weight: 700;
text-align: center;
font-size:120%;
}

.bra_tit02{
width: 95%;
max-width: 750px;
padding: 0 0 5px 0;
margin: 0 auto;
color:#001655;
font-weight: 700;
text-align: center;
font-size:120%;
border-bottom: 1px solid #001655;
}

.bra_tit03{
width: 95%;
max-width: 750px;
padding: 5px;
margin: 0 auto;
color:#fff;
background: #001655;
font-weight: 700;
text-align: center;
font-size:120%;
}

.bra_area{
width: 95%;
padding: 20px 2.5%;
background: #e3ca95;
margin: 50px 0 0 0;
}

.bra_entry01 ul{
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -webkit-flex-pack:center;
    -moz-flex-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
	width: 100%;
	margin: 0 auto;
}

.bra_entry01 ul li,
.bra_entry02 ul li{
margin: 0 10px 10px 10px
}

.bra_entry02 ul{
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -webkit-flex-pack:center;
    -moz-flex-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
	width: 100%;
	margin: 0 auto;
}
