.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: inline-block;
}
/* End hide from IE-mac */

body  {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	color: #595757;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#container {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/*　　ここから　header　　*/


.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
header #logo {
	float: left;
}
header #contact {
	float: right;
	width: 480px;
	margin-top: 3px;
}
header h1 {
	font-weight: normal;
	margin-top: 0px;
	padding-top: 10px;
}
header h2 {
	font-size: 10px;
	font-weight: normal;
}
header h3 {
	margin: 0px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 10px;
}
header p {
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
header .info {
	font-size: 10px;
}
header .menu {
	height: 32px;
	margin-top: 10px;
	margin-bottom: 0px;
}
header .menu div {
	float: right;
}
header .menu .btn {
	margin-right: 15px;
	padding-top: 10px;
}
/*　　ここまで　header　　*/#menubar {
	clear: both;
	background-image: url(../img/common/memu_bg.jpg);
	width: 100%;
	height: 60px;
}
#menubar ul {
	width: 960px;
	height: 60px;
	margin-left: auto;
	padding: 0;
	margin-right: auto;
	background-image: url(../img/common/memu_bg2.jpg);
	margin-top: 0px;
	margin-bottom: 0px;
}
#menubar ul li {
	list-style-type: none;
	width: 191px;
	float: left;
	color: #D3C59A;
	font-size: 9px;
	text-align: center;
	padding-top: 13px;
	background-image: url(../img/common/menu_bar.gif);
	height: 47px;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 1px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-bottom: 0px;
}
#menubar li.last {
	padding-right: 0px;
	background: none;
}
#menubar p {
	margin-top: -2px;
	width: auto;
	padding-top: 0px;
}
.comingsoon {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	display: none;
	margin-top: 9px;
}
#menubar .no:hover img {
	display: none;
}
#menubar .no:hover p {
	display: none;
}
#menubar .no:hover .comingsoon {
	display: inherit;
}
#caption {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	clear: both;
	margin-top: 5px;
}
#caption h3 {
	float: left;
	font-size: 30px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 0px;
}
#caption p {
	font-size: 10px;
	line-height: 14px;
	margin-bottom: 0px;
	float: left;
	width: 870px;
	letter-spacing: 0.7px;
	margin-top: 12px;
}
#slidebox .bxslider #slide1 {
	width: 100%;
	height: 100%;
}
#slidebox .bxslider #slide2 {
	width: 100%;
	height: 100%;
}
#slide1 .content {
	width: 100%;
	height: 460px;
	background-image: url(../img/slide/01.jpg);
	background-position: center center;
	background-size: cover;
}
#slide2 .content {
	width: 100%;
	height: 460px;
	background-image: url(../img/slide/02.jpg);
	background-position: center center;
	background-size: cover;
}
#slide3 .content {
	width: 100%;
	height: 460px;
	background-image: url(../img/slide/03.jpg);
	background-position: center center;
	background-size: cover;
}
#maincontents {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#maincontents h3 {
	background-image: url(../img/common/underbar.gif);
	background-repeat: repeat-x;
	background-position: 0% bottom;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
}
#maincontents .contents_l {
	float: left;
	padding-bottom: 0px;
	overflow-y: auto;
	width: 638px;
	font-size: 15px;
	margin-left: 1%;
	/* [disabled]height: 350px; */
	margin-bottom: 40px;
}
#maincontents .contents_r {
	float: right;
	width: 240px;
	margin-right: 4%;
	position: relative;
}

span.big {
	font-size: 24px;
}
.contents_l strong {
  font-family: "Hiragino Mincho Pro";
}
.contents_l p {
	line-height: 1.5em;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 13px;
	margin-top: 10px;
}
.contents_l .sub {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 1px;
	color: #FF0000;
	font-size: 16px;
	font-weight: bold;
}
.contents_l .sub_b {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 56px;
}
.contents_r .menu {
	/* [disabled]position: relative; */
	/* [disabled]left: -430px; */
	/* [disabled]bottom: 38px; */
	margin-top: 24px;
}
#maincontents .menu div {
	float: right;
}
.contents_r .menu .btn {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
	margin-right: 4px;
	margin-bottom: 8px;
}
.contents_r .contact2 {
	line-height: 19px;
	font-size: 10px;
	width: 100%;
}
.contents_r .contact2 img {
}
.contents_r .contact2 h4 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-weight: normal;
}
.contents_r .contact2 p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#f_menu {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #518BC6;
	color: #FFFFFF;
	letter-spacing: 2px;
}
footer {
	clear: both;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
footer #f_info {
	text-align: left;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
footer #f_info h2 {
	float: left;
	margin-right: 40px;
	margin-top: 85px;
	font-weight: normal;
	font-size: 22px;
}
footer #f_info h3 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 0px;
}
footer #f_info img {
	float: left;
}
footer #f_info .fl {
	float: left;
}
#f_info .fl p {
	font-size: 12px;
	line-height: 19px;
}
footer hr {
	margin-bottom: 10px;
	width: auto;
}
#copyright {
	font-size: 12px;
	color: #8C8C8C;
	margin-bottom: -20px;
}
#bt {
	position: fixed;
	bottom: 30px;
	right: 50px;
	cursor: pointer;
}
table {
	width: 100%;
	font-size: 13px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	line-height: 1em;
	border-right-color: #BFBFBF;
	border-bottom-color: #BFBFBF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
}
tbody tr th {
	background-color: #E3E3E3;
	background-image: url(../img/about/tablepoll.gif);
	padding-top: 12px;
	padding-bottom: 12px;
	width: 30%;
	padding-left: 30px;
	letter-spacing: 3px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	vertical-align: top;
	text-align: left;
	min-width: 100px;
	padding-right: 10px;
	border-left-color: #BFBFBF;
	border-top-color: #BFBFBF;
	border-left-style: solid;
	border-top-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	color: #333333;
}
tbody tr td {
	padding-left: 20px;
	letter-spacing: 1px;
	line-height: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 20px;
	border-left-color: #BFBFBF;
	border-top-color: #BFBFBF;
	border-left-style: solid;
	border-top-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
}
#pankuzu {
	font-size: 10px;
	text-align: left;
	font-weight: normal;
}
#pankuzu a {
	color: #1C2550;
	text-decoration: none;
}
#pankuzu a:hover {
	text-decoration: underline;
}
#pankuzu a:visited {
	text-decoration: underline;
	color: #1C2550;
}
.tables h4 {
	background-image: url(../img/about/bar.jpg);
}
h4 .h4r {
	float: right;
}
#maincontents .tables {
	width: 83%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 10px;
	padding-bottom: 30px;
}

#maincontents .tables .text-title {
	width: 100%;
}

#maincontents .tables .text-title span.left-title {
	color: #0F2FAF;
	width: auto;
	font-weight: bold;
}

.tables p {
	font-size: 10px;
	line-height: 19px;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.sponly {
	display: none;
}
#f_menu a {
	color: #FFFFFF;
	text-decoration: none;
}
#f_menu a:hover {
	text-decoration: underline;
}
#f_menu a:visited {
	color: #FFFFFF;
}
.bxslider {
	overflow: visible;
}
.tgmenu a {
	text-decoration: none;
}
header .wrapper #simple-menu {

}
#maincontents h2 {
	font-size: 10px;
	text-align: right;
	font-weight: normal;
	margin-top: -12px;
}
.tables .topmargin {
	margin-top: 60px;
}

.tables .tb-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tables .b-margin {
	margin-bottom: 20px;
}

#logo img {
	margin-top: 42px;
}
#banner {
	width: 100%;
	padding-bottom: 10px;
	border-top: 1px solid #B0B0B0;
	padding-top: 10px;
}
#banner img {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
.contents_l h4 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
.fbtns img {
	width: 22%;
	height: auto;
	margin-left: 0.8%;
	margin-right: 0.8%;
}
.fbtns {
	text-align: center;
	clear: both;

}
.acc_loce {
	background-color: #e7f5fd;
	margin-top: -16px;
	padding-top: 16px;
	margin-bottom: 80px;
	padding-bottom: 80px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
.fbar {
	margin-top: 60px;
	margin-bottom: 60px;
}
.acc_loce h3 {
	margin-bottom: 32px;
	margin-top: 32px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-image: url(../img/access_location/bdr_btm.jpg);
	background-repeat: repeat-x;
	background-position: 0% bottom;
	background-size: 1px 5px;
}
.acc_loce .content {
	padding-top: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	background-color: #FFFFFF;
	line-height: 1.4em;
	position: relative;
	width: 92%;
}
.maptxt {
	position: absolute;
	left: 7%;
	top: 56px;
	width: auto;
}
.acc_loce_txt01 {
	width: 50%;
	font-size: 12px;
	line-height: 1.4em;
	margin-left: auto;
	color: #595757;
}
.acc_loce_txt02 {
	font-size: 12px;
	line-height: 1.4em;
	color: #595757;
}
.content.access.var2 h4 {
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-weight: normal;
	letter-spacing: 2px;
	background-image: url(../img/access_location/h_bg.jpg);
	background-position: left center;
	background-repeat: repeat-x;
	background-size: auto 32px;
	height: 32px;
	clear: both;
}
hr.dot {
	border-top-color: #000000;
	border-top-style: dotted;
	border-top-width: 1px;
	height: 0px;
	margin-top: 52px;
	margin-bottom: 16px;
	clear: both;
	float: none;
	width: 100%;
}
.station01   {
	font-size: 32px;
	margin-top: 4px;
	margin-bottom: 8px;
	width: 46%;
	display: block;
	float: left;
}
.station01 .aftr1 {
	font-size: 0.7em;
}
.station02 .aftr1 {
	font-size: 0.7em;
}
.station01 .time {
	font-size: 1.1em;
}
.station01 .num  {
	color: #C7000B;
	font-size: 32px;
	margin-left: 2px;
	margin-right: 2px;
}
.station02 {
	display: block;
	width: 46%;
	font-size: 42px;
	float: left;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 0px;
	margin-top: 16px;
}
.station02.r {
	margin-left: 8%;
}
.station01.r {
	margin-left: 8%;
}

.station02 .time {
	font-size: 0.8em;
}
.station02 .num  {
	color: #C7000B;
	font-size: 38px;
	margin-left: 2px;
	margin-right: 2px;
}
.content.access .fl_l {
	float: right;
}
.content.access .subt {
	font-size: 10px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 1em;
	line-height: 1em;
}
.content.access .train {
	width: 100%;
}
h4.ttl01 {
	border-top: 2px solid #19263F;
}
h4.ttl01 img {
	width: 30%;
}
p.ttl01 {
	font-size: 16px;
	line-height: 1.4em;
	width: 87%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.map2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
td .color_1 {
	background-color: #C6B991;
	width: 2.5em;
	height: 0.3em;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 0.3em;
}
td .color_2 {
	background-color: #6DA392;
	width: 2.5em;
	height: 0.9em;
	display: inline-block;
	margin-right: 8px;
}
td .color_3 {
	background-color: #C1D1E7;
	width: 2.5em;
	height: 0.9em;
	display: inline-block;
	margin-right: 8px;
}
table.map2 {
	width: 90%;
	margin-top: 40px;
}
table.map2 th {
	text-align: center;
	background-image: none;
	background-color: #FFFFFF;
}
table.map2 td {
	line-height: 2.5em;
}
table.map2 td .minitxt {
	font-size: 0.9em;
}
.acc_loce h3 img {
	width: 35%;
}
.area img {
	height: 56px;
	width: auto;
}
.area {
	margin-top: -8px;
	float: left;
	margin-right: 16px;
}
.area_st {
	margin-top: -4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 1.4em;
	font-size: 12px;
}
.photos1 {
	clear: both;
	width: 100%;
	position: relative;
}
.photos1 .1 {
	position: absolute;
	top: 0px;
	left: 0px;
}
.photos1 .2 {
	position: absolute;
	top: 0px;
	right: 0px;
	float: left;
}
.lifeinfo {
	margin-top: 60px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.lifeinfo .left {
	float: left;
	width: 46%;
	margin-right: 2%;
	margin-left: 2%;
}
.lifeinfo .right {
	float: left;
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
}
.lifeinfo h6 {
	font-size: 14px;
	color: #171f4a;
	clear: both;
	margin-bottom: 20px;
	margin-top: 0px;
}
.lifeinfo ul  {
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	border-bottom: 1px solid #000000;
}
.lifeinfo ul li {
	float: left;
	list-style-type: none;
	width: 60%;
	font-size: 12px;
	height: auto;
}
.lifeinfo ul li:nth-child(2n) {
	width: 30%;
	float: right;
	text-align: right;
	/* [disabled]min-width: 10em; */
}
.lifeinfo ul.borno {
	border: 0;
}
.area1_i1 {
	width: 58%;
	float: left;
}
.area1_t1 {
	width: 40.5%;
	float: left;
	padding-left: 1.5%;
	padding-bottom: 1.5%;
}
.loce p {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	font-size: 12px;
	line-height: 1.1em;
}
.loce h6 {
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.area1_w {
	float: left;
	width: 19.5%;
	padding-left: 1.5%;
}
.area2_tri {
	width: 32.3%;
	float: left;
	margin-top: 5px;
}
.area2_tri.cntr {
	margin-left: 1.5%;
	margin-right: 1.5%;


}
.area2_2l {
	float: left;
	width: 61.6%;
	margin-top: -5px;
}
.area2_2r {
	float: left;
	width: 37.4%;
	margin-left: 1%;
}
.area2_2r.loce p {

}
.area3 {
	position: relative;
	width: 100%;
}
.area3_over {
	width: 80%;
	float: left;
}
.area3_over_t1 {
	width: 18.5%;
	float: left;
	margin-left: 1.5%;
	bottom: 0px;
	padding-top: 120px;
}
.area3_lw {
	width: 24%;
	float: left;
	margin-right: 1.5%;
	margin-top: 6px;
}
.area3_r {
	float: left;
	width: 49%;
	margin-top: 6px;
}
.area4_25 {
	float: left;
	width: 25%;
	padding-right: 1.5%;
}
.area4_75 {
	float: left;
	width: 73%;
}
.area4_25.loce p {
	margin-bottom: 30px;

}
.area5_l {
	width: 60%;
	float: left;
	margin-right: 1.5%;
}
.area5_l_t {
	width: 26%;
	float: left;
}
.area5_r2 {
	float: left;
	width: 18%;
	margin-right: 1%;
	margin-top: 148px;
}
.area6_rl {
	width: 24%;
	float: left;
}
.area6_c {
	float: left;
	width: 50%;
	margin-left: 1%;
	margin-right: 1%;
}
.area6_f {
	width: 49.5%;
	float: left;
	margin-right: 1%;
}
.area6_f.r {
	margin-right: 0px;
}
.area6 {
	margin-top: 8px;
}
.headinfo {
	margin-left: 151px;
}
#maincontents .contents_l .contact2 {
	margin-top: 40px;
}
.contents_r .menu .btn_big {
	margin-bottom: 8px;
}
li .toho   {
	float: left;
}
#maincontents h3 .sub {
	display: inline-block;
	margin-right: 2em;
	margin-left: 1em;
	font-size: 1.2em;
	color: #1054B2;
}
.access .topmap {
	float: left;
}
h3#plan img {
	width: auto;
	max-height: 28px;
}
h3#equip img {
	width: auto;
	max-height: 28px;
}
.acc_loce.plan_equip .wrapper .content.plan {
	padding: 0;
	width: 100%;
}
.abtype {
	background-color: #0F4AAB;
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
	width: 320px;
	text-align: center;
}
.planinfo {
	margin-left: 48px;
	margin-top: 8px;

}
.content.plan.clearfix .inner .plans.clearfix {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.content.plan.clearfix .inner .txt01 {
	clear: both;
	padding-top: 20px;
	padding-bottom: 40px;
	line-height: 2em;
	font-size: 17px;
}
.content.plan.clearfix .inner {
	margin-left: 4%;
	margin-right: 4%;
}
.inner .plans.clearfix #type_a {
	/*position: relative;*/
	float:left;
	padding-bottom: 64px;
	border-bottom: 2px solid #0359b7;
}
.inner .plans.clearfix #type_at {
	float:left;
	padding-bottom: 64px;
	line-height: 50pt;
}
.inner .plans.clearfix #type_bt {
	float:right;
	padding-bottom: 64px;
	line-height: 50pt;
}
.plans.clearfix #type_a .type {
	position: absolute;
	top: 40px;
	left: 0px;
}
/*.plans.clearfix .compass  {
	position: absolute;
	right: 0px;
	bottom: 64px;
}*/
.inner .plans.clearfix #type_b {
	/*position: relative;*/
	float:right;
	margin-top: 64px;
	padding-bottom: 64px;
}

.plans.clearfix #type_b .type {
	position: absolute;
	top: 40px;
	left: 0px;
}
.btns .btn_a  {
	margin-right: 1%;
	float: left;
	display: inline-block;
}
.btns .btn_b {
	float: left;
	display: inline-block;
}
.wrapper .content.equip.clearfix .items {
	margin-top: 40px;
}
.content.plan.clearfix .inner .btns.clearfix {
	width: 100%;
}
.items .item_l   {
	float: left;
	width: 48%;
	margin-right: 4%;
}
.item h4  {
	margin-top: 0px;
	margin-bottom: 16px;
	border-bottom: 1px solid #2E2A38;
	padding-left: 3%;
	padding-right: 3%;
}
.item_l .item #3kitchen {
	width: 100%;
}
.item_l .item #3kitchen .3items {
	float: left;
	width: 100%;
}
.item p {
	font-size: 12px;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 8px;
	margin-bottom: 8px;
}
.content.equip.clearfix .items .item_r {
	float: left;
	width: 48%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.item_r .item .fl_r {
	margin-left: 8px;
	float: right;
	width: 50%;
}
.item h4.pinc  {
	border: 0;
	text-align: center;
	margin-bottom: 0px;
}
.item_r .item .pinc2 {
	border-left: 2px solid #f5b090;
	border-right: 2px solid #f5b090;
	border-bottom: 3px solid #f5b090;
	border-top: 2px solid #f5b090;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.item .pinc2 .pinc3 {
	background-color: #FDEBE0;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 90%;
	display: table;
}
.items .item_r .item {
	margin-bottom: 56px;
}
.item .genkan img {
	width: 32.3%;
	margin-right: 1%;
}
.pinc2 .pinc3 div  {
	width: 32%;
	float: left;
	margin-right: 1%;
	text-align: center;
	margin-bottom: 24px;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	background-color: #FFFFFF;
	border: 1px solid #000;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing: 1px;
	vertical-align: middle;
}
.item ul {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.item ul li {
	list-style-type: none;
	width: 33%;
	float: left;
	text-align: center;
}
.item ul p {
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 24px;
}
.item_r .item h5 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.item_l .item .pdr {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: auto;
	max-width: 340px;
}









































































































































@media (max-width:640px){
.abtype {
	width: 100%;
	background-color: #0F4AAB;
	padding-top: 16px;
	padding-bottom: 8px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}
h3#plan img {
	width: auto;
	max-height: 28px;
}
h3#plan img {
	width: auto;
	max-height: 28px;
}
.loce p {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1em;
	margin-left: 1px;
}
.area1 {
	width: 514px;
	float: left;
	height: 303px;
}
.area1 {
	width: 514px;
	float: left;
	height: 303px;
}
.photos1 .1 {
	position: absolute;
	top: 0px;
	left: 0px;
}
td .color_1 {
	background-color: #C6B991;
	width: 2.5em;
	height: 3px;
	display: inline-block;
	margin-right: 8px;
}
td .color_1 {
	background-color: #C6B991;
	width: 2.5em;
	height: 3px;
	display: inline-block;
	margin-right: 8px;
}
h4.ttl01 {
}
h4.ttl01 {
	margin-top: 40px;
}
.fbtns img {
	width: 100%;
	height: auto;
	margin-left: 1%;
	margin-right: 1%;
	display: block;
	float: none;
}
.wrapper {
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
}
#contact {
	display: none;
}
#menubar {
	display: none;
}
#container #f_menu {
	display: none;
}
.sponly {
	display: inherit;
}
#maincontents {
	width: 92%;
	clear: both;
}
#caption {
	width: 100%;
	padding-top: 20px;
	margin-top: 0px;
}
#caption h3 {
	width: 11%;
	text-align: center;
	font-size: 24px;
	margin-right: 2%;
}
#caption p {
	width: 83%;
	margin-right: 2%;
	margin-bottom: 0%;
	margin-left: 0%;
	line-height: 12pt;
	font-weight: normal;
	letter-spacing: 0px;
	margin-top: 0%;
}
#logo h1 {
	position: absolute;
	left: 3%;
	top: 0px;
	font-size: 6px;

}
#slide1 .content {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-size: cover;
	height: 200px;
	width: auto;
}
#slide2 .content {
	height: 200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#slide3 .content {
	height: 200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#slide1 .content img {
	position: static;
	margin-left: auto;
	margin-right: auto;
	top: auto;
	padding-top: 130px;
	width: 50%;
	height: auto;
}
#maincontents h3 {
	width: 100%;
	margin-bottom: 0px;
	clear: both;
	margin-top: 30px;
	margin-left: -5px;
}
#maincontents h3 .sub {
  margin-right: 0;
}
#maincontents .contents_l {
	float: none;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	width: 96%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
	height: auto;
}
#maincontents .contents_l .menu {
	display: none;
}
#maincontents .contents_r {
	float: none;
	width: 100%;
	clear: both;
}
#maincontents .contents_r img {
	width: 100%;
}
.contents_r .contact2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.wrapper #f_info h2 {
	float: none;
	text-align: center;
	margin-top: -40px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
#f_info .fl {
	width: 55%;
	float: none;
}
.wrapper #f_info img {
	height: auto;
	margin-top: -30px;
	width: 100%;
}
#container #maincontents #pankuzu {
	margin-top: 5px;
	float: right;
	text-align: right;
	font-size: xx-small;
}
div.fmenu {
	width: 96%;
	color: #FFFFFF;
	background-color: #7BC5EF;
	text-align: center;
	line-height: 2em;
	font-size: 20px;
	margin-right: 2%;
	margin-left: 2%;
}
header .wrapper .button-toggle {
	width: 20%;
	text-align: right;
	float: left;
	margin-left: 10%;
}
header .wrapper .tgmenu {
	position: absolute;
	top: 0px;
	width: 100%;
}
.tgmenu ul li {
	background-color: #000000;
	color: #FFFFFF;
	padding-left: 3%;
	padding-top: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}
.wrapper .tgmenu ul {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -3%;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0%;
}
#logo img {
	width: 64%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 4px;
}
header #logo {
	width: 80%;
	margin-top: -10px;
	margin-bottom: 10px;
}
header h2 {
	padding-left: 0px;
	font-size: 10px;
	font-weight: normal;
	margin-left: 0px;
}
.button-toggle.sponly img {
	width: 100%;
	height: auto;
}
.contents_r .sponly img {
	width: auto;
	height: auto;
}
#copyright {
	width: 100%;
}
.sponly .uemenu1 {
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: 5%;
}
.sponly .uemenu2 {
	float: left;
	width: 45%;
	margin-left: 2.5%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 2.5%;
}
.sponly .uemenu img {
}
.sponly .shitamenu {
	width: 100%;
	margin-left: auto;
	margin-bottom: 30px;
	margin-right: auto;
	text-align: center;
}
#pankuzu {
	padding-top: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: -5px;
	font-size: 10px;


}
tbody tr th {
	padding-left: 8%;
	padding-right: 0%;
	width: auto;
	border-left-color: #BFBFBF;
	border-top-color: #BFBFBF;
	border-left-style: solid;
	border-top-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	color: #333;
}
.topbdr {
	border-top: 1px solid #D5D5D5;
	padding-top: 0px;
	width: 100%;
}
#bt {
	display: none;
	bottom: 1%;
	right: 1%;
}
.fmenu a {
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
}
.fmenu a:hover {
	text-decoration: underline;
}
.fmenu a:visited {
	color: #FFFFFF;
}
#simple-menu {
	float: right;
	padding-right: 2%;
	padding-bottom: 10px;
	padding-top: 14px;
	width: 13%;
	padding-left: 1%;
}
#f_info {
	width: 90%;
}
#maincontents .tables {
	width: auto;
	padding-right: 2%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2%;
}
#maincontents #pankuzu_sp {
	text-align: right;
	line-height: 1.2em;
	margin-top: 3px;
}
#container #maincontents h2 {
	margin-top: 5px;
	float: right;
	text-align: right;
	font-size: 10px;
	font-weight: normal;
}
img.yokoku {
	display: none;
}
.pconly {
	display: none;
}
.sponly.center {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}
img.h02 {
	width: 90%;
	height: auto;
}
img.img01 {
	width: 90%;
	height: auto;
}
table, tbody, thead, tfoot, tr, th, td {
	display: block;
}
tbody tr td {
	padding-left: 8%;
	padding-right: 8%;
	border-left-color: #BFBFBF;
	border-top-color: #BFBFBF;
	border-left-style: solid;
	border-top-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
}
.fmenu div {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	background-image: url(../img/common/fmenu_bg.gif);
}
#sidr ul .title {
	text-align: left;
	font-size: 20px;
	color: #BFBFBF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-bottom: 27px;
	padding-top: 27px;
	background-color: #4B4B4B;
	letter-spacing: 1px;
}
#banner {
	border-bottom-style: none;
	border-top-width: 1px;
}
#banner img {
	width: 96%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
	display: block;
}
.maptxt {
	display: block;
	position: static;
}
.acc_loce_txt01 {
	margin-left: 0px;
	width: auto;

}
.station01 {
	float: none;
	display: block;
	width: auto;
	margin-top: 0px;
	padding-top: 0.5em;
	margin-bottom: 24px;
	font-size: 20px;
}
.station02 {
	float: none;
	width: auto;
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}
.station01.r ,.station02.r{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.lifeinfo .left, .lifeinfo .right {
	float: none;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.acc_loce h3 img {
	width: 90%;
}
.area {
	float: none;
	width: 100%;
	height: 40px;
	margin-top: 8px;
}
.area_st {
	margin-bottom: 24px;
}
hr.dot {
	margin-top: 0px;
}
.lifeinfo ul.borno {
	border-bottom: 1px solid #000000;
}
.acc_loce {
	margin-top: -11px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
.loce {
	float: none;
	display: block;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}
#location img {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 100%;

}
.area img {
	max-width: 100%;
	width: auto;
	height: 40px;
}
.area2_2l {
	width: auto;
}
.lifeinfo ul li:nth-child(2n) {
	float: left;
	text-align: left;
	margin-bottom: 8px;
	width: 80%;
	padding-left: 0px;
	padding-bottom: 8px;

}
.lifeinfo ul li {
	width: 100%;

}


.content.access h4 img {
	width: auto;
	height: 24px;
	max-width: 100%;
}
.content.access.var2 h4 {
	height: 24px;
	margin-bottom: 0px;
	margin-top: 24px;
}
.content.access .fl_l {
	display: inline-block;
	float: none;
	margin-left: 16px;
}
.area2_tri.loce.cntr {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.acc_loce .content {
	width: 92%;
}
#container .clearfix hr {
	width: auto;
}
.station02 .num {
	font-size: 32px;
}
.area2_2r.loce p  {
	width: 100%;
}
.lifeinfo h5 img {
	width: 100%;
	max-width: 160px;
}
.sponly.center .shitamenu .btn_big {
	margin-top: 8px;
}
.content.equip.clearfix .items .item_l {
	float: none;
	width: 100%;
}
.content.equip.clearfix .items .item_r {
	width: 100%;
	margin-top: 24px;
}
.plans.clearfix #type_a .type {
	position: static;
	margin-bottom: 24px;
}
.plans.clearfix #type_a .compass {
	position: static;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}
.plans.clearfix #type_b .type {
	position: static;
	margin-bottom: 24px;
}
.plans.clearfix #type_b .compass {
	position: static;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}
.wrapper .content.plan.clearfix .planinfo {
	width: 88%;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
}
img.plan {
	width: 100%;
	height: auto;
}
.item_r .item .mb24 {
	margin-bottom: 24px;
}
.item .pinc img {
	width: 100%;
	max-height: 44px;
}
.pinc2 .pinc3.clearfix .fl_r {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.content.plan.clearfix .inner .txt01 {
	margin-top: -1px;
}
.content.plan.clearfix .abtype img {
	width: 21%;
	height: auto;
	min-width: 140px;

}
.inner .btns.clearfix .btn_a {
	width: 49%;
	text-align: center;
}
.inner .btns.clearfix .btn_b {
	width: 49%;
	text-align: center;
}
.btns.clearfix img {
	width: 100%;
	height: auto;
	max-width: 128px;
}

}


#landplan .landblock{
	width: 100%;
	clear: both;

}

#landplan .landblock #firstimg{
	width:45%;
	text-align:center;
	margin-bottom:30px;
	display: inline-block;
	}

#landplan .landblock #firstimg img{
	width:100%;
	text-align:center;
	}

#landplan .landblock .landsection_spec{
	width:26%;
	text-align:center;
	display: inline-block;
	vertical-align: bottom;
	}

#landplan .landblock .landsection_spec img{
	width:95%;
	text-align:center;
	}

#landplan .landblock .landsection{
	width:33%;
	float:left;
	text-align:center;
	}

#landplan .landblock .landsection img{
	width:70%;
	text-align:center;
	}

#landplan .landblock .landsection_enlarge{
	/*width:100%;*/
	text-align:center;
	padding-right: 15%;
	}

#landplan .landblock .landsection_center{
	width:100%;
	text-align:center;
	}

#landplan .landblock .landsection_center img{
	width:22%;
	text-align:center;
	padding: 0 2%;
	}

#landplan .landblock .landsection_center img:nth-child(1){
	text-align:center;
	padding-left: 6%;
	}

@media (max-width: 710px){
	.inner .plans.clearfix #type_at {
		float:none;
	}

	.inner .plans.clearfix #type_bt {
		float:none;
	}

	#landplan .landblock #firstimg{
		width:100%;
		text-align:center;
		/*margin-bottom:30px;*/
		display: inline;
	}

	#landplan .landblock .landsection_spec{
	width:100%;
	text-align:center;
	display: block;
	}

	#landplan .landblock .landsection_spec img{
		width: 70%;
		margin: 0 auto;
	}

	#landplan .landblock .landsection{
	width:100%;
	text-align:center;
	display: block;
	}

	#landplan .landblock .landsection img{
		width: 70%;
		margin: 0 auto;
	}

	#landplan .landblock .landsection_enlarge img{
	width:100%;
	text-align:center;
	}

	#landplan .landblock .landsection_center img{
	width:50%;
	text-align:center;
	}
}
