/************************************************* 
 *	Lumber Selection 
 * ************************************************ */
/* teak */
.lumber_selection_teak, .lumber_selection_teak_so { float:left; }
.lumber_selection_teak a, .lumber_selection_teak_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_teak.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_teak a:hover { background:url(../../../resources/flooring/button_teak.jpg) no-repeat 0px -50px; }
.lumber_selection_teak_so a:hover { background:url(../../../resources/flooring/button_teak.jpg) no-repeat 0px -100px; } 
/* karin */
.lumber_selection_karin, .lumber_selection_karin_so { float:left; }
.lumber_selection_karin a, .lumber_selection_karin_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_karin.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_karin a:hover { background:url(../../../resources/flooring/button_karin.jpg) no-repeat 0px -50px; }
.lumber_selection_karin_so a:hover { background:url(../../../resources/flooring/button_karin.jpg) no-repeat 0px -100px; } 
/* ebony */
.lumber_selection_ebony, .lumber_selection_ebony_so { float:left; }
.lumber_selection_ebony a, .lumber_selection_ebony_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_ebony.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_ebony a:hover { background:url(../../../resources/flooring/button_ebony.jpg) no-repeat 0px -50px; }
.lumber_selection_ebony_so a:hover { background:url(../../../resources/flooring/button_ebony.jpg) no-repeat 0px -100px; } 
/* merbau */
.lumber_selection_merbau, .lumber_selection_merbau_so { float:left; }
.lumber_selection_merbau a, .lumber_selection_merbau_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_merbau.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_merbau a:hover { background:url(../../../resources/flooring/button_merbau.jpg) no-repeat 0px -50px; }
.lumber_selection_merbau_so a:hover { background:url(../../../resources/flooring/button_merbau.jpg) no-repeat 0px -100px; } 
/* lingua */
.lumber_selection_lingua, .lumber_selection_lingua_so { float:left; }
.lumber_selection_lingua a, .lumber_selection_lingua_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_lingua.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_lingua a:hover { background:url(../../../resources/flooring/button_lingua.jpg) no-repeat 0px -50px; }
.lumber_selection_lingua_so a:hover { background:url(../../../resources/flooring/button_lingua.jpg) no-repeat 0px -100px; } 
/* amugis */
.lumber_selection_amugis, .lumber_selection_amugis_so { float:left; }
.lumber_selection_amugis a, .lumber_selection_amugis_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_amugis.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_amugis a:hover { background:url(../../../resources/flooring/button_amugis.jpg) no-repeat 0px -50px; }
.lumber_selection_amugis_so a:hover { background:url(../../../resources/flooring/button_amugis.jpg) no-repeat 0px -100px; } 
/* eugenia */
.lumber_selection_eugenia, .lumber_selection_eugenia_so { float:left; }
.lumber_selection_eugenia a, .lumber_selection_eugenia_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_eugenia a:hover { background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px -50px; }
.lumber_selection_eugenia_so a:hover { background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px -100px; } 
/* oak */
.lumber_selection_oak, .lumber_selection_oak_so { float:left; }
.lumber_selection_oak a, .lumber_selection_oak_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_oak.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_oak a:hover { background:url(../../../resources/flooring/button_oak.jpg) no-repeat 0px -50px; }
.lumber_selection_oak_so a:hover { background:url(../../../resources/flooring/button_oak.jpg) no-repeat 0px -100px; } 
/* laoshinoki */
.lumber_selection_laoshinoki, .lumber_selection_laoshinoki_so { float:left; }
.lumber_selection_laoshinoki a, .lumber_selection_laoshinoki_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_laoshinoki.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_laoshinoki a:hover { background:url(../../../resources/flooring/button_laoshinoki.jpg) no-repeat 0px -50px; }
.lumber_selection_laoshinoki_so a:hover { background:url(../../../resources/flooring/button_laoshinoki.jpg) no-repeat 0px -100px; } 
/* mayxy */
.lumber_selection_mayxy, .lumber_selection_mayxy_so { float:left; }
.lumber_selection_mayxy a, .lumber_selection_mayxy_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_mayxy.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_mayxy a:hover { background:url(../../../resources/flooring/button_mayxy.jpg) no-repeat 0px -50px; }
.lumber_selection_mayxy_so a:hover { background:url(../../../resources/flooring/button_mayxy.jpg) no-repeat 0px -100px; } 
/* makha */
.lumber_selection_makha, .lumber_selection_makha_so { float:left; }
.lumber_selection_makha a, .lumber_selection_makha_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_makha.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_makha a:hover { background:url(../../../resources/flooring/button_makha.jpg) no-repeat 0px -50px; }
.lumber_selection_makha_so a:hover { background:url(../../../resources/flooring/button_makha.jpg) no-repeat 0px -100px; } 
/* owt */
.lumber_selection_owt, .lumber_selection_owt_so { float:left; }
.lumber_selection_owt a, .lumber_selection_owt_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_owt.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_owt a:hover { background:url(../../../resources/flooring/button_owt.jpg) no-repeat 0px -50px; }
.lumber_selection_owt_so a:hover { background:url(../../../resources/flooring/button_owt.jpg) no-repeat 0px -100px; }
/* eugenia */
.lumber_selection_eugenia, .lumber_selection_eugenia_so { float:left; }
.lumber_selection_eugenia a, .lumber_selection_eugenia_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_eugenia a:hover { background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px -50px; }
.lumber_selection_eugenia_so a:hover { background:url(../../../resources/flooring/button_eugenia.jpg) no-repeat 0px -100px; }
/* sonokeling */
.lumber_selection_sonokeling, .lumber_selection_sonokeling_so { float:left; }
.lumber_selection_sonokeling a, .lumber_selection_sonokeling_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_sonokeling.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_sonokeling a:hover { background:url(../../../resources/flooring/button_sonokeling.jpg) no-repeat 0px -50px; }
.lumber_selection_sonokeling_so a:hover { background:url(../../../resources/flooring/button_sonokeling.jpg) no-repeat 0px -100px; } 

/* malas */
.lumber_selection_malas, .lumber_selection_malas_so { float:left; }
.lumber_selection_malas a, .lumber_selection_malas_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_malas.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_malas a:hover { background:url(../../../resources/flooring/button_malas.jpg) no-repeat 0px -50px; }
.lumber_selection_malas_so a:hover { background:url(../../../resources/flooring/button_malas.jpg) no-repeat 0px -100px; } 
/* giam */
.lumber_selection_giam, .lumber_selection_giam_so { float:left; }
.lumber_selection_giam a, .lumber_selection_giam_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_giam.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_giam a:hover { background:url(../../../resources/flooring/button_giam.jpg) no-repeat 0px -50px; }
.lumber_selection_giam_so a:hover { background:url(../../../resources/flooring/button_giam.jpg) no-repeat 0px -100px; } 

/* walnut */
.lumber_selection_walnut, .lumber_selection_walnut_so { float:left; }
.lumber_selection_walnut a, .lumber_selection_walnut_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_walnut.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_walnut a:hover { background:url(../../../resources/flooring/button_walnut.jpg) no-repeat 0px -50px; }
.lumber_selection_walnut_so a:hover { background:url(../../../resources/flooring/button_walnut.jpg) no-repeat 0px -100px; } 
/* hiba */
.lumber_selection_hiba, .lumber_selection_hiba_so { float:left; }
.lumber_selection_hiba a, .lumber_selection_hiba_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_hiba.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_hiba a:hover { background:url(../../../resources/flooring/button_hiba.jpg) no-repeat 0px -50px; }
.lumber_selection_hiba_so a:hover { background:url(../../../resources/flooring/button_hiba.jpg) no-repeat 0px -100px; } 
/* ceder */
.lumber_selection_ceder, .lumber_selection_ceder_so { float:left; }
.lumber_selection_ceder a, .lumber_selection_ceder_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_ceder.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_ceder a:hover { background:url(../../../resources/flooring/button_ceder.jpg) no-repeat 0px -50px; }
.lumber_selection_ceder_so a:hover { background:url(../../../resources/flooring/button_ceder.jpg) no-repeat 0px -100px; } 
/* bangkirai */
.lumber_selection_bangkirai, .lumber_selection_bangkirai_so { float:left; }
.lumber_selection_bangkirai a, .lumber_selection_bangkirai_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_bangkirai.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_bangkirai a:hover { background:url(../../../resources/flooring/button_bangkirai.jpg) no-repeat 0px -50px; }
.lumber_selection_bangkirai_so a:hover { background:url(../../../resources/flooring/button_bangkirai.jpg) no-repeat 0px -100px; } 
/* kempas */
.lumber_selection_kempas, .lumber_selection_kempas_so { float:left; }
.lumber_selection_kempas a, .lumber_selection_kempas_so a { display:block; width:50px; height:50px; background:url(../../../resources/flooring/button_kempas.jpg) no-repeat 0px 0px; border-right:2px solid #000; }
.lumber_selection_kempas a:hover { background:url(../../../resources/flooring/button_kempas.jpg) no-repeat 0px -50px; }
.lumber_selection_kempas_so a:hover { background:url(../../../resources/flooring/button_kempas.jpg) no-repeat 0px -100px; } 

.lumber_brief { line-height:1.4; padding-top:0px; padding-right:5px; padding-bottom:0px; padding-left:3px; float:left; width:58px; height:50px; border-right:0px solid #ccc; margin-right:3px; }

 #lumber_list { width:960px; height:75px; }
 