#main_contents p { padding-left:2px; padding-right:10px; font-size:11px; }
#main_contents img.img_right { margin-right:7px; margin-left:15px; float:right; }
#main_contents img.img_left { margin-right:15px; float:left; }
#main_contents p.p_right { margin-right:5px; }
#mame_info { width:205px; float:left; }
#mame_info img { margin-right:7px; margin-bottom:3px; float:left; }
#mame_info p.title { padding-left:70px; font-weight:bold; margin-bottom:3px; margin-top:5px; font-size:14px; }
#mame_info p.contents { padding-left:70px; margin-top:-2px;  }
#main_contents p.types { font-weight:bold; margin-bottom:3px; margin-top:5px; font-size:14px;  }
#main_contents p.inventory { padding-left:110px; margin-top:-2px; margin-right:-10px;  }