@charset "UTF-8";
.gFooter {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.gFooter_inner {
	padding-top: 102px;
	padding-bottom: 102px;
}
.gFooter_inner::after {
	content: "";
	background-color: #0B0510;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	width: 100vw;
	height: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	min-width: 320px;
}
.gFooter_cols {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	color: #FAFAFA;
}
.gFooter_col {}
.gFooter_col-no1 {
	width: 420px;
	min-width: 360px;
}
.gFooter_areaText {
	position: relative;
	z-index: 1;
	padding-left: 124px;
}
.gFooter_logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.gFooter_logo > svg {
	display: block;
	fill: #fff;
	width: 88px;
	height: 88px;
}
.gFooter_logo > svg > title {}
.gFooter_subTitle {
	font-size: 87.5%;
	font-weight: 600;
}
.gFooter_subTitle-en {
	font-size: 80%;
}
.gFooter_title {
	font-size: inherit;
	line-height: 1;
	margin-top: 19px;
	margin-bottom: 19px;
}
.gFooter_title > small {
	display: block;
	font-size: 125%;
	font-weight: 600;
	margin-bottom: 17px;
}
.gFooter_title-en > small {
	font-size: 100%;
}
.gFooter_title > b {
	font-size: 156%;
	font-weight: 600;
}
.gFooter_title-en > b {
	font-size: 121%;
}
.gFooter_addr {
	font-weight: 600;
}
.gFooter_addr-en {
	font-size: 80%;
}
.gFooter_col-no2 {
	padding-left: 40px;
	margin-left: 40px;
	border-left: 1px solid #707070;
	padding-right: 40px;
	margin-right: 40px;
	border-right: 1px solid #707070;
	flex-grow: 1;
}
.gReserve {}
.gReserve_title {
	font-size: inherit;
	font-weight: 600;
}
.gReserve_text {
	font-weight: 600;
	margin-top: 14px;
}
.gReserve_caution {
	font-size: 87.5%;
	font-weight: 600;
	margin-bottom: 22px;
}
.gReserve_link {}
.gReserve_link > a {
	height: 83px;
	font-size: 20px;
}
.gReserve_link > a::before {
	content: "";
}
.gReserve_link > a::after {
	content: "";
}
.gReserve_link > a > b {}
.gFooter_col-no3 {
	width: 305px;
}
.gFollow {}
.gFollow_title {
	font-size: 24px;
	font-style: italic;
	font-weight: 500;
}
.gFollow_list {
	list-style: none;
}
.gFollow_list > li {
	margin-top: 22px;
}
.gFollow_list > li:first-child {
	margin-top: 0;
}
.gFollow_list > li:last-child {}
.gFollow_list > li:nth-child(2n+1) {}
.gFollow_list > li:nth-child(n+3) {}
.gFollow_list > li > a {
	font-size: 18px;
}
.gFollow_list > li > a::before {
	content: "";
}
.gFollow_list > li > a::after {
	content: "";
}
.gFollow_list > li > a > .icon {
	display: block;
	margin-right: 10px;
	font-size: 129%;
}
.gFooter_copyright {
	height: 106px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gFooter_copyright > small {
	display: block;
	font-size: 14px;
	text-align: center;
}
.gHeaderWrap {
	height: 90px;
}
.p-home .gHeaderWrap {
	height: 0;
}
.gHeader {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
}
.gHeader_inner {
	max-width: none;
	padding: 0;
}
.gHeader_cols {
	display: flex;
	justify-content: space-between;
	float:right
}

.gHeader_langLink {
	width: 90px;
	min-width: 90px;
	margin-right: 20px;
}
.gHeader_langLink > a {
	text-decoration: none;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border: 1px solid #000000;
	box-sizing: border-box;
	color: #fff;
	transition-duration: .3s;
	transition-property: background-color, color, border-color;
	font-size: 15px;
}
.gHeader_langLink > a::before {
	content: "";
}
.gHeader_langLink > a::after {
	content: "";
}
.gHeader_title {
	font-size: 14px;
	font-weight: normal;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition-duration: 1s, 0s, 0s;
	transition-property: opacity, -webkit-transform, transform;
	transition-delay: 0s, 0s, 0s;
}
.isFixed .gHeader_title {
	transition-delay: 0s, 1s, 1s;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.p-home .gHeader_title {
	color: #fff;
}
.gHeader_title > a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 10px 0;
}
.gHeader_title > a::before {
	content: "";
}
.gHeader_title > a::after {
	content: "";
}
.gHeader_col-no2 {
	display: flex;
}
.gHeader_link {
	width: 180px;
}
.gHeader_link > a {
	display: flex;
	text-decoration: none;
	height: 90px;
	background-color: #000000;
	color: #fff;
	border: 1px solid #000000;
	box-sizing: border-box;
	line-height: 1;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	transition-duration: .3s;
	transition-property: background-color, color, border-color;
}
.gHeader_link > a::before {
	content: "";
}
.gHeader_link > a::after {
	content: "";
}
.gMenuBtn {
	display: block;
	width: 90px;
	height: 90px;
	background-color: #fff;
	position: fixed;
	z-index: 1002;
	top: 0;
	right: 0;
	transition-duration: .3s;
	transition-property: background-color, color;
}
.gMenuBtn.isShow {
	background-color: transparent;
}
.gMenuBtn::before {
	content: "";
}
.gMenuBtn::after {
	content: "";
}
.gMenuBtn_bar {
	width: 38px;
	height: 1px;
	background-color: #2E2E2E;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	top: 0;
	transition-duration: .3s;
	transition-property: top, opacity, -webkit-transform;
	transition-property: transform, top, opacity;
	transition-property: transform, top, opacity, -webkit-transform;
}
.gMenuBtn:not(.isShow):hover .gMenuBtn_bar-no1 {
	top: -3px;
}
.gMenuBtn:not(.isShow):hover .gMenuBtn_bar-no2 {
	top: 3px;
}
.gMenuBtn_bar-no1 {}
.gMenuBtn_bar-no2 {
	margin-top: 8px;
}
.isShow .gMenuBtn_bar {
	opacity: .56;
}
.isShow .gMenuBtn_bar-no1 {
	top: 4px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.isShow .gMenuBtn_bar-no2 {
	top: -5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.gBody {
	padding-bottom: 123px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.gNav {
	background-size: 100px 100px;
	background-color: #fefcf7;
	background-position: 0 0;
	background-image: url(../img/common/bg-main@2x.png);
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	transition-duration: .5s;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.gNav.isShow {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.gNav_inner {
	padding: 30px 30px;
}
.gNav_listWrap {
	position: relative;
	z-index: 1;
	padding-left: 150px;
	padding-top: 22px;
	opacity: 0;
	transition-duration: .3s;
	transition-property: opacity;
}
.isShow .gNav_listWrap {
	transition-duration: 1s;
	transition-delay: .5s;
	opacity: 1;
}
.gNav_logo {
	position: absolute;
	z-index: 1;
	top: -150px;
	left: -150px;
}
.gNav_logo > svg {
	display: block;
	width: 115px;
	height: 173px;
}
.gNav_title {
	font-size: 26px;
	font-weight: 500;
}
.gNav_list {
	list-style: none;
	width: 385px;
}
.gNav_list > li {}
.gNav_list > li:first-child {}
.gNav_list > li:last-child {}
.gNav_list > li:nth-child(2n+1) {}
.gNav_list > li:nth-child(n+3) {}
.gNav_list > li > a {
	display: block;
	text-decoration: none;
	color: inherit;
	position: relative;
	z-index: 1;
	padding-left: 16px;
	border-bottom: 1px solid rgba(112, 112, 112, 0.25);
	padding-top: 5px;
	padding-bottom: 5px;
	transition-duration: .3s;
	transition-property: padding;
}
.gNav_list > li:last-child > a {
	border-bottom: none;
}
.gNav_list > li > a::before {
	content: "";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235F5F5F' viewBox='0 0 9 8'%3E%3Cpolygon points='8.6,3.4 0.4,0.2 5.2,3.4 0.4,7.8'/%3E%3C/svg%3E");
	width: 9px;
	height: 8px;
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	transition-duration: .3s;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.gNav_list > li > a::after {
	content: "";
}
.gBody_inner {}
.gPager {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.gPager > a,
.gPager > span {
	display: flex;
	width: 51px;
	height: 51px;
	border: 1px solid #D6D6D6;
	border-radius: 50%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 15px;
	text-decoration: none;
	margin: 5px 5px;
	transition-duration: .3s;
	transition-property: background-color, color, border-color;
}
.gPager > .previouspostslink {}
.gPager > .current {
	border-color: #C3C3C3;
	background-color: #C3C3C3;
	color: #fff;
}
.gPager > .extend {
	border: none;
}
.gPager > .nextpostslink {}
.gFollow_text {
	font-size: 14px;
	margin-top: 13px;
}
.gFollow_list-2col {
	display: flex;
}
.gFollow_list-2col > li {
	width: 49%;
	margin-top: 0;
	margin-left: 2%;
}
.gFollow_list-2col > li > a {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
}
.gFollow_list-2col > li:first-child {
	margin-left: 0;
}
@media screen and (max-width:1299px) {
	.gFooter_col-no1 {
		width: auto;
	}
}
@media screen and (max-width:1099px) {
	.gFooter_areaText {
		padding-left: 108px;
	}
	.gFooter_col-no2 {
		padding-left: 25px;
		margin-left: 25px;
		margin-right: 25px;
		padding-right: 25px;
	}
}
@media screen and (min-width:1000px) {
	.gPager > a:hover {
		background-color: #000;
		color: #fff;
		border-color: #fff;
	}
	.gReserve_link > a:hover {
		color: #0B0510;
	}
	.gFollow_list > li > a:hover {}
	.gHeader_langLink > a:hover {
		background-color: #fff;
		color: #000;
		border-color: #fff;
	}
	.gHeader_title > a:hover {
		text-decoration: underline;
	}
	.gHeader_link > a:hover {
		background-color: #fff;
		color: #000;
		border-color: #fff;
	}
	.gMenuBtn:hover {}
	.gNav_list > li > a:hover {
		padding-left: 25px;
	}
	.gNav_list > li > a:hover::before {
		-webkit-transform: translateY(-50%) scale(1.2);
		transform: translateY(-50%) scale(1.2);
	}
}
@media screen and (max-width:999px) {
	.gFooter {}
	.gFooter_inner {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.gFooter_inner::after {}
	.gFooter_cols {
		flex-wrap: wrap;
	}
	.gFooter_col {
		flex-grow: 0;
	}
	.gFooter_col-no1 {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	.gFooter_areaText {
		padding: 0;
		text-align: center;
	}
	.gFooter_logo {
		position: static;
		max-width: 88px;
		margin: 0 auto 10px;
	}
	.gFooter_logo > svg {}
	.gFooter_logo > svg > title {}
	.gFooter_subTitle {}
	.gFooter_title {}
	.gFooter_title > small {}
	.gFooter_title > b {}
	.gFooter_addr {}
	.gFooter_col-no2 {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		padding-right: 2%;
		margin-right: 2%;
		width: 50%;
		box-sizing: border-box;
	}
	.gReserve {}
	.gReserve_title {}
	.gReserve_text {}
	.gReserve_caution {}
	.gReserve_link {}
	.gReserve_link > a {
		height: 70px;
	}
	.gReserve_link > a::before {}
	.gReserve_link > a::after {}
	.gReserve_link > a > b {}
	.gFooter_col-no3 {
		width: 48%;
	}
	.gFollow {}
	.gFollow_title {
		font-size: 20px;
	}
	.gFollow_list {}
	.gFollow_list > li {}
	.gFollow_list > li:first-child {}
	.gFollow_list > li:last-child {}
	.gFollow_list > li:nth-child(2n + 1) {}
	.gFollow_list > li:nth-child(n + 3) {}
	.gFollow_list > li > a {}
	.gFollow_list > li > a::before {}
	.gFollow_list > li > a::after {}
	.gFollow_list > li > a > .icon {}
	.gFooter_copyright {
		height: 80px;
	}
	.gFooter_copyright > small {
		font-size: 12px;
	}
	.gHeaderWrap {}
	.gHeader {}
	.gHeader_inner {}
	.gHeader_cols {}
	.gHeader_col {}
	.gHeader_col-no1 {}
	.gHeader_langLink {
		width: 70px;
		min-width: 70px;
	}
	.gHeader_langLink > a {
		height: 70px;
	}
	.gHeader_langLink > a::before {}
	.gHeader_langLink > a::after {}
	.gHeader_title {}
	.gHeader_title > a {}
	.gHeader_title > a::before {}
	.gHeader_title > a::after {}
	.gHeader_col-no2 {
		padding-right: 70px;
	}
	.gHeader_link {}
	.gHeader_link > a {
		height: 70px;
	}
	.gHeader_link > a::before {}
	.gHeader_link > a::after {}
	.gMenuBtn {
		width: 70px;
		height: 70px;
	}
	.gMenuBtn.isShow {}
	.gMenuBtn::before {}
	.gMenuBtn::after {}
	.gMenuBtn_bar {}
	.gMenuBtn_bar-no1 {}
	.gMenuBtn_bar-no2 {}
	.isShow .gMenuBtn_bar {}
	.isShow .gMenuBtn_bar-no1 {}
	.isShow .gMenuBtn_bar-no2 {}
	.gBody {}
	.gNav {}
	.gNav.isShow {}
	.gNav_inner {}
	.gNav_listWrap {}
	.isShow .gNav_listWrap {}
	.gNav_logo {}
	.gNav_logo > svg {}
	.gNav_title {}
	.gNav_list {}
	.gNav_list > li {}
	.gNav_list > li:first-child {}
	.gNav_list > li:last-child {}
	.gNav_list > li:nth-child(2n + 1) {}
	.gNav_list > li:nth-child(n + 3) {}
	.gNav_list > li > a {}
	.gNav_list > li:last-child > a {}
	.gNav_list > li > a::before {}
	.gNav_list > li > a::after {}
	.gBody_inner {
		padding-top: 15px;
	}
	.gPager {}
	.gPager > a,
	.gPager > span {
		width: 44px;
		height: 44px;
	}
	.gPager > .previouspostslink {}
	.gPager > .current {}
	.gPager > .extend {}
	.gPager > .nextpostslink {}
	.gFollow_text {}
	.gFollow_list-2col {}
	.gFollow_list-2col > li {}
	.gFollow_list-2col > li > a {}
	.gFollow_list-2col > li:first-child {}
}
@media screen and (max-width:767px) {
	.gFooter {}
	.gFooter_inner {
		padding-top: 41px;
		padding-bottom: 70px;
	}
	.gFooter_inner::after {}
	.gFooter_cols {
		display: block;
	}
	.gFooter_col {
		width: auto;
		margin: 0;
		padding: 0;
		border: none;
		min-width: 0;
	}
	.gFooter_col-no1 {
		margin-bottom: 34px;
		display: block;
	}
	.gFooter_areaText {}
	.gFooter_logo {
		max-width: 60px;
		margin-bottom: 30px;
	}
	.gFooter_logo > svg {
		width: 60px;
		height: 60px;
	}
	.gFooter_logo > svg > title {}
	.gFooter_subTitle {
		font-size: 10px;
	}
	.gFooter_title {
		margin-top: 11px;
		margin-bottom: 10px;
	}
	.gFooter_title > small {
		font-size: 14px;
		margin-bottom: 8px;
	}
	.gFooter_title > b {
		font-size: 17px;
	}
	.gFooter_addr {
		font-size: 12px;
	}
	.gFooter_col-no2 {
		margin-bottom: 30px;
	}
	.gReserve {}
	.gReserve_title {
		text-align: center;
		font-size: 14px;
	}
	.gReserve_text {
		font-size: 12px;
		text-align: center;
		margin-top: 1px;
	}
	.gReserve_caution {
		font-size: 11px;
		text-align: center;
	}
	.gReserve_link {
		max-width: 312px;
		margin-left: auto;
		margin-right: auto;
	}
	.gReserve_link > a {
		height: 66px;
		font-size: 16px;
		justify-content: center;
	}
	.gReserve_link > a::before {}
	.gReserve_link > a::after {}
	.gReserve_link > a > b {}
	.gFooter_col-no3 {}
	.gFollow {}
	.gFollow_title {
		font-size: 18px;
		text-align: center;
		margin-bottom: 14px;
	}
	.gFollow_list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gFollow_list > li {
		margin: 0;
		border-right: 1px solid #8B8B8B;
	}
	.gFollow_list > li:first-child {}
	.gFollow_list > li:last-child {
		border-right: none;
	}
	.gFollow_list > li:nth-child(2n + 1) {}
	.gFollow_list > li:nth-child(n + 3) {}
	.gFollow_list > li > a {
		border: none;
		font-size: 0;
		display: block;
		height: auto;
		text-align: center;
		padding: 5px 16px;
	}
	.gFollow_list > li > a::before {}
	.gFollow_list > li > a::after {}
	.gFollow_list > li > a > .icon {
		font-size: 20px;
		margin: 0;
	}
	.gFooter_copyright {
		height: 60px;
	}
	.gFooter_copyright > small {
		font-size: 10px;
	}
	.gHeaderWrap {
		height: 54px;
	}
	.gHeader {}
	.gHeader_inner {}
	.gHeader_cols {}
	.gHeader_col {}
	.gHeader_col-no1 {}
	.gHeader_langLink {
		width: 54px;
		min-width: 54px;
		margin-right: 10px;
	}
	.gHeader_langLink > a {
		height: 54px;
	}
	.gHeader_langLink > a::before {}
	.gHeader_langLink > a::after {}
	.gHeader_title {
		font-size: 8px;
		line-height: 1.2;
	}
	.gHeader_title > a {}
	.gHeader_title > a::before {}
	.gHeader_title > a::after {}
	.gHeader_col-no2 {
		padding-right: 54px;
		margin-left: 10px;
	}
	.gHeader_link {
		width: 89px;
	}
	.gHeader_link > a {
		height: 54px;
		font-size: 13px;
	}
	.gHeader_link > a::before {}
	.gHeader_link > a::after {}
	.gMenuBtn {
		width: 54px;
		height: 54px;
	}
	.gMenuBtn.isShow {}
	.gMenuBtn::before {}
	.gMenuBtn::after {}
	.gMenuBtn_bar {
		width: 23px;
	}
	.gMenuBtn_bar-no1 {}
	.gMenuBtn_bar-no2 {
		margin-top: 5px;
	}
	.isShow .gMenuBtn_bar {}
	.isShow .gMenuBtn_bar-no1 {
		top: 3px;
	}
	.isShow .gMenuBtn_bar-no2 {
		top: -3px;
	}
	.gBody {
		padding-bottom: 41px;
	}
	.gNav {
		display: block;
		background-size: 50px 50px;
	}
	.gNav.isShow {}
	.gNav_inner {
		padding: 0;
		display: flex;
		justify-content: center;
		padding-top: 54px;
	}
	.gNav_listWrap {
		padding: 0;
	}
	.isShow .gNav_listWrap {}
	.gNav_logo {
		position: static;
		max-width: 69px;
		margin: 0 auto 14px;
	}
	.gNav_logo > svg {
		width: 69px;
		height: 103px;
	}
	.gNav_title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.gNav_title-en {
		font-size: 16px;
	}
	.gNav_list {
		width: auto;
	}
	.gNav_list > li {}
	.gNav_list > li:first-child {}
	.gNav_list > li:last-child {}
	.gNav_list > li:nth-child(2n + 1) {}
	.gNav_list > li:nth-child(n + 3) {}
	.gNav_list > li > a {}
	.gNav_list > li:last-child > a {}
	.gNav_list > li > a::before {}
	.gNav_list > li > a::after {}
	.gBody_inner {}
	.gPager {
		margin-top: 25px;
	}
	.gPager > a,
	.gPager > span {
		width: 32px;
		height: 32px;
		font-size: 12px;
	}
	.gPager > .previouspostslink {}
	.gPager > .current {}
	.gPager > .extend {}
	.gPager > .nextpostslink {}
	.gFollow_text {
		text-align: center;
		font-size: 12px;
		margin-top: 20px;
	}
	.gFollow_list-2col {}
	.gFollow_list-2col > li {}
	.gFollow_list-2col > li > a {}
	.gFollow_list-2col > li:first-child {}
}
