@import url(https://fonts.googleapis.com/css?family=Orbitron);

@charset "utf-8";

/********* HTML再定義 ***********************************************/

body {
	margin: 0 auto;
	padding: 0;
	background-color: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h2, h3, h4, h5, h6 {
	line-height: 120%;
	font-size: 120%;
}


/********* 全体 *****************************************************/

div#container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
}

/********* ヘッダー *************************************************/

div#header {
	padding-top: 15px;
	clear: both;
	margin: 0 auto;
}
div#header h1 {
	padding: 0;
	display: inline-block;
	margin: 10px;
}
div#header h1:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


div#header h1 img {
	width: 280px;
}


.header_right {
	padding-right: 10px;
	float: right;
	color: #543;
}


.head_tel {
	clear: both;
	display: block;
	float: right;
	margin: 0;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 0;
	font-size: 9px;
	line-height: 110%;
}

.header_right img {
	display: block;
	width: 230px;
	margin-bottom: 5px;
}




/********* メニュー *************************************************/


ul.menu {
	clear: both;
	vertical-align: top;
	margin: 0;
	padding: 0;
	color: #524335;
	font-size: 15px;
	line-height: 130%;
	font-weight: bold;
}
ul.menu li {
	display: inline-block;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 100%;
	padding: 0;
	margin: 0;
}


ul.menu li a {
	display: block;
	border-left: 1px dotted #321;
	border-bottom: 5px solid #FFF;
	color: #524335;
	padding: 5px 15px;
	text-decoration: none;
}


ul.menu li a:hover {
	border-bottom: 5px solid #600;
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}



/********* スライド *****************************************************/


#slide {
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0;
	width: 100%;
	min-width: 960px;
	background: url(../files/medias/slide/slide_back.png), #dcbd8e;
}


.slide {
	margin: 0 auto;
	width: 961px;
	padding: 0;
}

#slide ul {
	margin: 0;
	padding: 0;
}


#slide li {
	margin: 0;
	padding: 0;
}

#slide li img {
	width: 960px;
}






/********* トップページギャラリー ***********************************************/

div#top_gallery {
	margin-bottom: 40px;
}

div#top_gallery a:link, a:visited {
	text-decoration: none;
	color: #000;
}
div#top_gallery a:hover {
	text-decoration: underline;
	color: #555;
}


div#top_gallery h2 {
	font-size: 26px;
	color: #654;
	margin-bottom: 5px;
	padding: 0;
	line-height: 120%;
}


div#top_gallery div.top_gallery {
	width: 288px;
	border-bottom: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	padding: 15px;
	margin-bottom: 20px;
}

div#top_gallery div.top_gallery h3 {
	border-left: 3px solid #CCC;
	padding-left: 10px;
	font-size: 18px;
}


div#top_gallery div.top_gallery  h4 {
	font-size: 16px;
	font-weight: normal;
}


.f40 {
	font-size: 40px;
}



div#gallery_view {
	margin-bottom: 40px;
	font-size: 16px;
}

div#gallery_view .gallery_view {
	background-color: #355;
	color: #FFF;
	margin-bottom: 30px;
}

.gallery_view_img {
	float: right;
	padding: 0;
}

div#gallery_view .gallery_entry {
	float: left;
	width: 400px;
	padding: 20px;
	margin: 0;
}

div#gallery_view .gallery_entry h3 {
	font-size: 30px;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

div#gallery_view .gallery_entry p {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

div#top_gallery h2 {
	display: none;
}

div#gallery_view div.entry h3 a:link, div#entry div.entry h3 a:visited {
	color: #654;
	text-decoration: none;
}
div#gallery_view div.entry h3 a:active, div#entry div.entry h3 a:hover {
	color: #654;
	text-decoration: underline;
}
div#gallery_view div.entry div.content {
	margin: 0;
	padding: 0;
}





div#gallery_view ul.link {
	margin: 0;
	padding: 10px;
	text-align: right;
}
div#gallery_view ul.link li {
	display: inline;
	margin-left: 5px;
}

div#gallery_view ul.link li img {
	width: 16px;
}


div#gallery_view ul.entry_link {
	margin: 0;
}
div#gallery_view ul.entry_link li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}
div#gallery_view ul.entry_link li.home {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}
div#gallery_view ul.entry_link li.previous:before {
	content: "<< ";
}
div#gallery_view ul.entry_link li.next:after {
	content: " >>";
}


.top_gallery_shousai dl {
	color: #000;
	float: left;
	letter-spacing: 0;
	font-size: 11px;
	padding: 10px;
	margin: 0;
	margin-bottom: 15px;
	background-color: rgba(255,255,255,0.5);
}


.top_gallery_shousai dt {
    clear: both;
	float: left;
	width: 50px;
	clear: both;
	padding: 2px;
	margin-bottom: 2px;
}


.top_gallery_shousai dd {
	padding: 2px;
	margin-bottom: 2px;
	margin-left: 60px;

}
/* IE7以下以外用 */
.top_gallery_shousai dd:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}




/********* フッター *************************************************/

div#footer {
	clear: both;
	padding: 20px 0;
}

div#footer h2 {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	display: block;
}



div#footer address {
	text-align: center;
	margin: 0;
	padding: 20px 0;
	font-size: 12px;
}



.foot_tel {
	clear: both;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 15px;
	color: #643;
}


.foot_tel p {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	text-align: left;
	padding: 0;
	margin: 0;
}

.foot_tel p img {
	margin-bottom: 10px;
}
.foot_tel h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	color: #643;
}


ul.menu_foot {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid #000;
}
ul.menu_foot li {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.menu_foot li a {
	display: block;
	padding: 0 20px;
	margin: 0;
	border-right: 1px solid #000;
	color: #555;
	text-decoration: none;
}
ul.menu_foot li a:hover {
	color: #999;
	text-decoration: underline;
}

ul.menu_foot li:last-child a {
	border-right: none;
}









/********* メニュー ログイン *************************************************/

div#menu00 {
	background-color: #666666;
}
div#menu00 h2 {
	display: none;
}
div#menu00 ul {
	margin: 0;
	padding: 5px 10px;
}
div#menu00 ul li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}

div#menu00 a:link, div#menu a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
div#menu00 a:active, div#menu a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}




/********* 内容 *****************************************************/

div#content {
	float: left;
	width: 650px;
	margin-left: 12px;
	margin-right: 12px;
}


div#page_content {
	font-size: 16px;
	line-height: 180%;
	margin: 0;
	margin-bottom: 20px;
	padding: 0 20px;
}


div#page_content h2 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 28px;
	line-height: 120%;
	color: #654;
	margin: 30px 0;
	letter-spacing: 3px;
	border-bottom: 1px solid #000;
	background-image: url(../files/medias/common/icon_logo.png);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 36px;
	padding-bottom: 3px;
}


div#about h3 {
	display: inline-block;
	font-weight: normal;
	font-size: 26px;
	padding: 5px;
	margin: 0;
	color: #6c6c6c;
}


div#page_content .content {
	padding: 0 20px;
}




/********* 各ページ *****************************************************/

dl.company {
	clear: both;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	border: 1px solid #000;
	background-color: #F5F5F5;
}

dl.company dt {
	clear: both;
	float: left;
	width: 200px;
	margin: 0;
	padding: 10px;
	border-top: 1px solid #999;
}
dl.company dd {
	padding: 10px 20px;
	margin-left: 220px;
	border-top: 1px solid #999;
	border-left: 1px dotted #999;
	background-color: #FFF;
}


dl.company dt:first-child {
	border: none;
}
dl.company dt:first-child + dd {
	border-top: none;
}

dl.privacy {
	clear: both;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

dl.privacy dt {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	border-bottom: 1px dotted #999;
	font-size: 120%;
	font-weight: bold;
}
dl.privacy dd {
	padding: 0 20px;
	margin: 0;
	margin-bottom: 50px;
}

p.privacy {
	border: 1px dotted #CCC;
	padding: 10px 20px;
	line-height: 1310%;
	font-size: 13px;
}

/********* フォーム *************************************************/

#form {
	clear: both;
}
#form h4 {
	margin-bottom: 0;
}

#form h5 {
	line-height: 130%;
	margin-bottom: 0;
}

#form dl {
	margin: 20px auto;
	line-height: 160%;
	margin-bottom: 20px;
	border-bottom: 1px dotted #999;
}
#form dt {
	clear: both;
	float: left;
	width: 280px;
	padding: 10px;
	font-weight: bold;
	margin: 0;
	border-top: 1px dotted #999;
}

#form dd {
	margin: 0;
	margin-left: 300px;
	padding: 10px;
	border-top: 1px dotted #999;
}



#form dd p {
	line-height: 130%;
}	

.hissu {
	border:1px solid #df0909;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px;
	line-height: 100%;
	padding: 2px 6px;
	margin-left: 10px !important;
	text-decoration:none;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #FFF !important;
	background-color: #f62b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}


#formWrap {
	margin:0 auto;
	color:#555;
	line-height: 160%;
}

#formWrap h4 {
	line-height: 160%;
}

table.formTable{
	width:100%;
	margin:0 auto;
	border-collapse:collapse;
}
table.formTable td,table.formTable th{
	border:1px solid #ccc;
	padding:10px;
}
table.formTable th {
	width:30%;
	font-weight:normal;
	background:#efefef;
	text-align:left;
}
p.error_messe{
	margin:5px 0;
	color:red;
	line-height: 200%;
}


ul.checkbox01 {
	margin: 0;
	padding: 0;
}

ul.checkbox01 li {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 180px;
	display: inline-block;
}


/********* box *************************************************/
.box {
	clear: both;
	border: 1px solid #000;
	padding: 20px;
	margin: 10px;
	margin-bottom: 30px;
}



.box_shadow {
	display: inline-block;
	min-width: 500px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3), -2px -2px 3px rgba(0,0,0,0.1);
	padding: 20px 30px;
	margin: 10px;
	margin-bottom: 30px;
}




/********* エントリー ***********************************************/




div#entry h2 {
	display: none;
}




ul.entry_list {
	clear: both;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
	border-bottom: 1px dotted #555;
	border-left: 1px dotted #555;
	border-right: 1px dotted #555;
	border-collapse: collapse;
}

ul.entry_list li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: 272px;
	margin: 0;
	padding: 25px;
	border-top: 1px dotted #555;
	border-right: 1px dotted #555;
	border-left: 1px dotted #555;
}




ul.entry_list li:nth-child(odd) {
	clear: both;
	border-left: none;
}
ul.entry_list li:nth-child(even) {
	border-right: none;
}




.entry_img {
	clear: both;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
	width: 270px;
	height: 170px;
	overflow: hidden;
	
}

.entry_img01 {
	position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
	max-width: 270px;
}




ul.entry_img01 li a:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
	
}





div#entry div.entry {
}

div#entry div.entry h3 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	color: #654;
	font-size: 23px;
	line-height: 120%;
}
div#entry div.entry h3 a {
	color: #654;
	text-decoration: none;
}
div#entry div.entry h3 a:hover {
	color: #654;
	text-decoration: underline;
}
div#entry div.entry div.content {
	margin: 0;
	padding: 0;
}




div#entry div.entry ul.information {
	margin: 2px 10px 15px 10px;
	padding-top: 2px;
	border-top: 1px solid #CCCCCC;
	font-size: 90%;
}
div#entry div.entry ul.information li {
	display: inline;
	margin-right: 5px;
}
div#entry div.entry ul.link {
	margin: 0;
	padding: 10px;
	text-align: right;
}
div#entry div.entry ul.link li {
	display: inline;
	margin-left: 5px;
}

div#entry div.entry ul.link li img {
	width: 16px;
}

div#entry div#entry_link h3 {
	display: none;
}
div#entry div#entry_link ul.entry_link {
	margin: 0;
}
div#entry div#entry_link ul.entry_link li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}
div#entry div#entry_link ul.entry_link li.home {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}
div#entry div#entry_link ul.entry_link li.previous:before {
	content: "<< ";
}
div#entry div#entry_link ul.entry_link li.next:after {
	content: " >>";
}

.content_text {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 5px;
}


.shousai dl {
	font-size: 11px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}


.shousai dt {
	text-align: center;
    clear: both;
	float: left;
	font-weight: bold;
	width: 80px;
	clear: both;
	padding: 2px;
	margin-bottom: 2px;
	background-color: #EEE;
}


.shousai dd {
	padding: 2px;
	margin-bottom: 2px;
	margin-left: 94px;
	background-color: #FFF;

}
/* IE7以下以外用 */
.shousai dd:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}


.bt_seikyuu {
	margin-bottom: 5px;
	width: 130px;
	float: left;
	text-align: center;
	border:1px solid #C33;
	font-size:14px;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background: rgb(204,0,51); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,0,51,1) 0%, rgba(187,0,51,1) 50%, rgba(204,0,51,1) 50%, rgba(187,0,51,1) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,51,1)), color-stop(50%,rgba(187,0,51,1)), color-stop(50%,rgba(204,0,51,1)), color-stop(98%,rgba(187,0,51,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,0,51,1) 0%,rgba(187,0,51,1) 50%,rgba(204,0,51,1) 50%,rgba(187,0,51,1) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,0,51,1) 0%,rgba(187,0,51,1) 50%,rgba(204,0,51,1) 50%,rgba(187,0,51,1) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,0,51,1) 0%,rgba(187,0,51,1) 50%,rgba(204,0,51,1) 50%,rgba(187,0,51,1) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,0,51,1) 0%,rgba(187,0,51,1) 50%,rgba(204,0,51,1) 50%,rgba(187,0,51,1) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0033', endColorstr='#bb0033',GradientType=0 ); /* IE6-9 */
}

.bt_seikyuu:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


.bt_seikyuu_no {
	margin-bottom: 5px;
	width: 130px;
	float: left;
	text-align: center;
	border:1px solid #999;
	font-size:14px;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background: #CCC;
}


.bt_reservation {
	margin-bottom: 5px;
	width: 130px;
	float: right;
	text-align: center;
	border:1px solid #870;
	font-size:14px;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background: rgb(161,135,0); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(161,135,0,1) 0%, rgba(161,135,0,1) 50%, rgba(144,119,0,1) 51%, rgba(144,119,0,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,135,0,1)), color-stop(50%,rgba(161,135,0,1)), color-stop(51%,rgba(144,119,0,1)), color-stop(100%,rgba(144,119,0,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(161,135,0,1) 0%,rgba(161,135,0,1) 50%,rgba(144,119,0,1) 51%,rgba(144,119,0,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(161,135,0,1) 0%,rgba(161,135,0,1) 50%,rgba(144,119,0,1) 51%,rgba(144,119,0,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(161,135,0,1) 0%,rgba(161,135,0,1) 50%,rgba(144,119,0,1) 51%,rgba(144,119,0,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(161,135,0,1) 0%,rgba(161,135,0,1) 50%,rgba(144,119,0,1) 51%,rgba(144,119,0,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a18700', endColorstr='#907700',GradientType=0 ); /* IE6-9 */


}

.bt_reservation:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


.bt_reservation_no {
	margin-bottom: 5px;
	width: 130px;
	float: right;
	text-align: center;
	border:1px solid #999;
	font-size:14px;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background: #CCC;
}


.bt_site {
	width: 268px;
	text-align: center;
	border:1px solid #2a2c2f;
	font-size:14px;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	display:inline-block;
	text-decoration:none;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background-color: #45484d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
	background-image: -webkit-linear-gradient(top, #45484d, #000000);
	background-image: -moz-linear-gradient(top, #45484d, #000000);
	background-image: -ms-linear-gradient(top, #45484d, #000000);
	background-image: -o-linear-gradient(top, #45484d, #000000);
	background-image: linear-gradient(to bottom, #45484d, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);


}

.bt_site:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}

.bt_site:link {
	text-decoration:none;
}


.bt_site:visited {
	text-decoration:none;
}



/********* ページ移動 ***********************************************/

div#page h2 {
	display: none;
}
div#page ul.order {
	margin: 10px 0;
}
div#page ul.order li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}
div#page ul.direct {
	margin: 10px 0;
	text-align: right;
}
div#page ul.direct li {
	display: inline;
	list-style: none;
	margin-left: 10px;
}



/********* インフォメーション ***************************************/

div#information {
	margin-bottom: 30px;
}
div#information ul.continue {
	margin: 0;
	text-align: right;
}
div#information ul.continue li {
	display: inline;
}

/********* ユーティリティ *******************************************/

div#utility {
	float: left;
	width: 260px;
	margin-right: 25px;
	margin-bottom: 20px;
}
div#utility h2 {
	display: none;
}
div#utility div.utility {
	margin: 15px 0;
	padding-bottom: 10px;
}
div#utility div.utility h3 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 16px;
	font-weight: normal;
}
div#utility div.utility div.content {
	margin: 0 10px;
}
div#utility div.utility ul {
	margin-right: 0;
}
div#utility div.utility ul li ul {
	margin-top: 0;
	margin-bottom: 0;
}



div#utility div.utility dl {
	margin: 0;
	max-height: 1200px;
	overflow: auto;
	font-size: 13px;
}
div#utility div.utility dl dt {
	background-image: url(../files/medias/common/icon_yaji.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #873;
	font-size: 14px;
	padding-left: 20px;
}

div#utility div.utility dl dd {
	padding-left: 20px;
	padding-bottom: 10px;
	margin-left: 0;
	border-bottom: 1px dotted #888;
	margin-bottom: 20px;
}





div#utility div.utility form {
	margin: 0;
}
div#utility div.utility form dl {
	margin: 0;
}
div#utility div.utility form dl dt {
	display: none;
}
div#utility div.utility form dl dd {
	margin: 0;
}
div#utility div.utility form dl dd input {
	width: 170px;
}
div#utility div.utility form p {
	margin: 0 0 10px 0;
}


.bt_merumaga {
	float: right;
	width: 318px;
	margin-bottom: 0;
	text-align: center;
	border:1px solid #000;
	font-size: 16px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration:none;
	display: block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	background-color: #333;

}

.bt_merumaga:hover {
	filter: alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
}



/********* トップページ ***********************************************/


div#about {
	margin-bottom: 40px;
}

.about_title {
	border-bottom: 1px solid #000;
	clear: both;
	margin-bottom: 20px;
}


div#about h2 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 24px;
	line-height: 120%;
	color: #654;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	display: inline-block;
}


div#about h3 {
	display: inline-block;
	font-weight: normal;
	font-size: 26px;
	padding: 0;
	margin: 0;
	color: #6c6c6c;
}

div#about h3 span {
	font-size: 20px;
	margin-right: 15px;
}


div#about p {
	width: 600px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 160%;
}






div#banner_page {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}


div#banner_page h3 {
	text-align: center;
	margin-bottom: 10px;
}

.banner_page {
	float: left;
	width: 301px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #999;
	
}
	
.banner_page h4 {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-size: 14px;
	
}

.banner_page p {
	margin: 0;
	padding: 2px;
	padding-top: 0;
	font-size: 12px;
}

.banner_page_img {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	
}



.banner_page_img:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}

/********* ギャラリー ***********************************************/

div#gallery {
	overflow: hidden;
}
div#gallery div.gallery {
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
}
div#gallery div.gallery p.picture {
	overflow: hidden;
	width: 140px;
	height: 100px;
	margin: 0;
}
div#gallery div.gallery p.picture a {
	color: #FFFFFF;
	text-decoration: none;
}
div#gallery div.gallery p.picture a img {
	min-width: 140px;
	min-height: 100px;
}
div#gallery div.gallery p.picture a span.empty {
	display: block;
	line-height: 100px;
	width: 140px;
	height: 100px;
	background-color: #AAAAAA;
	text-align: center;
}
div#gallery div.gallery p.comment {
	overflow: hidden;
	width: 140px;
	margin: 3px 0 0;
	font-size: 80%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div#gallery ul {
	margin: 10px 0 20px 0;
}
div#gallery ul li {
	display: inline;
}
div#gallery ul li img {
	margin: 0 2px 10px 0;
}

/********* 個別指定 *************************************************/

div#page_link ul.page_link {
	margin: 0 0 20px 0;
}
div#page_link ul.page_link li {
	display: inline;
	list-style: none;
	margin-right: 10px;
}
div#page_link ul.page_link li.home {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}
div#page_link ul.page_link li.previous:before {
	content: "<< ";
}
div#page_link ul.page_link li.next:after {
	content: " >>";
}

ul.link {
	margin: 0;
	padding: 10px;
	text-align: right;
}
ul.link li {
	display: inline;
	margin-left: 5px;
}








/* ----- 個別 -------------------------------------- */


.image_right {
	float: right;
	margin-bottom: 10px;
	margin-left: 50px;
}


.image_left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}



.image_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}



.bt_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.bt_center:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


.bt_left {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
}


.bt_left:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}
.bt_right {
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}


.bt_right:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


.f10 {
	font-size: 10px;
	line-height: 110%;
	font-weight: normal;
}

.f12 {
	font-size: 12px;
	line-height: 110%;
	font-weight: normal;
}

.f14 {
	font-size: 14px;
	line-height: 120%;
	font-weight: normal;
}



.red {
	color: #F00;
}
