@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /faq/
*   faq.css
*
--------------------------------------------------------------------------------*/
#page_faq a{
    color: #771116;
}

@media screen and (min-width: 769px) {
/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 110px;}
.img_btm_animal{
    width: 380px;
    height: 240px;
    background-image:url(../images/faq/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -5px;
    right: 90px;
}
/* ------------------------------------------------------- */

#page_faq .section{
    clear: both;
    margin: 0 0 75px 0;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.71em;
}

#page_faq li{
    clear: both;
    margin: 0 0 20px 0;
    overflow: hidden;
}

#page_faq li dt{
    width: 120px;
    font-size: 29px;
    text-indent: 30px;
    font-weight: bold;
    clear: both;
    float: left;
}

#page_faq li dt .num{ line-height: 1em;}
.for_ie #page_faq li dt .num{padding: 3px 0 0 0; line-height: 1em;}

#page_faq li dd{
    width: 620px;
    padding: 0 80px 0 20px;
    box-sizing: border-box;
    float: left;
    text-align: left;
}

#page_faq li dd .img{
    margin: 15px 0 0 0;
}

#page_faq li dd .img img{ width: 486px; height: auto;}

#page_faq li dt.ques{
    width: 100%;
    margin: 0 0 20px 0;
    min-height: 40px;
    display: table;
}

#page_faq li dt.ques .num{ width: 120px; position: relative;}
#page_faq li dt.ques .title{
    padding: 8px 80px 8px 20px;
    text-align: left;
    font-size: 14px;
    text-indent: 0;
    font-weight: normal;
    color: #000;
    background-color: #ece9e4;
}

#page_faq li dt.ques p{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#page_faq li dt.ques{ background-color: #fff; color: #777;}
#page_faq li dd.ques{ background-color: #ece9e4;}
#page_faq li dt.ans{ color: #fff; position: relative;}

#page_faq li dt.ques{
    background-image:url(../images/faq/parts_title_q.png);
    background-repeat: no-repeat;
    background-position: 37px center;
}

#page_faq li dt.ans{
    background-image:url(../images/faq/parts_title_a.png);
    background-repeat: no-repeat;
    background-position: 37px center;
}

#page_faq li .o10 dt .num{ letter-spacing: -.05em;}
#page_faq li .o10 dt.ques{
    background-position: 28px center;
}

#page_faq li .o10 dt.ans{
    background-position: 28px center;
}

}