@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /job/
*   job.css
*
--------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
    /* --------------------------------------------------
    *
    *
        #page_job_single
    *
    *
    -------------------------------------------------- */
    .slick-prev { left: 0; }
}
@media screen and (min-width: 769px) {
/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner.index{ width: 760px; padding-bottom: 250px;}
#contents_inner.single{ width: 750px; padding-bottom: 160px;}
#contents_inner.index .img_btm_animal{
    width: 260px;
    height: 334px;
    background-image:url(../images/job/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -108px;
    left: 20px;
}

#contents_inner.single .img_btm_animal{
    width: 260px;
    height: 334px;
    background-image:url(../images/job/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -108px;
    left: 355px;
}
/* ------------------------------------------------------- */

/* --------------------------------------------------
*
*
    #page_job_index
*
*
-------------------------------------------------- */
.img_btm_animal, .btm_page_top, #job_btm_nav { display: none; }
#contents_inner.index {
    width: 800px !important; 
}
#contents_inner h3 {
    text-align: left !important;
    padding: 5px 0px 5px 20px !important;
    font-size: 18px !important;
    margin-bottom: 10px !important;
}
.profession-box {
    width: 100%;
    height: 100%;
    display: block;
}
.profession-box .profession {
    width: auto;
    float: left;
    margin-left: 6px;
    margin-top: 15px;
}
.profession-box .profession:first-child {
    margin-left: 0px;
}
#contents_inner .profession .profession-tx { border-bottom: solid 5px #800000; height: 45px; margin-bottom: 10px; }
#contents_inner .profession h4 {
    clear: both;
    line-height: 1.25;
    text-align: left;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .09em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
}
.custom-class li { margin-right: 6px; }
.custom-class li:nth-last-child(1) { margin-right: 0px; }
/*end part custom job page*/
#page_job_index{
    overflow: hidden;
}

#page_job_index .job_copy{
    margin: 0 0 45px 0;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: bold;
}

#page_job_index .page_job_list ul{
    overflow: hidden;
    width: auto;
    display: block;
}

#page_job_index .page_job_list li{
    width: 252px;
    float: left;
    position: relative;
}

#page_job_index .page_job_list li p{ transition: opacity .1s ease; position: relative;}

/*#page_job_index .page_job_list li .pic:after{
    content: '';
    width: 24px;
    height: 100%;
    background-image:url(../images/job/parts_thumb_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: -26px;
    z-index: 2;
}*/

#page_job_index .page_job_list li:hover p{ opacity: .7;}
#page_job_index .page_job_list li:hover img{ opacity: 1;}

#page_job_index .page_job_list li.no_arrow .pic:after{ display: none;}
#page_job_index .page_job_list li:last-child .pic:after{ display: none;}

#page_job_index .page_job_list li a {
    font-weight: bold;
    text-decoration: none;
    color: #49361d;
    line-height: 1.57em;
    text-align: left;
}

#page_job_index .page_job_list li a:hover{ text-decoration: none;}

#page_job_index .page_job_list li br{ display: none;}
#page_job_index .page_job_list li .ruby{ font-size: 11px;}
#page_job_index .page_job_list li .single_ruby{ display: none;}

#page_job_index .page_job_list li .pic img{
    width: 100%;
    height: auto;
    position: relative;
}

/* --------------------------------------------------
*
*
    #page_job_single
*
*
-------------------------------------------------- */
#page_job_single .page_job_list{
    padding: 0 0 60px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

#page_job_single .page_job_list li{
    width: 82px;
    margin: 0 10px 0 0;
    float: left;
    position: relative;
}

#page_job_single .page_job_list li p{ transition: opacity .1s ease;}

#page_job_single .page_job_list li:after{
    content: '';
    width: 21px;
    height: 100%;
    display: block;
    background-image:url(../images/job/parts_thumb_arrow.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 21px;
    position: absolute;
    top: 30px;
    right: -15px;
    z-index: 2;
}

#page_job_single .page_job_list li:hover p{ opacity: .7;}
#page_job_single .page_job_list li:hover img{ opacity: 1;}

#page_job_single .page_job_list li:last-child:after{ display: none;}
#page_job_single .page_job_list li.no_arrow:after{ display: none;}

#page_job_single .page_job_list li a{ text-decoration: none;}
#page_job_single .page_job_list li a:hover{ text-decoration: underline;}

#page_job_single .page_job_list li .pic{
    margin: 0 0 8px 0;
}

#page_job_single .page_job_list li img{
    width: 82px;
    height: auto;
}

#page_job_single .page_job_list li .division_copy{
    margin: 0 0 4px 0;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
}

#page_job_single .page_job_list li .division{
    font-size: 12px;
    letter-spacing: .08em;
    line-height: 1.1em;
}

#page_job_single .page_job_list li .division span{
    display: block;
}

#page_job_single .page_job_list li .division span.single_ruby{ display: none;}

#job_body{
    clear: both;
    text-align: left;
}

#job_title h3{
    width: auto;
    margin: 0 0 30px 0;
    float: left;
    background: none !important;
    text-align: left;
    display: table;
    color: #000;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .09em;
}

#job_title h3 .division{
    padding: 0 0 0 5px;
    height: 100%;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    letter-spacing: .09em;
}

#job_title h3 .division span.ruby{
    margin: 3px 0 0 -.5em;
    font-size: 18px;
    display: none;
}

#job_title h3 .division span.single_ruby{
    margin: 10px 0 0 0;
    font-size: 10px;
    letter-spacing: 0;
    display: block;
}

#job_title .name{
    width: auto;
    margin: 25px 0 0 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
}

#job_title .name .position{
    margin: 0 10px 0 0;
    font-size: 12px;
    letter-spacing: 0;
}

#job_title .btn_movie{
    clear: both;
    margin: -30px 0 20px 0;
    float: right;
}

#job_content{
    margin: 0 0 5px 0;
    clear: both;
    text-align: left;
    overflow: hidden;
}

#job_content .main_visual{
    width: 738px;
    margin: 0 auto 50px auto;
}

#job_content .main_visual img{
    width: 100%;
    height: auto;
}

#job_content .main_copy{
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.333em;
    letter-spacing: .09em;
}

#job_content .section{
    clear: both;
    margin: 0 0 75px 0;
    padding: 5px 0 0 0;
    overflow: hidden;
    text-align: justify;
    text-justfy: inter-ideograph;
}
    
#job_content .pic{
    width: 310px;
    float: left;
}

#job_content .pic img{
    width: 100%;
    height: auto;
}

#job_content .desc{
    width: 415px;
    float: right;
    font-size: 14px;
    line-height: 1.57em;
    letter-spacing: .05em;
}

#job_content .section.right .pic{ float: right;}
#job_content .section.right .desc{ float: left;}

#job_content .desc h4{
    margin: -5px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: .04em;
}

#career_up{
    clear: both;
    margin: 0 0 55px 0;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.71em;
}

#career_up h3{
    margin: 0 0 20px 0;
}

#career_up tr{
    border-bottom: 5px solid #e3e0d9;
}

#career_up th{
    width: 120px;
    height: 30px;
    padding: 0 30px;
    vertical-align: middle;
    background-color: #fff;
}

#career_up td{
    width: 510px;
    padding: 0 30px;
    vertical-align: middle;
    background-color: #ece9e4;
}

#job_movie{
    margin: 0 0 50px 0;
    padding: 30px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

#job_btm_nav{
    overflow: hidden;
}

#job_btm_nav .btn_prev{ float: left;}
#job_btm_nav .btn_next{ float: right;}

}
/*Renew layout single job*/
#job_content .business-content { margin: 15px 0; border: solid 1px #FFF8DC; padding: 5px 5px; opacity: 0.9;}
#job_content .business-content h4 { 
    margin-bottom: 15px; 
    font-weight: bold; 
    font-size: 22px; 
    text-align: center; 
    border-bottom: solid 3px #708090;
    padding-bottom: 5px;
    line-height: 28px;
}
#job_content .business-content p { line-height: 20px; font-weight: 500; }
#page_job_single .job_entry_are { margin: 0 0 30px 0; }
#page_job_single .job_entry_are .newgraduate { margin-right: 5px; }
#page_job_single .job_entry_are .mid_carrer { margin-left: 5px; }
#page_job_single .job_entry_are .newgraduate, #page_job_single .job_entry_are .mid_carrer {
    display: inline-block;
    width: 48%;
    height: 40px;
    opacity: 0.5;
}
#page_job_single .job_entry_are .newgraduate a, #page_job_single .job_entry_are .mid_carrer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    min-width: 100%;
    height: 40px;
    background-color: #2F4F4F;
    line-height: 2.4;
    border-radius: 2px;
}
#page_job_single .job_entry_are .newgraduate a:hover, #page_job_single .job_entry_are .mid_carrer a:hover { opacity: 0.5; }
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 200px; line-height: 10px; color: #000; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }
.slick-prev, .slick-next { top: 30%; }
.slick-next { right: 40px; }
.slick-slider .slick-list { margin-right: 10%; margin-left: 10%; }
#page_job_single .job_list .multiple-jobs .slick-list .slick-track .slick-slide { text-align: center; }
#page_job_single .job_list .multiple-jobs .slick-list .slick-track .slick-slide img { object-fit: contain; padding-left: 40px; padding-bottom: 10px; }
#page_job_single .job_list .multiple-jobs .caption { text-decoration: none; font-size: 16px; font-weight: 600; }
#page_job_single .job_list .multiple-jobs .caption:hover { text-decoration: underline; color: #2F4F4F; }
}