@charset "utf-8";
/*--------------------------------------------------------------------------------
*
*   2016
*   PROPOLIFE_RECRUIT
*
*   /support/
*   support.css
*
--------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) {

/* -------------------------------------------------------
    common overwrite
 ------------------------------------------------------- */
#contents_inner{ padding-bottom: 185px;}
.img_btm_animal{
    width: 215px;
    height: 268px;
    background-image:url(../images/support/img_btm_animal.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -35px;
    right: 80px;
}
/* ------------------------------------------------------- */

#page_support{
    text-align: left;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 1.714em;
}

#page_support .support_desc{
    margin: 0 0 50px 0;
    padding: 0 15px;
}

#page_support .support_desc img{
    margin: 0 20px 20px -15px;
    float: left;
}

#page_support h3{
    margin: 0 0 20px 0;
}

#page_support .list_copy{
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#page_support .support_list li{
    min-height: 320px;
    padding: 30px 0 0 0;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    clear: both;
    background-color: #ece9e4;
    overflow: hidden;
    position: relative;
}

#page_support .support_list li .description{
    width: 442px;
    margin: 0 0 0 35px;
    float: left;
    line-height: 1.57em;
}

#page_support .support_list li .voice{
    padding: 15px 20px 10px 20px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
}

#page_support .support_list li .voice:after{
    content: '';
    width: 21px;
    height: 100%;
    display: block;
    background-image:url(../images/support/parts_voice_arrow_right.png);
    background-repeat: no-repeat;
    background-position: left 20px;
    position: absolute;
    right: -21px;
    top: 0;
}

#page_support .support_list li .pic{
    min-width: 263px;
    line-height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#page_support .support_list li.left .description{ float: right; margin: 0 35px 0 0;}
#page_support .support_list li.left .pic{ left: 0; right: inherit;}
#page_support .support_list li.left .voice{ border-right: none; border-left: 1px solid #fff;}
#page_support .support_list li.left .voice:after{ background-image:url(../images/support/parts_voice_arrow_left.png); left: -21px; right: 0;}

#page_support .support_list li .description h4{
    padding: 8px 0;
    margin: 0 0 15px 0;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .09em;
}

#page_support .support_list li .description .desc{
    margin: 0 0 25px 0;
}

#page_support .support_list .old_system{
    margin: 0 0 30px 0;
    padding: 0 16px;
}

}