@charset "utf-8";
/* ===================================================================
CSS information

 file name  :  map.css
 style info :  mapページスタイル指定
=================================================================== */

article.content{
	background:#FFF;


}

#map {
	max-width: 923px;
	margin:0 auto;
}

#map img {
	width: 100%;
	height: auto;
}
