@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&subset=cyrillic,japanese');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
/*@font-face {
    font-family: 'hiragino_kaku_gothic_prow3';
    src: url('../css/fonts/_pro_w3-webfont.woff2') format('woff2'),
         url('../css/fonts/_pro_w3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hiragino_kaku_gothic_prow6';
    src: url('../css/fonts/_pro_w6-webfont.woff2') format('woff2'),
         url('../css/fonts/pro_w6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('../css/fonts/AvenirNext-UltraLight.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src:  url('../css/fonts/AvenirNext-UltraLight.woff') format('woff'), 
  url('../css/fonts/AvenirNext-UltraLight.ttf') format('truetype'), 
  url('../css/fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {color: #ae8148;} button:focus {outline: none;}
.btn {font-size: 18px; color: #ae8148; border-radius: 0;}
.btn,a,.btn:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.btn:hover,.btn:focus,.btn.focus{color:#ae8148;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
::selection{background:#ae8148; color:#FFF; text-shadow:none;}
::-moz-selection{background:#ae8148;color:#FFF;text-shadow:none;}
::-webkit-selection{background:#ae8148;color:#FFF;text-shadow:none;}
html{width:100%;height:100%;}
body{width:100%;height:100%;background:#fff; font-family: '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif; line-height: 1.8em; font-size: 14px; font-weight:300;-webkit-font-smoothing:subpixel-antialiased;-webkit-font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale;color:#000;}
.btn-link{color:#000;word-break:normal;word-break:break-all;word-break:keep-all;}
.btn-link:hover{color:#000;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family:'hiragino_kaku_gothic_prow6', Helvetica, Arial, sans-serif; line-height: 1.6em; font-weight: bold; text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#000; margin-bottom: 16px; font-size: 32px;}
a:hover,a:focus{text-decoration:none;color:#ae8148;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
h2{font-size:36px;}
h3{font-size:30px; font-weight: 500;}
h4 {font-size: 16px;}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html,body{position:relative;height:100%;}
figure {margin-bottom: 0;}
p {margin-bottom: 10px;}
.form-control:focus {
  box-shadow: none;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
#page{height:100%;}
.invisible{transition:opacity .5s ease;opacity:0;}
.visible{transition:opacity .5s ease;opacity:1;}

.headline {
  font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
  text-align: center;
  color: #ae8148;
  font-weight: 100;
}

.main_nav {
  border-left: 1px solid #eaeaea;
  margin-left: 30px;
  padding-left: 15px;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {
  color: #3c3c3c;
}
.navbar-expand-lg .navbar-nav .nav-link, .navbar-nav .nav-link {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #3c3c3c;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navbar-nav .nav-item:hover > .nav-link::before, .navbar-nav .nav-item.active>.nav-link::before {
  content: '';
  display: block;
  border-bottom: 4px solid #ae8148;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropdown-menu {margin-top: 0px; border-radius: 0;}

body {
  position:relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.banner {
  height: 100%;
}
/*.banner::before {
  background: url('../images/1x/top-image-prostyle.jpg');
  background-position: center 45px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
}*/
.bg_common::after {
  background: url('../images/1x/top-image-prostyle.jpg');
  background-position: center 45px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
}
.fullheight.bg_common::before {height: 100vh;}
.btnInquiries {
  padding: 23px 15px;
  background: #ae8148;
  color: #fff;
  display: block;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
}
.btnInquiries:hover {
  background: #000;
  color: #fff;
}
.hourwoking {
  margin-bottom: 0;
  padding: 12px 0;
  font-size: 13px;
}
.freecall {
  margin-bottom: 0;
  font-family: 'AvenirNext-UltraLight';
  font-size: 37px;
  font-weight: 800;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
.freecall a {
  color: #000;
}
.i_phone {
  background: url('../images/1x/i_phone.svg') no-repeat;
  width: 34px;
  height: 27px;
  display: inline-block;
}
footer {
  background: #fff;
}
.footer_top .freecall {
  font-size: 35px; 
}
.footer_mid {
  border-top: 1px solid #ae8148;
  border-bottom: 1px solid #ae8148;
  padding: 40px 0;
}
ul.menu_footer {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 450px;
}
ul.menu_footer li {
  display: inline-block;
  position: relative;
}
ul.menu_footer li::before {
  content: '';
  width: 1px;
  height: 13px;
  background: #ae8148;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
}
ul.menu_footer li::after {
  content: '';
  width: 1px;
  height: 13px;
  background: #ae8148;
  display: block;
  position: absolute;
  right: -1px;
  top: 5px;
}
ul.menu_footer li:first-child::before {
  content: '';
  width: 1px;
  height: 13px;
  background: #ae8148;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
}
/*ul.menu_footer li:nth-child(4) {
  margin-right: 50px;
}*/
/*ul.menu_footer li:nth-child(5)::before {
  content: '';
  width: 1px;
  height: 13px;
  background: #ae8148;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
}*/
ul.menu_footer li a {
  padding: 0 5px;
  display: block;
  font-size: 12px;
}
ul.menu_footer li:hover a {
  text-decoration: underline;
}
.logo_footer {
  float: right;
  margin-top: 10px;
}
.copyright {
  font-size: 12px;
  text-align: center;
}
.footer_bottom {
  padding: 20px 0 70px;
}
.footer_bottom a {
  color: #000;
}

.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;
}
.intro-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.intro-header .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.magdeleine.co/wp-content/uploads/2015/02/YS4_5968_69_70-2-3-1400x933.jpg") center center no-repeat;
  background-size: cover;
}
.intro-header .header-content {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}
.section_news {
  padding: 40px 0 0;
}
.block_news {
  background: rgba(255, 255, 255, .8);
  padding: 20px;
  height: 104px;
  overflow: auto;  
}
.block_news p {
  font-size: 12px;
  margin-bottom: 5px;
}
.block_news::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #cccccc;
}
.block_news::-webkit-scrollbar {
  width: 10px;
  background-color: #cccccc;
}
.block_news::-webkit-scrollbar-thumb {
  background-color: #b48856;
}

.block_valuable {
  text-align: center;
  background: #fff;
  padding: 60px 0 50px;
  margin-top: 40px;
}
.block_valuable h3 {
  font-size: 20px;
  color: #3c3c3c;
}
.block_valuable p {
  color: #b48856;
  line-height: 2em;
}
.block_valuable p:last-child {
  margin-bottom: 0;
}

.frm_introduction {
  width: 400px;
  margin: 50px auto 0;
}
.custom-select .icon {
  top: 1em !important;
}
.custom-select .reset {
  display: none;
  position: absolute;
  top: 0.7em;
  right: 1em;
  cursor: pointer;
}
.custom-select.visible-input .menu {
  position: absolute;
  left: -1000px;
}
.custom-select:focus {
  outline: none;
}
.ui.selection.dropdown {
  border-color: #b48856;
  border-radius: 0;
  color: #b48856;
  min-height: 45px;
  text-align: center;
  margin-bottom: 20px;
}
.ui.default.dropdown:hover>.text, .ui.default.dropdown>.text, .ui.dropdown:hover>.default.text, .ui.dropdown>.default.text {
  color: #b48856;
  font-size: 18px;
}
.ui.selection.dropdown:hover {
  border-color: #b48856;
}
.ui.selection.active.dropdown:hover, .ui.selection.active.dropdown:hover .menu, .ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
  border-color: #b48856;
}
.ui.dropdown .menu>.item {
  color: #b48856;
}
.ui.selection.dropdown .menu {
  border-radius: 0;
}
.ui.dropdown>.dropdown.icon:before {
  content: url('../images/1x/i_down.png');
  width: 26px;
  height: 10px;
}
.ui.selection.dropdown .menu>.item {
  border-color: #f1f1f1;
}
.ui.dropdown>.dropdown.icon::after {
  content: '';
  position: absolute;
  right: 50px;
  top: -4px;
  width: 1px;
  height: 45px;
  background: #b48856;
}
.ui.dropdown .menu>.item:first-child {
  border-color: #b48856;
}

/*.statusselling_pro {
  padding: 85px 0 160px;
}

.statusselling_pro:nth-child(1) {
  padding: 85px 0 250px;
}
*/
.img_statusselling {
  border: 5px solid #fff;
  overflow: hidden;
}
.img_statusselling img {
  width: 100%;
}
.box_infoproducts {
  background: #fff;
  padding: 10px;
  width: 430px;
  position: absolute;
  z-index: 10;
  top: 66px;
}
.box_infoproducts.right {
  left: -100px;
}
.proname {
  background: #857a6b;
  padding: 20px 25px;
}
.proname h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}
.proname p {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
}
.prosales {
  margin-bottom: 0;
  background: #fa9617;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  height: 93px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.soldout {
  background: #000;
}
.infoproducts_content {
  background: #f3f3f3;
  padding: 30px;
}
.location {
  font-size: 12px;
  font-family: 'hiragino_kaku_gothic_prow6', Helvetica, Arial, sans-serif;
}
.btnDocument {
  background: #fff;
  color: #857a6b;
  font-size: 14px;
  font-family: 'hiragino_kaku_gothic_prow6', Helvetica, Arial, sans-serif;
  text-align: center;
  border: 2px solid #857a6b;
  padding: 10px 45px;
  width: 160px;
  margin-right: 10px;
  display: inline-block;
}
.btnDocument:last-child {
  margin-right: 0;
}
.btnDocument:hover {
  background: #fa9617;
  color: #fff;
  border-color: #fa9617;
}
.btnDocument:hover .i_right {
  background: url('../images/1x/i_right_white.png') no-repeat;
}
.address {
  border-left: 1px solid #000;
  padding-left: 10px;
  margin-bottom: 30px;
}
.i_right {
  background: url('../images/1x/i_right.png') no-repeat;
  width: 7px;
  height: 12px;
  display: inline-block;
  margin-left: 15px;
}
.i_right_white {
  background: url('../images/1x/i_right_white.png') no-repeat;
  width: 7px;
  height: 12px;
  display: inline-block;
  margin-left: 15px;
}
.btnProperty:link,
.btnProperty:active,
.btnProperty:visited {
  background: #ae8148;
  color: #fff;
  display: block;
  padding: 20px 30px;
  font-size: 14px;
  font-family: 'hiragino_kaku_gothic_prow6', Helvetica, Arial, sans-serif;
}
.btnProperty:hover {
  background: #000;
  color: #fff;
}
/*.statusselling_pro.custom {
  padding: 0 0 60px;
}
.statusselling_pro_item.custom {
  position: relative;
  top: -115px;
}
.statusselling_pro_item.custom2 {
  position: relative;
  top: -85px;
}*/
.section_gallerys {
  padding-bottom: 50px;
}
.w_section_gallerys {
  padding: 110px 0;
  background: #fff;
}
.section_gallerys.project .w_section_gallerys {padding: 0;}
.owl_gallerys .photo {
  margin: 10px;
  display: block;
  height: 165px;
  overflow: hidden;
}
.owl_gallerys .photo img {
  height: 165px;
  object-fit: cover;
}
.owl_gallerys .photo_larg {
  height: 350px;
}
.owl_gallerys .photo_larg img {
  height: 350px;
  object-fit: cover;
}
.owl_gallerys.owl-theme .owl-nav button {
  position: absolute;
  top: 43%;
  text-indent: -999999px;
  display: block;
  width: 29px;
  height: 80px;
}
.owl_gallerys.owl-carousel .owl-nav button.owl-prev {
  left: -50px;
  background: url('../images/1x/arrow_left.png') no-repeat;
}
.owl_gallerys.owl-carousel .owl-nav button.owl-next {
  right: -50px;
  background: url('../images/1x/arrow_right.png') no-repeat;
}
.owl_gallerys.owl-theme .owl-nav [class*=owl-]:hover {
  opacity: .8;
}
figure.photo {
  position: relative;
  overflow: hidden;
  background: #000000;
  text-align: center;
}
figure.photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.photo img {
  max-width: 100%;
  vertical-align: top;
}
figure.photo i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.photo.orange {
  background-color: #ae8148;
}
figure.photo.orange i {
  color: #ae8148;
}
figure.photo:hover img,
figure.photo.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.photo:hover i,
figure.photo.hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section_distribution_record {
  padding-bottom: 100px;
  font-size: 14px;
}
.section_distribution_record.project {padding-bottom: 50px;}
.w_section_distribution_record {
  background: #fff;
  /*padding: 100px 0;*/
}

.section_video {
  padding-bottom: 40px;
}
.w_section_video {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
}
.frame_video {
  margin-bottom: 40px;
}
.modal {
  background: rgba(226, 185, 133, 0.73);
}
.modal-content {
  border: none;
  border-radius: 0;
  padding: 60px 70px;
  margin-top: 60px; /*thêm*/
}
.modal-lg {
  max-width: 1000px;
}
.modal_brands h2, .modal_commitment h2 {
  text-align: center;
  font-size: 35px;
  font-family: 'Kosugi Maru', Helvetica, Arial, sans-serif;
  color: #bf9a6f;
  margin-bottom: 60px;
  font-weight: 300;
}
ul.list_row {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.list_row li:first-child {
  border-top: 1px solid #e0e0e0;
}
ul.list_row li {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  padding: 40px 0;
}
ul.list_row li p {
  margin-bottom: 0;
  font-size: 14px;
  color: #b48856;
}
.logo_brands {
  display: block;
  margin-top: 40px;
}
ul.list_row li h4 {
  color: #3c3c3c;
}
.btnClose {
  position: absolute;
  right: 0;
  top: -55px;
}
.btnClose:hover img, .btnClose_footer:hover img {
  opacity: .8;
}
.btnClose_footer {
  display: block;
  text-align: center;
  margin-top: 60px;
}
.modal_commitment h3 {
  font-size: 25px;
  color: #b48856;
  text-align: center;
  font-family: 'Kosugi Maru', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
}
.modal_commitment h5 {
  font-size: 20px;
  font-family: 'hiragino_kaku_gothic_prow3', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #b48856;
}
.modal_commitment ul.list_row li p {
  color: #000;
}

.img_row {
  margin-bottom: 15px;
  width: 100%;
}
.back-to-top {
  visibility:hidden;
  background-color:#000;
  color:#fff;
  width:50px;
  height:50px; 
  border-radius: 50%; 
  text-align:center;
  line-height:48px;
  position:fixed;
  bottom:65px;
  right:35px;
  z-index:90;
  cursor:pointer;
  opacity:0;
  -webkit-transform:translateZ(0);
  transition:all .6s;
  /* box-shadow: 0 5px 20px rgba(0,0,0,.2); */
}
.back-to-top:hover{background-color: #b48856;opacity: 1; color: #fff;}
.back-to-top.show{visibility: visible; bottom: 30px; opacity: 1;}

./*btn_brand_commitment {
  font-family: 'Kosugi Maru', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #b48856;
  text-align: center;
  border: 1px solid #b48856;
  padding: 6px 20px;
  width: 400px;
  margin: 0 auto 10px;
  display: block;
  position: relative;
}
.btn_brand_commitment::after {
  content: '';
  width: 1px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 0;
  background: #b48856;
}
.btn_brand_commitment .i_down {
  background: url('../images/1x/i_down.png') no-repeat;
  width: 26px;
  height: 12px;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}
.btn_brand_commitment:hover {
  background: #f1f1f1;
}*/
#modal_video h2 {
  font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif;
  font-size: 40px;
}

.w_row_custom {
  border-bottom: 1px solid #D6D6D6;
}
.w_row_custom:first-child {
  border-top: 1px solid #D6D6D6;
}
.row_custom {
  padding: 15px 0;
  border-bottom: 1px solid #D6D6D6;
}
.row_custom:last-child {
  border-bottom: none;
}
.table_title {
  text-align: center;
  display: block;
  padding: 15px 0;
  height: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* purchase */
.section_purchase p {font-size: 15px;}
.section_purchase {
  padding-top: 120px;
}
.section_purchase h2 {
  background: none;
  border:none;
  padding: 0 0 3px;
  margin: 0 0 25px 0;
  /*padding: 0 50px !important;*/
  text-align: center;
  line-height: 1em;
  position: relative;
  font-size: 3.2em;
  color: #6C6C6C;
  font-family:'游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}
.section_purchase h2 img {
  max-height: 50px;
  height: 2em;
  width: auto;
  position: relative;
  z-index: 1;
}
.border_left {
  border-left: 2px solid #b48856;
  padding-left: 15px;
  margin-left: 15px;
}
.box_checkout {
  background: #b48856;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}
.box_checkout h3 {
  color: #fff;
  font-weight: bold;
}
.box_checkout p {
  border: 1px solid #fff;
  padding: 10px 15px;
  display: block;
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.box_line {
  border: 2px solid #b48856;
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}
.box_line p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  color: #b48856;
}
.card.card_buy {
  border: 2px solid #b48856;
  border-radius: 0;
  margin-bottom: 30px;
}
.card_buy .card-header {
  background: #b48856;
  color: #fff;
  border-bottom: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.card_buy .card-header:first-child {
  border-radius: 0;
}
.card_buy .card-text {
  /*color: #b48856;*/
  font-size: 14px;
}
.bg_notbuy {
  background: url('../images/1x/i_o.png') no-repeat center center;
}
.bg_willbuy {
  background: url('../images/1x/i_x.png') no-repeat center center;
}
.section_cate {
  padding: 60px 0;
}
.box_cate_img *,
.box_cate_img *:before {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.box_cate_img {
  display: block;
  position: relative;
  height: 416px;
  overflow: hidden;
}
.box_cate_img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.box_cate_img img {
  width: 100%;
  height: 416px;
  object-fit: cover;
}
.box_cate_img.img_haft, .box_cate_img.img_haft img {
  height: 208px;
}
.box_cate_img figcaption {
  position: absolute;
  left: 0;
  bottom: 5px;
  color: #fff;
}
.box_cate_img figcaption span {
  z-index: 1;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.box_cate_img figcaption::before {
  background-color: #343a40ad;
  bottom: -5px;
  content: '';
  left: -5px;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: 0;
}
.box_cate_img:hover figcaption::before {
  right: -5px;
}
.section_map {
  padding: 60px 0;
}
.section_map h5 {
  background: #b48856;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.table_purchase th, .table_purchase td {
  font-size: 16px;
  border-color: #614d3f;
}
.table_purchase.table thead th, .table_purchase.table-bordered thead td {
  border-color: #614d3f;
  border-width: 1px;
  vertical-align: middle;
}
.table_purchase td {
  background: #f7f3ea;
}
.section_devproject h2 {
  font-size: 22px;
  font-weight: 300;
  border-bottom: 1px solid #595857;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.section_devproject h2 img {
  margin-right: 10px;
}
.section_devproject h1.devproject_title {
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1em;
  min-height: 70px;
}
.section_devproject h1.devproject_title span {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1em;
  display: inline-block;
}
.box_cate_img.box_cate_img_50p {
  height: 310px;
}
.box_devproject {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #595857;
}
.footer_devproject {
  padding-bottom: 60px;
}
.footer_devproject_content {
  position: relative;
}
.footer_devproject_content::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  min-height: 745px;
  background: #595857;
}
.footer_devproject .col-12:nth-child(1) .footer_devproject_content::before {
  content: none;
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  min-height: 745px;
  background: #595857;
}
.sub_title {
  font-size: 20px;
  margin-bottom: 60px;
}
.w_request {
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn_request {
  background-color: #fff;
  border: 3px solid #1f1f1f;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
  color: #000;
  min-width: 390px;
}

.section_devproject .btn_request {
  background-color: #b48856;
  color: #fff;
  border-color: #92704a;
}

.btn_request:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}
.table_purchase_head {
  font-weight: 600;
  font-size: 16px;
}
.box_table_purchase {
  padding: .75rem;
  border: 1px solid #614d3f;
  min-height: 51px;
}
.table_purchase_sm {
  display: none;
}

.social-banner {
  padding: 50px 0 20px;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.social-banner:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .section_purchase h2 {
    font-size: 20px;
  }
  .box_line p {
    font-size: 14px;
    letter-spacing: -1.5px;
  }
  .box_line {
    padding: 10px;
  }
  .box_checkout {
    padding: 15px;
  }
  .box_checkout h3 {
    font-size: 16px;
    line-height: 1.8em;
    font-weight: bold;
  }
  .box_checkout p {
    margin-bottom: 15px;
  }
  .box_cate_img, .box_cate_img img, .box_cate_img.box_cate_img_50p {
    height: 259px;
  }
  .box_cate_img.img_haft, .box_cate_img.img_haft img {
    height: 129px;
  }
  .footer_devproject_content::before {
    display: none;
  }
  .btn_request {
    min-width: 90%;
    padding: 15px;
  }
  .border_left {
    letter-spacing: -1px;
  }
  .text_conditions {
    letter-spacing: -0.5px;
  }
  .table_purchase th, .table_purchase td {
    font-size: 13px;
    letter-spacing: -1px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .table_purchase_md {
    display: none;
  }
  .table_purchase_sm {
    display: inline-table;
  }
  .table_purchase_sm thead tr th:first-child {
    background: #f7f3ea;
  }
  .footer_devproject {
    padding-bottom: 0;
  }
  .section_devproject h1.devproject_title {
    margin-top: 20px;
  }
  .text_left_sm {
    text-align: left;
  }
  .line_break {
    display: block;
  }
  .f14 {font-size: 14px;}
  .spacing {letter-spacing: -0.5px;}

}

.w_footer_sns {
  padding-top: 25px;
  font-size: 16px;
}
.w_footer_sns p {
  font-size: 15px;
}
.footer_sns {
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  padding: 15px 0;
}
.footer_sns a, .footer_sns p {
  color: #707070;
}

@media (max-width: 768px) {
  .w_footer_sns {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C8C8C8;
  }
  .w_footer_sns p {
    font-size: 12px;
  }
  .footer_sns {
    border: none;
    padding: 0;
  }
}

/* update good design page */
.section_ryokan h1 {
  font-size: 131px;
  text-align: center;
  margin: 130px 0 30px;
  font-family: yu-mincho-pr6n, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.section_ryokan h1 img {
  max-width: 633px;
}
.section_ryokan h1 span {
  position: relative;
  top: 15px;
}
.section_ryokan h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 300;
  font-family: 'Libian SC';
}
.section_ryokan h2 .name {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
}
.box_ryokan_topimg {
  position: relative;
}
.box_ryokan_topimg {
  max-width: 680px;
  text-align: center;
  margin-bottom: 35px;
}
.box_ryokan_topimg img {
  margin-bottom: 20px;
}
.topimg_small {
  padding-left: 10px;
  padding-right: 10px;
}
.box_ryokan_topimg p {
  position: absolute;
  top: 45px;
  left: 45px;
  right: 45px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  font-size: 15px;
  text-shadow: 0px 3px 6px #00000091;
  line-height: 1.8em;
}
.section_concetp {
  margin: 100px 0 0;
  background: url('../images/1x/asetto2@2x.png') repeat;
  padding: 130px 0;
}
.section_concetp h2 {
  color: #B48857;
  font-size: 30px;
  text-align: center;
  position: relative;
  font-family: ubuntu-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
}
.section_concetp h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background: #B48857;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}
.section_concetp h1 {
  font-size: 44px;
  color: #231815;
  text-align: center;
  font-family: '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.section_concetp h1 span {
  font-size: 14px;
  font-weight: 300;
}
.w_big_imgconcept p {
  margin-top: 35px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 20px;
}
.w_big_imgconcept p::before {
  content: '※ ';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
}
.big_imgconcept {
  margin-bottom: 10px;
}
.w_concept_item {
  padding: 0 40px;
}
.section_concetp .description {
  font-size: 17px;
  line-height: 1.8em;
}
.concept_item {
  margin-bottom: 30px;
}
.concept_item p {
  margin-top: 15px;
  margin-bottom: 0;
}
.concept_item .concept_item_img {
  width: 100%;
  height: 276px;
  overflow: hidden;
  position: relative;
  display: block;
}
.concept_item .concept_item_img img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}
.concept_item_img .num {
  position: absolute;
  left: 0;
  top: 0;
  background: #a90010;
  color: #fff;
  text-align: center;
  padding: 0 7px;
}
.section_outline {
  padding: 68px 0 110px;
}
.section_outline h2 {
  color: #C19C73;
  font-size: 20px;
  font-family: '游ゴシック','YuGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 30px;
}
.col_custom {
  border-top: 1px solid #909090;
  padding: 20px 0;
}
.col_custom p {
  margin-bottom: 0;
}
.link_custom {
  color: #000;
}


@media (max-width: 768px) {
  .box_ryokan_topimg {
    max-width: 100%;
    margin-bottom: 5px;
  }
  .box_ryokan_topimg p {
    font-size: 13px;
    top: 15px;
    right: 55px;
    left: 55px;
  }
  .section_ryokan h1 {
    font-size: 47px;
    margin: 100px 0 15px;
  }
  .section_ryokan h1 img {
    max-width: 230px;
  }
  .section_ryokan h1 span {
    top: 5px;
  }
  .section_ryokan h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .section_ryokan h2 .name {
    font-size: 21px;
  }
  .section_ryokan h2 .hotel {
    font-size: 27px;
  }
  .topimg_small {
    padding-left: 3px;
    padding-right: 3px;
  }
  .section_concetp {
    padding: 90px 0;
  }
  .section_concetp h1 {
    letter-spacing: -1px;
  }
  .section_concetp h1 span {
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
  }
  .section_concetp .description {
    margin-bottom: 30px;
  }
  .w_concept_item {
    padding: 0;
  }
  .concept_item p {
    font-size: 13px;
    line-height: 1.5em;
  }
  .section_outline {
    padding-top: 0;
  }
  .table_outline {
    padding: 15px;
  }
  .col_custom {
    padding: 5px 0;
    border-top: none;
  }
  .label_custom {
    background: #C19C73;
    color: #fff;
    padding: 0 5px;
    margin-top: 10px;
  }
  .col_custom p {
    word-break: break-all;
  }
  .link_custom {
    font-size: 12px;
  }
  

}

@media (max-width: 420px){
  .box_ryokan_topimg p {
    font-size: 10px;
    top: 5px;
    right: 5px;
    left: 7px;
  }
}

@media (max-width: 375px){
  .box_ryokan_topimg p {
    font-size: 9px;
  }
}

@media (max-width: 320px){
  .section_ryokan h1 {
    font-size: 35px;
  }
  .section_ryokan h1 img {
    width: 200px;
  }
  .section_ryokan h2 {
    font-size: 24px;
  }
  .box_ryokan_topimg p {
    font-size: 8px;
  }
}